[2022-07-22 01:27] WangShuoran commented on #236
I am use vscode to flash application to board. that is default.

[2022-07-22 01:31] WangShuoran commented on #236
我能录个视频给你们看一下吗？这样可以快点找到问题所在，我看很多问题都不了了之，DEBUG功能在使用操作系统的场景比较重要，我不知道为什么我v4.4.1和最新版openocd不能DEBUG，而且OpenOCD还可以使用systemview等高阶任务处理程序，这对我也会是一个更好的成长过程。
Can I record a video for you to see? In this way, we can quickly find the problem. I think many problems are not solved. The debug function is more important in the scene of using the operating system. I don't know why I can't debug v4.4.1 and the latest

[2022-07-26 09:17] eren-terzioglu commented on #239
Seems it is working on Linux based environment. Did you download idf and idf-tools from Eclipse? If yes could you try these steps:
1) Remove Espressif add-on and its idf version
2) Make a clean Espressif add-on install
3) Install idf and idf-tools from Eclipse
4) Compile hello_world based project from Eclipse
5) Debug the sample again

If problem still happens, please notify.

[2022-07-28 15:08] gerekon commented on #236
Hi @WangShuoran

1) According to your config you use `MS C/C++ Extension`, not ESP-IDF plugin for debugging. This is not default.

2) In your config you specify GCC instead of GDB as debugger. Also for some reason you use `xtensa-esp32s3-elf` toolchain which is for ESP32-S3 (Xtensa arch chip) not for ESP32-C3 (Riscv arch).

3) From your log I see that flashing works well. Does debugging work after

[2022-07-28 15:36] gerekon commented on #236
@WangShuoran
BTW, I see that you placed `phy_init_data.bin` at the default factory app location `0x10000`. Looks like you use custom partition table. By default OpenOCD chooses the first app image from it for debugging, but if you moved partition table too you need to tell OpenOCD where your app.bin is placed in flash directly via command `appimage_offset` as described [here](https://docs.espressi

[2022-07-29 05:57] PaulAnurag commented on #115
Hi Team

I am also having a similar issue while debugging esp32-wrover kit in eclipse.
I have attached a snippet of the error and also the log.

![image](https://user-images.githubusercontent.com/109498417/181692213-d006a999-e69e-46e0-b198-0f166dcf389d.png)
[openocd_ConsoleLog1.txt](https://github.com/espressif/openocd-esp32/files/9216601/openocd_ConsoleLog1.txt)

[2022-08-01 15:53] gerekon commented on #115
Hi @PaulAnurag

I am going to close tis issue since there is no updates from the author for 2 years. The information you provided is not enough to diagnose the cause of the problem. So I'd ask you to open new issue and provide all necessary information as required by issue form.

[2022-08-01 15:53] #115 closed

[2022-08-06 06:16] WangShuoran commented on #236
请问这个gdbinit中的配置和在手册中的openocd的配置在概念上一样吗？需要两个地方都要配置吗？
Is the configuration in gdbinit conceptually the same as the openocd configuration in the manual? Do you need to configure both places?
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#flash-mappings-vs-sw-flash-breakpoints
<img width="557" alt="image" src="https://user-images.githubuserco

[2022-08-06 06:32] WangShuoran commented on #236
Now I want to use ESP-IDF Debug Adapter
My config is:
[code]
I don't know how to config debugger and program

so, I get an error:
![屏幕截图 2022-08-06 143055](https://user-images.githubusercontent.com/43474491/183237422-d9543db7-86d8-462e-a41f-eeaadb3027e9.jpg)
and ESP-IDF Debug Adapter:
DEBUG_ADAPTER_STARTED
2022-08-06 14:30:40,707 - Debug Adapter (main) - CRITICAL - Debug adapter -> Extension: DEBU

[2022-08-06 06:49] WangShuoran commented on #236
还有，通过ESP-IDF Debug Adapter使用好在哪里？
Also, what are the advantages of using the esp-idf debug Adapter?

[2022-08-07 08:11] xobs opened #240 "Profiling crashes openocd: address_space >= 2 (OCD-608)"
### Development Kit

N/A

### Module or chip used

ESP32-S3

### Debug Adapter

USB

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Windows

### Using an IDE ?

N/A

### OpenOCD command line

openocd -d2 -f board/esp32s3-builtin.cfg

### JTAG Clock Speed

default

### ESP-IDF version

master

### Problem Description

1. Launch openocd
2. Telnet to port 4444
3. Run `profile 1 lo

[2022-08-07 08:12] xobs commented on #240
Profiling has successfully completed one time, however most of the time it fails with the above assert.

[2022-08-08 03:58] xobs commented on #240
Note that specifying a `start` and `stop` appears to solve this crash:

[code]

Note, however, that I need to patch the linker script to rename the text section to `.text`, due to a limitation in how gprof works:

[code]

[2022-08-08 13:09] sxliujin opened #241 "esp32-c3 cannot launch built-in JTAG"
### Development Kit

my PCB

### Module or chip used

ESP32-C3-MINI-U

### Debug Adapter

USB built-in JTAG

### OpenOCD version

v0.11.0-esp32-20211220

### Operating System

Win 11

### Using an IDE ?

ESPRESSIF-IDE 2.5.0

### OpenOCD command line

openocd -f board/esp32c3-builtin.cfg

### JTAG Clock Speed

40000 kHz

### ESP-IDF version

4.4.2

### Problem Description

1. new launch configurati

[2022-08-08 13:12] sxliujin commented on #241
untick the mark “Enable memory protection”, but It didn't work.

[2022-08-09 11:03] erhankur commented on #241
In the latest idf 4.4.2 release we updated the OpenOCD version to `v0.11.0-esp32-20220411` Can you try with this version?

[2022-08-09 13:00] sxliujin commented on #241
I have downloaded openocd v0.11.0-esp32-20220706. but openocd command of ESP-IDF 4.4 PowerShell  still start from v0.11.0-esp32-20211220. if I delete v0.11.0-esp32-20211220, shell can not find openocd command. How can I change the version of openocd?

[2022-08-09 13:52] sxliujin commented on #241
Open On-Chip Debugger  v0.11.0-esp32-20220706 (2022-07-06-15:48)
Licensed under GNU GPL v2
For bug reports, read
	http://openocd.org/doc/doxygen/bugs.html
Info : only one transport option; autoselect 'jtag'
Info : esp_usb_jtag: VID set to 0x303a and PID to 0x1001
Info : esp_usb_jtag: capabilities descriptor set to 0x2000
Warn : Transport "jtag" was already selected
Flashing C:/Espressif/frameworks

[2022-08-12 13:29] gerekon commented on #236
You missed command in your debug adapter config. It should be like
[code]

Yes the config via GDB commands does the same thing.

Initially we had some problems with stepping using MS C/C++ debugger extension. So we had to implemented our own adapter. But now I've heard that people use MS one w/o problems, so maybe we can consider testing it again.
@brianignacio5  What do you think? Can we do this?

[2022-08-12 16:08] TravisRo commented on #187
This is still an issue when using MSYS2 MinGW 64 x86 on windows. Since it's such a simple one line fix, a patch would be appreciated.  I install msys2 mingw64 using the guide provided by espressif here:
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/building-openocd-windows.html

[2022-08-13 01:13] WangShuoran commented on #236
I have any error with an simple project test esp-debug-adapter, please analysis:
I use esp32c3 board, openocd open with vscode plugin. my launch.json:
[code]
and openoce log is:
Info : JTAG tap: esp32c3.cpu tap/device found: 0x00005c25 (mfg: 0x612 (Espressif Systems), part: 0x0005, ver: 0x0)
Info : Reset cause (3) - (Software core reset)
0
Info : Hart 0 unexpectedly reset!
Info : Reset cause (21)

[2022-08-13 01:13] WangShuoran commented on #236
and my screen is:
<img width="819" alt="image" src="https://user-images.githubusercontent.com/43474491/184462969-1715669e-8c6d-4590-998e-485e751083e0.png">

[2022-08-14 10:55] gerekon commented on #236
I do not see any problems in the logs and screens you sent. What the problem do you have?

At first I'd recommend you to test with one of our examples as described in [IDF VsCode Extension tutorials](https://github.com/espressif/vscode-esp-idf-extension#tutorials) w/o modifying adapter config file.

[2022-08-15 03:02] WangShuoran commented on #236
My screen show the debuger can not enter the breakpoint, I can not use next button etc...

Yes I see this and follow those show behavior. But I do not know why I have any error.

This is my example project:
[debug_c3.zip](https://github.com/espressif/openocd-esp32/files/9334853/debug_c3.zip)

[2022-08-15 05:22] brianignacio5 commented on #236
You could increment the `logLevel` in the launch.json for the `espidf` debug adapter to see if there is any error in the debug adapter itself (logLevel 2 doesn't show much information) and there is `idf.openOcdDebugLevel` to increment the OpenOCD log level (if you are launching openOCD from the extension).

 I thought that `"appOffset": "0x100000",` in launch.json for the debug adapter's app offse

[2022-08-16 15:14] erhankur commented on #241
So, you say with the 4MB internal flash you get this error but external flash is working?

Any chance to upload a test application to reproduce the issue?   I will try with the ESP32-C3 DEVKITM-1 . https://docs.espressif.com/projects/esp-idf/en/latest/esp32c3/hw-reference/esp32c3/user-guide-devkitm-1.html

[2022-08-16 15:15] erhankur commented on #239
@project-x51 Do you still have the issue?

[2022-08-16 15:17] erhankur commented on #238
@netanbi Can you comment if your issue continues?

[2022-08-16 15:18] erhankur commented on #237
Now I have CMSIS-DAP adapter. I will return with the test results or fixes soon.

[2022-08-16 15:21] erhankur commented on #226
[release](https://github.com/espressif/openocd-esp32/releases/tag/v0.11.0-esp32-20220706) has fixed the issue.

[2022-08-16 15:21] #226 closed

[2022-08-16 15:26] erhankur commented on #215
Fixed in the https://github.com/espressif/openocd-esp32/releases/tag/v0.11.0-esp32-20220706

[2022-08-16 15:26] #215 closed

[2022-08-16 15:28] erhankur commented on #240
Can you send your test application to reproduce the issue?

[2022-08-16 16:55] netanbi commented on #238
Hi after upgrade the OCD library its solved

בתאריך יום ג׳, 16 באוג׳ 2022, 18:17, מאת Erhan Kurubas ‏<
***@***.***>:

[2022-08-16 17:02] erhankur commented on #238
Thanks.

[2022-08-16 17:02] #238 closed

[2022-08-17 00:46] WangShuoran commented on #236
@brianignacio5 , thank you give me any tips. I follow those and show my log, and my vscode show:
<img width="575" alt="image" src="https://user-images.githubusercontent.com/43474491/185009218-9435005f-be5e-4cb3-82ab-6c65c0a9552e.png">
It still not into breakpoint.

Debug Adapter:
[code]

[2022-08-17 00:47] WangShuoran commented on #236
[openocd-log.txt](https://github.com/espressif/openocd-esp32/files/9355483/openocd-log.txt)

[2022-08-17 00:48] WangShuoran commented on #236
My log level: openocd-->3, adapter-->5

[2022-08-17 23:08] project-x51 commented on #239
Yes, sorry I have been using VSCode to make forward progress with my project and haven't had the time to re-visit the Eclipse plugin. I will attempt to do this once I have my revised boards off for manufacture in the next week or two.

[2022-08-18 06:48] WangShuoran commented on #236
Can you reproduce my mistakes?
@brianignacio5 @gerekon

[2022-08-18 07:00] brianignacio5 commented on #236
Could you provide a minimal example project to test the issue @WangShuoran ?

[2022-08-18 07:04] WangShuoran commented on #236
I update my vscode extention with 1.5.0, the error still exists

[2022-08-18 08:12] brianignacio5 commented on #236
Hi @WangShuoran

Without modification to your code I've tested your example project in MacOS with ESP32-C3-DevKitM-1 :
![Screen Shot 2022-08-18 at 3 55 34 PM](https://user-images.githubusercontent.com/6033246/185341460-658f98c6-29ae-467e-9fcd-b6ff37a96643.png)
 This was using ESP-IDF v5.0, Python 3.9.6 and openOCD v0.11.0-esp32-20220706

 With ESP-IDF v4.4.2 and openOCD v0.11.0-esp32-20220411 seem

[2022-08-18 10:10] gerekon commented on #236
Looks like flash has no app image at `0x10000`. Is your app at that offset?

[2022-08-18 10:55] brianignacio5 commented on #236
Also tested in Windows with ESP-IDF github master and openOCD v0.11.0-esp32-20220706 and is it working as shown here:
![debug_c3](https://user-images.githubusercontent.com/6033246/185378446-fa83da3a-fe1b-498c-b66b-107bf271635a.png)

Only changes I've made were to change launch.json like this:

[code]

[2022-08-18 15:41] sapanshah-eaton opened #242 "ESP32S2 OpenOCD issue (OCD-614)"
### Development Kit

ESP32-S2-DevKitM-1

### Module or chip used

ESP32S2

### Debug Adapter

JLINK

### OpenOCD version

v0.11.0-esp32-20211220

### Operating System

FreeRTOS

### Using an IDE ?

Eclipse

### OpenOCD command line

openocd.exe -f board/esp32s2-bridge.cfg -c "program_esp C:/Users/e0629509/Smart_Signaling/build/esp32_sample_app.bin 0x1000 verify exit"

### JTAG Clock Speed

1000

#

[2022-08-18 21:37] erhankur commented on #237
@wanggaoteng @wuxx  here is my test results.

- I have nano-dap, ordered from https://www.aliexpress.com/item/1005002334339283.html
- Tested on MacOS with the OpenOCD master branch.
- I used ESP32-S2 as target with hello-world example
- Added 2 lines into the cmsis-dap.cfg
[code]
- Disabled watchdog timers from the idf menuconfig. My adapter communicates through wifi, so direct connected adapters

[2022-08-18 22:29] erhankur commented on #242
@sapanshah-eaton Can you attach verbose debug logs. See [item 3 here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb) for how to generate verbose logs.

Looks like esp32s2-bridge.cfg is modified. Can you share the modifications?

And last can you try loading with program_esp_bins command?  You need to arr

[2022-08-19 02:08] wuxx commented on #237
hello, it seems that the openocd send a CMSIS-DAP command 0x14, actually it was support by CMSIS-DAP standard, may be slow down the speed may helps? can you try a normal DAP Programmer like here for compare.
https://www.aliexpress.com/item/1005001376821868.html?spm=a2g0o.store_pc_groupList.8148356.5.6df89b43bWuknY&pdp_npi=2%40dis%21USD%21US%20%245.80%21US%20%245.80%21US%20%245.80%21%21%21%21%40213

[2022-08-19 03:23] WangShuoran commented on #236
I think it is. Because default (without patitions.txt and menuconfig change) project.bin is at 0x10000.

This is my burn with JTAG output:
[code]

[2022-08-19 03:24] WangShuoran commented on #236
When I update vscode extension in v1.5.0. JTAG burn can jump to monitor. I don't know why.

[2022-08-19 05:09] WangShuoran commented on #236
Now I use you config. It is OK. I don't know why I config detail but output error.

[2022-08-19 08:26] erhankur commented on #237
@wuxx Can you try with normal DAP programmer and let me know if there is an issue during programming binaries?

For now I can say ESP32 devices compatible to cmsis-dap adapter. (timeout issues are another story)

@wanggaoteng Can you also re-test and share your results?

[2022-08-19 09:03] sapanshah-eaton commented on #242
This is esp32s2-bridge.cfg
--------------------------------------------------------------------------------------------------------
# Example OpenOCD configuration file for ESP32-S2 connected via ESP USB Bridge board
#
# For example, OpenOCD can be started for ESP32-S2 debugging on
#
#   openocd -f board/esp32s2-bridge.cfg
#

# Source the JTAG interface configuration file
#source [find interface/e

[2022-08-19 09:32] sapanshah-eaton commented on #242
C:\Users\e0629509\.espressif\workspace\Sapan\NextGen>C:\Users\e0629509\.espressif\tools\openocd-esp32\v0.11.0-esp32-20211220\openocd-esp32\bin\openocd.exe -f interface/jlink.cfg -f board/esp32s2-bridge.cfg -c "program_esp_bins C:/Users/e0629509/Smart_Signaling/build flasher_args.json reset compress verify exit"
Open On-Chip Debugger  v0.11.0-esp32-20211220 (2021-12-20-15:43)
Licensed under GNU GPL

[2022-08-19 19:01] erhankur commented on #242
Ok. I think I understand your issue. Your config file looks like mixed with the old  version. To get rid of work area size problem you can remove compress option or better you can use the original one.
https://github.com/espressif/openocd-esp32/blob/v0.11.0-esp32-20211220/tcl/target/esp32s2.cfg

I suggest you to remove and re-installl the OpenOCD package and use below command parameters to run wit

[2022-08-23 13:35] sapanshah-eaton commented on #242
With above, I am getting below error.

C:\Users\e0629509\.espressif\workspace\Sapan\NextGen>C:\Users\e0629509\.espressif\tools\openocd-esp32\openocd-esp32-win32-0.11.0-esp32-20220706\openocd-esp32\bin\openocd.exe -s $OOCD_DIR/tcl -f interface/jlink.cfg -f target/esp32s2.cfg
Open On-Chip Debugger  v0.11.0-esp32-20220706 (2022-07-06-15:48)
Licensed under GNU GPL v2
For bug reports, read
        http

[2022-08-24 17:52] erhankur commented on #242
Please share the verbose logs with -d3.

Did you add `adapter speed 1000` to the jlink.cfg?

[2022-08-25 11:25] sapanshah-eaton commented on #242
I have added adapter speed 1000 in the jlink.cfg

I have attached log as well.
[open_ocd_log.txt](https://github.com/espressif/openocd-esp32/files/9424128/open_ocd_log.txt)

[2022-08-25 11:31] sapanshah-eaton commented on #242
I have used jtag_rclk for speed. I have changed to adapter speed 1000.
Below is the output.

![image](https://user-images.githubusercontent.com/92917465/186653229-f1dc2ea0-8d58-4087-90e9-afb610aeb321.png)

[2022-08-25 11:32] sapanshah-eaton commented on #242
[open_ocd_log.txt](https://github.com/espressif/openocd-esp32/files/9424190/open_ocd_log.txt)

[2022-08-25 11:47] erhankur commented on #242
Then we should see `Info : clock speed 1000 kHz` in the log. I couldn't see this line.

Please set it with  `adapter speed` command.

Another option;

$OOCD_DIR/src/openocd -s $OOCD_DIR/tcl -f interface/jlink.cfg -f target/esp32s2.cfg -c "adapter speed 1000"

[2022-08-25 11:52] erhankur commented on #242
Ok. I can see, communication problem has been fixed. What is the problem now?

[2022-08-25 11:57] erhankur commented on #237
@wuxx @wanggaoteng Since, I don't see a problem with the cmsis-dap protocol support, I am closing this issue. You can create another one if you see a problem during debugging or loading application.

[2022-08-25 11:57] #237 closed

[2022-08-25 11:59] erhankur commented on #198
Closed with https://github.com/espressif/openocd-esp32/issues/237

Feel free to create a new one if you see an issue later on.

[2022-08-25 11:59] #198 closed

[2022-08-25 12:44] sapanshah-eaton commented on #242
Eclipse does not load symbols and map break point with source file.

![image](https://user-images.githubusercontent.com/92917465/186668042-5cbbde72-649d-4914-bfec-1f02bd645c96.png)

[2022-08-26 05:02] WangShuoran commented on #236
https://github.com/espressif/openocd-esp32/issues/236#issuecomment-1220201625

@brianignacio5 Can you meet this situation?

[2022-08-26 08:06] brianignacio5 commented on #236
I'm sorry @WangShuoran , you mean after you flash you can't open the monitor? Or what is your issue ?

[2022-08-26 10:19] sapanshah-eaton commented on #242
another issue along with this is

Debug: 35480 50723 target.c:2466 target_write_buffer(): writing buffer of 2 byte at 0x40086bc3
Warn : 35481 50723 xtensa.c:1693 xtensa_write_memory(): address 0x40086bc3 not writable
Error: 35482 50723 xtensa.c:1929 xtensa_sw_breakpoint_add(): esp32s2: Failed to write breakpoint instruction (-4)!
Error: 35483 50723 xtensa.c:1964 xtensa_breakpoint_add(): esp32s2: F

[2022-08-26 14:55] sapanshah-eaton commented on #242
with vs code i am facing the same issue.

![image](https://user-images.githubusercontent.com/92917465/186933438-23a4cbe7-3060-459b-a310-58bae4f9fcd2.png)

At least in VS code, it is loading code.

Could you please help me?

[2022-08-28 16:59] jaybuckeye06 opened #243 "OpenOCD cannot get flash map when using mcuboot instead of esp-idf bootloader (OCD-621)"
### OpenOCD version

v0.11.0-esp32-20211220

### Operating System

Mac OS X

### Using an IDE ?

n/a

### OpenOCD command line

openocd -f board/esp32-wrover-kit-3.3v.cfg -c "init; halt; esp32 appimage_offset 0x10000"

### ESP-IDF version

v4.2

### Problem Description

- When using esp-idf image format, openocd gets flash map just fine.

<img width="712" alt="Screen Shot 2022-08-29 at 12 48 31 AM

[2022-08-30 20:29] johnboiles opened #244 "How do I build the stubs?? (OCD-622)"
### Development Kit

ESP32-S3R8

### Module or chip used

Raw chip

### Debug Adapter

Builtin

### OpenOCD version

e70f59eee

### Operating System

macOS

### Using an IDE ?

No

### OpenOCD command line

make

### JTAG Clock Speed

n/a

### ESP-IDF version

v4.4.2

### Problem Description

I'm trying to fix [an issue](https://github.com/espressif/openocd-esp32/blob/e70f59eee961319571e1f741cb467

[2022-08-31 02:23] erhankur commented on #244
Hi @johnboiles ,

You can follow the below steps;

1 - cd openocd-esp32/contrib/loaders/flash/esp/esp32s3
2- run esp-idf/export.sh
3- make sure to checkout specific esp-idf commit written here. https://github.com/espressif/openocd-esp32/blob/master/contrib/loaders/flash/esp/esp32s3/stub_flasher_image.h#L6
4- make clean and make

[2022-08-31 03:29] johnboiles commented on #244
Ah that's a helpful comment! Thanks, I'll try it!

On Tue, Aug 30, 2022 at 7:23 PM Erhan Kurubas ***@***.***>
wrote:

[2022-08-31 16:57] erhankur commented on #187
This issue should have been fixed in https://github.com/espressif/openocd-esp32/commit/54aff94f1a50f409c7188a1e21a0349a8a69c356

Can you please check?

[2022-09-01 01:47] xobs commented on #240
Did you want me to send a compiled ELF file? I experience the crash eventually when running blink from https://github.com/espressif/esp-idf/tree/dfafa619c72865e769546f04157b7ad1648e24b2/examples/get-started/blink

You may need to run the program for longer, since it seems to be an issue of executing code that is in RAM as opposed to on flash. Or something along those lines. This should tickle the

[2022-09-01 11:56] gerekon commented on #242
It looks like IDEs use very old version of OpenOCD `v0.10.0-esp32-20200709`. What ESP-IDF version do you use?
[code]
@kolipakakondal, @brianignacio5 Could you help to setup IDEs with the latest ESP-IDF?

[2022-09-01 19:03] gerekon commented on #243
Hi @jaybuckeye06

OpenOCD retrieves flash map from app image on flash. As far as I understand mcuboot uses different header format for app images on flash as compared to IDF bootloader. So I do not think this is a bug.

[2022-09-01 19:17] gerekon commented on #20
Close this issue because it is unrelated to OpenOCD. Console GDB have all necessary means to check memory and registers. If you want to have it in IDE, please check ESP-IDF [VsCode extension](https://github.com/espressif/vscode-esp-idf-extension) (implements requested features) and (Eclipse plugin)[https://github.com/espressif/idf-eclipse-plugin]

[2022-09-01 19:17] #20 closed

[2022-09-01 19:56] gerekon commented on #77
Looks like this issue is related Eclipse IDE. So I am closing it here. If you still have this problem in [IDF Eclipse plugin](https://github.com/espressif/idf-eclipse-plugin), please, report issue there.

[2022-09-01 19:56] #77 closed

[2022-09-01 20:01] gerekon commented on #77
Looks like this issue is related Eclipse IDE. So I am closing it here. If you still have this problem in [IDF Eclipse plugin](https://github.com/espressif/idf-eclipse-plugin), please, report issue there.

[2022-09-01 20:11] erhankur commented on #231
Closing due to inactivity.  if you have still an issue feel free to re-open.

[2022-09-01 20:11] #231 closed

[2022-09-01 20:12] #70 closed

[2022-09-01 20:15] johnboiles commented on #244
Sure. I'd like to document this in a README file possibly in `contrib/loaders/flash/esp` should I put that in my existing PR, or a new PR. That comment in [stub_flasher_image.h#L6](https://github.com/espressif/openocd-esp32/blob/master/contrib/loaders/flash/esp/esp32s3/stub_flasher_image.h#L6) is key to being able to build stubs. README might be a more discoverable way to point people to the right

[2022-09-01 20:16] #69 closed

[2022-09-01 20:17] #65 closed

[2022-09-01 20:18] erhankur commented on #244
Thanks for the suggestion. Feel free to add README into your PR.

[2022-09-01 20:22] #244 closed

[2022-09-04 12:49] 18506711722 commented on #241
The same problem occurs in esp32-c3fh4

[2022-09-05 04:35] anvv0202 opened #246 "JTAG Debug buffer have been optimized out (OCD-625)"
### OpenOCD version

v0.11.0-esp32-20220411

### Operating System

esp32-wrover-kit-3.3v

### Using an IDE ?

VS Code

### OpenOCD command line

clear & start openocd -d3 -c \"set ESP_RTOS none\" -f board/esp32-wrover-kit-3.3v.cfg & exit

### ESP-IDF version

4.4

### Problem Description

1. clear & start openocd -d3 -c \"set ESP_RTOS none\" -f board/esp32-wrover-kit-3.3v.cfg & exit
2. launch.js

[2022-09-05 07:53] gerekon commented on #246
Hi @anvv0202

I do not think this is related to OpenOCD. Looks like GCC optimized that variable. I'd suggest to try building you project with `-O0 -g` GCC flags.

[2022-09-05 09:25] anvv0202 commented on #246
where can i add `-O0 -g`?

[2022-09-05 09:57] igrr commented on #246
If you are building your project using ESP-IDF, you can enable CONFIG_COMPILER_OPTIMIZATION_NONE option: https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig.html#config-compiler-optimization

[2022-09-09 07:12] Wasabinary opened #247 "Erase flash using openocd-esp32 (OCD-626)"
### OpenOCD version

v0.11.0-esp32-20211220

### Operating System

Windows

### Using an IDE ?

Eclipse

### OpenOCD command line

openocd -f interface/jlink.cfg -f target/esp32s2.cfg -c "..."

### ESP-IDF version

v4.4

### Problem Description

I have been trying to erase the whole flash of my esp32s2 using a J-link and openocd-esp32. I was looking for the right command to use on the Internet, an

[2022-09-09 07:48] erhankur commented on #247
You can try `flash erase_sector 0 1 last` to erase whole flash.

[code]

[2022-09-09 07:56] Wasabinary commented on #247
Thanks for your answer @erhankur
Unfortunately, i get the following output: *Error: invalid subcommand "erase_sector 0 1 last"*
It really seems like *erase_sector* is not a valid openocd-esp32 command:
![image](https://user-images.githubusercontent.com/62396488/189301026-88be08a6-3890-4310-9609-25644ced8d9c.png)

[2022-09-09 08:36] Wasabinary commented on #247
I was missing that part, now the logs look like the chip is erased. Thank you very much @erhankur ! Closing the issue

[2022-09-09 09:50] erhankur commented on #241
I don't see an issue with the idf example applications using boards with 4MB internal flash. If you can send me a small application to reproduce the issue, I can try and comment.

[2022-09-09 10:41] 18506711722 commented on #241
与应用系统无关,与是否内置flash有关,我有两块板子 @erhankur

[2022-09-09 10:42] 18506711722 commented on #241
It has nothing to do with the application, it has something to do with the built-in FLASH. I have two teams, the external flash and the built-in flash  @erhankur

[2022-09-13 11:53] Wasabinary commented on #247
Hi @erhankur,

I have just have another question about the erasing procedure.

I successfully erased my ESP32-S2 chip with the command you sent above. Basically, I flashed a firmware using openocd-esp32, and then erase it straight after with `-c "flash init; init; flash erase_sector 0 1 last"`.
However, If I power my board and try to erase it just after, I get an error:
![image](https://user-image

[2022-09-13 12:10] erhankur commented on #247
Before any flash operation OpenOCD tries to get flash parameters by calling probe function. This function runs on the halted target.

I am not sure why it fails in the consecutive erase. You can  add `halt` command just before `flash erase`

[code]

[2022-09-13 12:29] Wasabinary commented on #247
Ok thank you, it partially resolved this issue, as I get "Error: Invalid stub" for some of the chips I want to erase... So I still have an issue somewhere I guess

[2022-09-13 15:17] Wasabinary commented on #247
Here's the log:
[debug.txt](https://github.com/espressif/openocd-esp32/files/9558455/debug.txt)
You can find the "Invalid stub!" error multiple time here

[2022-09-13 15:57] erhankur commented on #247
Can  I ask you to update your OpenOCD (master or release) to the latest version and check that the issue is present there?

If still exists, please send the new log.txt and any file that you modified such as `esp32s2.cfg`

[2022-09-14 07:02] Wasabinary commented on #247
Well, with the latest openocd-esp32, I have a new error. Nothing to do with "Invalid stub", but this: "Expression: (first <= last) && (last < bank->num_sectors)"

[debug.txt](https://github.com/espressif/openocd-esp32/files/9563595/debug.txt)

Probably something to do with flash bank sector number issue ?

[2022-09-15 07:39] erhankur commented on #247
Please try `-c "flash init; init; reset halt; flash erase_sector 0 1 last"`

[2022-09-15 11:51] Wasabinary commented on #247
Thank you, it seems like it works normally now. Thank you for your help

[2022-09-15 11:51] #247 closed

[2022-09-16 01:15] LCKway commented on #219
`PS F:\JLPro\Mars_Plan\Procedure\LED_M2\JATG\blink> openocd -f board/esp32s3-builtin.cfg
Open On-Chip Debugger  v0.11.0-esp32-20220411 (2022-04-11-08:48)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
Info : only one transport option; autoselect 'jtag'
Info : esp_usb_jtag: VID set to 0x303a and PID to 0x1001
Info : esp_usb_jtag: capabilities descri

[2022-09-17 09:00] brianredbeard opened #248 "Questionable adapter speed values: esp_usb_jtag & esp_usb_bridge"
While documenting platformio/platform-espressif32#917 I noted a detail:

[code]

![](https://media.giphy.com/media/H4zeDO4ocDYqY/giphy-downsized.gif)

Checking out 7fbfdc8a and 0d16bffd confirmed it.

As per "Optimize JTAG speed[](https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-guides/jtag-debugging/tips-and-quirks.html#optimize-jtag-speed)" in the API guide.

Can the discrepanc

[2022-09-19 20:36] #211 closed

[2022-09-23 08:28] GiulioDallaVecchia commented on #241
I have the same issue with my custom board, but with the ESP32C3 DevKit, OpenOCD runs without any problems

[2022-09-23 09:28] erhankur commented on #241
@GiulioDallaVecchia In terms of Jtag and flash pin connections what is the differences with your custom board and Devkit?
Did you run the same application on 2 boards? How can you help me to reproduce this issue?

[2022-09-23 09:34] GiulioDallaVecchia commented on #241
![image](https://user-images.githubusercontent.com/44542412/191932428-32b4326c-2b4c-4a4e-a337-ce5784ff22ce.png)

I'm running the same application. This is my openocd command:

openocd -s ${openocd_path}/share/openocd/scripts -f board/esp32c3-builtin.cfg -c "init; halt; esp appimage_offset 0x20000"

[2022-09-23 11:08] erhankur commented on #241
@calandoa can you also share your detailed OpenOCD logs. (with -d3 option)

[2022-09-23 11:27] GiulioDallaVecchia commented on #241
[log.txt](https://github.com/espressif/openocd-esp32/files/9633148/log.txt)

[2022-09-23 12:14] erhankur commented on #241
Can you try ? `-c "init; reset halt; esp appimage_offset 0x20000"`

[2022-09-23 12:23] GiulioDallaVecchia commented on #241
same result:

[log2.txt](https://github.com/espressif/openocd-esp32/files/9633538/log2.txt)

[2022-09-23 13:06] erhankur commented on #241
OK I will ask this internally. In the meantime you can try to disable flash and continue debugging without software breakpoints. ESP32-C3 8 hw bps so it should be enough.
[code]
But with this option you cannot load the application from the jtag.

[2022-09-23 13:23] GiulioDallaVecchia commented on #241
I've started openocd with -c 'set ESP_FLASH_SIZE 0' but when I try to debug I have the same problem (openocd log):

[log3.txt](https://github.com/espressif/openocd-esp32/files/9633950/log3.txt)

[2022-09-23 13:29] erhankur commented on #241
Should be set before scripts.
[code]

[2022-09-23 13:44] GiulioDallaVecchia commented on #241
ok, at least I can debug... I hope to hear you soon with some news... thanks!

[2022-09-28 21:42] h2oFanti opened #250 "OpenOCD issue: Error: invalid command name "espusbjtag" (OCD-637)"
### Development Kit

ESP32-S2-WROOM (Brand: Gravitech - Cucumber Model M)

### Module or chip used

ESP32 S2 WROOM

### Debug Adapter

STLink/V2

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Windows 10 Pro 21H2 19044.2006

### Using an IDE ?

VSCode ESP-IDF Terminal

### OpenOCD command line

openocd -f interface/stlink.cfg -f board/esp32s2-bridge.cfg

### JTAG Clock Speed

a

[2022-09-28 21:56] erhankur commented on #250
To connect ESP32-S2 from jtag using stlink, you can try
[code]

[2022-09-28 22:03] h2oFanti commented on #250
I hadn't tried target/esp32s2.cfg, but no dice.

"Debug adapter doesn't support 'jtag' transport" ?

Maybe I have the wrong driver? I've looked over some past issues, I've tried a handful of drivers. I'm currently on WinUSB (v2.2.0.0) for stlink, and FTDIBUS (v2.12.36.4) for COM, according to zadig.

`openocd -f interface/stlink.cfg -f target/esp32s2.cfg -d
Open On-Chip Debugger  v0.11.0-esp32-202

[2022-09-29 15:40] h2oFanti commented on #250
I can only assume that JTAG with this adapter for this chipset isn't supported - quoting the docs:
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/index.html#jtag-debugging-configure-and-connect-jtag-interface

Though I would like some confirmation from either the esp32 community or ST.

[2022-09-29 19:50] erhankur commented on #250
Sorry I wasn't aware of the stlink limitation. One of the user wrote a comment about this. https://github.com/espressif/openocd-esp32/issues/145#issuecomment-791395399

[2022-09-30 11:29] sYCH3L opened #251 "Problem with JTAG (OCD-638)"
### Development Kit

ESP32-S3-USB-OTG

### Module or chip used

ESP32-S3

### Debug Adapter

jlink

### OpenOCD version

v0.11.0-esp32-20220706-218-gbf177879

### Operating System

Linux

### Using an IDE ?

No

### OpenOCD command line

openocd -f esp32_jlink.cfg

### JTAG Clock Speed

4000

### ESP-IDF version

v5.1-dev-992-gaf28c1fa21

### Problem Description

Works weird without -d3 in openocd

[2022-09-30 11:32] sYCH3L commented on #251
JTAG is accessed from GPIO pins and according eFuses are burned DIS_USB_JTAG and USB_PHY_SEL

[2022-09-30 13:32] volkmarnissen commented on #220
I ahd the same issue.
Solution/workarount: Press the boot button on your board.

[2022-09-30 13:45] volkmarnissen opened #252 "Debug JTAG USB port of ESP32-WROVER-KIT gets lost after successful start of openocd (OCD-639)"
### Development Kit

ESP32

### Module or chip used

ESP32-WROOM-KIT

### Debug Adapter

ESP32-WROVER-KIT

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Linux

### Using an IDE ?

Yes, but it's reproducible with command line

### OpenOCD command line

openocd -f board/esp32-wrover-kit-3.3v.cfg

### JTAG Clock Speed

default

### ESP-IDF version

4.3.4

### Problem Description

[2022-09-30 22:07] h2oFanti commented on #250
Thanks @erhankur

Wow that's frustrating. Guess I'll just... buy new hardware. _Thanks ST!_ Why would they do that?

[2022-09-30 22:07] #250 closed

[2022-10-03 10:43] erhankur commented on #252
I see same behaviour on linux. But this is not a problem for the jtag communication. Or in other words, after connection established with the OpenOCD, ttyUSB0 is not seen in the device list but I can still communicate via telnet e.g.

Does your application, configuring the jtag pins as gpio?  Did you try with `hello_world` application?

[2022-10-03 13:45] volkmarnissen commented on #252
Hi,

after playing around with it, one time I was able to debug via JTAG, but I don't know, why it worked. I was not able to reproduce it afterwards. I'll try it with ESP-prog to see whether this is different.

Thank you,

Volkmar

[2022-10-07 15:38] guirespi opened #253 "Help with debugging (OCD-645)"
### Development Kit

ESP32-WROVER-KIT

### Module or chip used

ESP32-WROVER

### Debug Adapter

 FT2232

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Windows

### Using an IDE ?

Eclipse

### OpenOCD command line

Not sure

### JTAG Clock Speed

20000 Kh

### ESP-IDF version

v4.4.2

### Problem Description

Start debug locally with v0.11.0-esp32-20220706 configured in Eclip

[2022-10-07 20:48] guirespi commented on #253
Also, I would like to share the error message from eclipse :
![image](https://user-images.githubusercontent.com/47858359/194639631-99b23648-ac0a-4c5d-8ae4-13f43d1b315c.png)

[2022-10-16 18:49] hannescam opened #254 "ESP32 jtag with st-link not working (OCD-646)"
### Development Kit

Wemos D1 mini ESP32

### Module or chip used

ESP32-wroom

### Debug Adapter

st-link

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Archlinux

### Using an IDE ?

No

### OpenOCD command line

bin/openocd -s share/openocd/scripts -f interface/stlink-dap.cfg -c "transport select dapdirect_jtag" -f share/openocd/scripts/board/esp32-wrover.cfg

### JTAG Cloc

[2022-10-16 20:33] hannescam commented on #254
i use the st-link v2:
![IMG20221016090444](https://user-images.githubusercontent.com/88653399/196056868-fe45af80-f718-491e-9c26-16fb8e110f69.jpg)
on the newest firmware version
and i hope this is a issue that can be fixed

[2022-10-25 18:49] Panometric opened #255 "ESP32-S3 erroneous "Error: 330 126 libusb_helper.c:190 jtag_libusb_open(): libusb_open() failed with LIBUSB_ERROR_NOT_SUPPORTED""
### Development Kit

NA, custom

### Module or chip used

ESP32-S3-WROOM-1

### Debug Adapter

Builtin

### OpenOCD version

v0.11.0-esp32-20220411 (2022-04-11-08:48)

### Operating System

Windows

### Using an IDE ?

no

### OpenOCD command line

openocd -d3 -f board/esp32-wrover-kit-3.3v.cfg 2>&1 | tee openocd.log

### JTAG Clock Speed

default 40000

### ESP-IDF version

4.4.2

### Problem Des

[2022-10-25 20:30] gerekon commented on #17
That interface is not supported on MinGW. It can be build for cygwin host only. Our releases are build for MinGW only. Support for Cygwin host build is not planned yet.

[2022-10-25 20:39] gerekon commented on #23
This year we started upstreaming our changes. The work is in progress. Some chips are already supported. Not all features yet.
https://review.openocd.org/c/openocd/+/6889  - semihosting
https://review.openocd.org/c/openocd/+/6991  - target/workarea config
https://review.openocd.org/c/openocd/+/6989  - New chip support ESP32
https://review.openocd.org/c/openocd/+/6990  - New chip support ESP32-S3
h

[2022-10-25 20:39] #23 closed

[2022-10-25 20:48] #139 closed

[2022-10-25 20:49] gerekon commented on #139
Closing as no updates for a long time

[2022-10-25 21:02] #146 closed

[2022-10-26 09:16] vdm97 opened #306 "OpenOCD/JTAG error: Target is already running an algorithm (IDFGH-8612) (OCD-872)"
### Answers checklist.

- [X] I have read the documentation [ESP-IDF Programming Guide](https://docs.espressif.com/projects/esp-idf/en/latest/) and the issue is not addressed there.
- [X] I have updated my IDF branch (master or release) to the latest version and checked that the issue is present there.
- [X] I have searched the issue tracker for a similar issue and not found a similar issue.

###

[2022-10-27 23:48] MarkStokes71 opened #256 "Error: cpu0: Failed to add SW breakpoint! (OCD-652)"
### Development Kit

ESP-WROVER-KIT-VE equivalent

### Module or chip used

ESP-WROVER

### Debug Adapter

ESP-PROG

### OpenOCD version

 v0.10.0-esp32-20200709 (2020-07-09-08:54)

### Operating System

Win 11

### Using an IDE ?

VS Code and CLion

### OpenOCD command line

start "OpenOCD server status"  call openocd -f openocd_isk.cfg  -c "init; halt; esp appimage_offset 0x600000"

### JTAG Clo

[2022-10-28 10:25] gerekon commented on #256
@MarkStokes71
Hi.
It seems that the problem is because OpenOCD can not read flash mappings from app image on flash. So it can not detected ROM and RAM boundaries, so it falls back to HW breakpoints usage.
[code]
You use `esp appimage_offset 0x600000`. It is correct command. Are you sure that you have valid app image located at that offset?

[2022-10-28 10:51] gerekon commented on #256
If app image offset is correct I'd suggest to try the latest OpenOCD release (https://github.com/espressif/openocd-esp32/releases/tag/v0.11.0-esp32-20221026). You have two options to use it:
- Overwrite installed OpenOCD. I suppose that gor your system it is located in `.espressif/tools/openocd-esp32/v0.10.0-esp32-20200709`
- Configure your IDE to use custom OpenOCD distro

[2022-10-28 22:12] MarkStokes71 commented on #256
Thanks for the reply.  How do I find the flash mapping offset?  I understood it to be one of the two ota partitions.  I have tried both addresses and they both cause OpenOCD to give the error:
Error: Failed to get flash maps (-1)!
Warn : Failed to get flash mappings (-4)!
I did try your updated OpenOCD download (and overwrote my local files).

[2022-10-28 23:17] erhankur commented on #256
@MarkStokes71 you can print the app offset like below.

[code]
Can you also copy/paste your partition_table.csv?

[2022-10-29 00:02] MarkStokes71 commented on #256
erhankur,
Thanks for the information.  I was able to verify the flash offset is 0x100000.  I am unable to paste the partition table due to IP concerns.  What in that table are you interested?  With 0x100000 in the offset, I still get the same error in the OpenOCD log.

[2022-10-29 21:27] erhankur commented on #256
I just wanted to see OTA related partitions size/addresses.
For me, it is strange because in both offsets there should be a valid application (if you did OTA once),  so OpenOCD should skip the mapping step successfully.

Did you change the working area config settings in your TCL config file?

This is the default.
[code]

Can you send the full OpenOCD log with -d3 option?

[2022-10-30 19:20] MarkStokes71 commented on #256
Sure.  Here's the log.  I see the appimage_offset command, but I also see it says the flash is 0kb...  I also have included the .cfg file.
[openocd.cfg.txt](https://github.com/espressif/openocd-esp32/files/9896651/openocd.cfg.txt) <- Added the ".txt" for upload to this forum only).
[OpenOCDLog-d3.txt](https://github.com/espressif/openocd-esp32/files/9896653/OpenOCDLog-d3.txt)
Not sure about any ch

[2022-10-31 21:35] gerekon commented on #256
@MarkStokes71 What zip file do you mean?

[2022-10-31 22:04] gerekon commented on #256
I see that for some reason the first time OCD reads mappings it uses proper offset and therefore succeeds:
[code]
The second time it uses default offset (`-1`). So it fails:
[code]
Also I see that sometimes flash size can not be detected and some times it can.
[code]
[code]
@MarkStokes71 What flash chip do you use? BTW in your last log I do not see any error related to breakpoints.

[2022-11-03 00:13] MarkStokes71 commented on #256
gerekon,
Ya, the last log didn't include any actual debugging.  How do I determine which flash chip I'm using?  Here are some of the numbers from the module: ESP32-WROVER-E.  ICID:21098-ESPWROVERE, CMIT ID: 2020DP1674, XX0H28

[2022-11-03 10:33] gerekon commented on #256
Ahh. Ok. I thought you used custom flash chip.

In your latest log I do not see any `Error: cpu0: Failed to add SW breakpoint!` messages. Did the problem disappear?

From the log I see that OpenOCD successfully set 2 HW and one SW breakpoint in flash.
[code]
But none of the breaks is hit. Are you sure that program really runs to those locations/addresses? Could you verify this by adding, for examp

[2022-11-04 02:37] MarkStokes71 commented on #256
Ok, it would seem it is only working when I use the -d3 option.  However, the lag introduced in the debug messages makes this pretty unusable.  I've attached four files.  The ones that say Success clearly show SW breakpoints being made and during debug, the breakpoints seem to work correctly.  When debugging with -d3 removed, the code flow seems to work correctly and it reacts much faster.  Howeve

[2022-11-11 17:03] B20221019 commented on #235
I'm experiencing this behavior, can someone elaborate on how to recover my bricked ESP32-S3?

[2022-11-12 17:13] yellobyte opened #257 "ESP32-S3 openocd debugging error on builtin JTAG - Error: libusb_bulk_read error: LIBUSB_ERROR_PIPE (OCD-662)"
### Development Kit

esp32-s3-devkitc-1

### Module or chip used

ESP32-S3-WROOM-1

### Debug Adapter

ESP32-S3 builtin JTAG per USB-C

### OpenOCD version

v0.11.0-esp32-20220706 (2022-07-06-15:48)

### Operating System

Windows 10 22H2

### Using an IDE ?

VSCode/PlatformIO - framework = arduino

### OpenOCD command line

openocd.exe -f board\esp32s3-builtin.cfg

### JTAG Clock Speed

default (4

[2022-11-12 17:19] yellobyte commented on #257
Oh yes, having "build_type = debug" in platformio.ini & therefore building in **debug** mode produces similar errors:
...
**Building in debug mode**
C:\Users\tj\.platformio\packages\tool-openocd-esp32\bin\openocd.exe -f board\esp32s3-builtin.cfg
Open On-Chip Debugger  v0.11.0-esp32-20220706 (2022-07-06-15:48)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bu

[2022-11-13 18:45] Panometric commented on #255
Can anyone help on this, it's so annoying.. I CAN debug, but the vscode extension pops up this error every session.

[2022-11-14 13:23] erhankur commented on #255
cc @kolipakakondal

[2022-11-14 13:40] kolipakakondal commented on #255
Hi @Panometric

This is ok for windows and the JTAG connection should work even with this.  Looking at the above console log messages I don't see any other error.

However, run https://visualgdb.com/UsbDriverTool/ instead of Zadig for installation of libusb and see if that helps to avoid the above error as well.

[2022-11-22 08:43] franz-ms-muc opened #258 "Vendor IDs and *.cfg scripts ? (OCD-664)"
### Development Kit

ESP32-S3-DEVKITC

### Module or chip used

ESP32-S3 (several)

### Debug Adapter

none. Want to use USB-JTAG

### OpenOCD version

not matter

### Operating System

Windows

### Using an IDE ?

Espressif-IDE

### OpenOCD command line

not matter

### JTAG Clock Speed

not matter

### ESP-IDF version

esp-idf-v4.4.3

### Problem Description

there seems to be 2 different Vendor

[2022-11-22 08:47] franz-ms-muc commented on #258
ah, i see:

esp32s3-bridge.cfg reffers to --> esp\_usb\_bridge.cfg
esp32s3-builtin.cfg reffers to --> esp\_usb\_jtag.cfg

and 

in the diffs it is clearly visible, but still unclear when to use what:

![](https://user-images.githubusercontent.com/69573151/203267921-b810c8ce-c9b1-40de-bb15-69ee85e53b64.png)

![](https://user-images.githubusercontent.com/69573151/203267971-4ad40013-2d3e-423e-882b-cb

[2022-11-22 08:53] igrr commented on #258
esp32s3-builtin.cfg is for the built-in USB_SERIAL_JTAG peripheral of the ESP32-S3 chip.

"ESP USB Bridge" is an external JTAG adapter implemented in https://github.com/espressif/esp-usb-bridge.

The official list of config files is available here: https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-guides/jtag-debugging/tips-and-quirks.html#configuration-of-openocd-for-specific-targ

[2022-11-22 09:02] franz-ms-muc commented on #258
@igrr Thanks for this Response. 

i did read about ESP USB Bridge but did no more have it in mind. 

BUT then you have a Bug in Espressif-IDE:

there are only 2 Configurations available:

first:

![](https://user-images.githubusercontent.com/69573151/203271193-fbd46bae-3f18-4b22-b1e3-17cd378d7a1b.png)

second:

![](https://user-images.githubusercontent.com/69573151/203271256-2d353184-d93d-4329-bac

[2022-11-22 09:03] franz-ms-muc commented on #258
is this the Place the Espressif-IDE Developers work on ? 

[https://github.com/espressif/idf-eclipse-plugin](https://github.com/espressif/idf-eclipse-plugin) ?

[2022-11-22 10:49] igrr commented on #258
Eclipse IDE gets the list from esp-config.json file from OpenOCD distribution. The missing config was added in https://github.com/espressif/openocd-esp32/commit/610883f6520edf1d67478342f29d75531d93372c. When IDF updates the to latest release of OpenOCD (https://github.com/espressif/openocd-esp32/releases/tag/v0.11.0-esp32-20221026), you will see the esp32s3-builtin.cfg in the list.

[2022-11-23 03:33] JeremiahGillis opened #259 "JTAG Programming Flash Speed Slow for N32R8V"
### Development Kit

Custom

### Module or chip used

ESP32-S3-WROOM-2-N32R8V

### Debug Adapter

Built in JTAG over USB

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Windows 10 x64

### Using an IDE ?

VS Code v1.73.1

### OpenOCD command line

ESP-IDF Flash device button via Espressif IDF Extension

### JTAG Clock Speed

Default, 40000

### ESP-IDF version

v4.4.3

### Prob

[2022-11-23 03:35] JeremiahGillis commented on #259
Here is a detailed log when manually programming using `openocd -l openocd_log.txt -d3 -f board/esp32s3-builtin.cfg -c "program_esp build/Touch.bin 0x10000 verify reset exit"`

[openocd_log.txt](https://github.com/espressif/openocd-esp32/files/10072666/openocd_log.txt)

[2022-11-23 10:18] erhankur commented on #259
@JeremiahGillis Thanks for reporting this. I'll check again. In the meantime can you try to load with the compress option?
[code]

[2022-11-23 15:56] JeremiahGillis commented on #259
@erhankur Programming is faster. It saves about 14 seconds for the entire process. [openocd_log_compress.txt](https://github.com/espressif/openocd-esp32/files/10076921/openocd_log_compress.txt)

Note that both of the `openocd` terminal calls had `adapter speed` set to 26000. I was experimenting with various speeds. I didn't see any changes until I significantly lowered the speed to create a bottle

[2022-11-28 12:12] adampulley opened #260 "Error: libusb_open() failed with LIBUSB_ERROR_NOT_SUPPORTED and Error: Failed to get flash maps (4294967290)! (OCD-666)"
### Development Kit

Custom Hardware

### Module or chip used

ESP32-WROOM-32E (16MB)

### Debug Adapter

ESP-PROG

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Win10 Pro

### Using an IDE ?

Command line and VS Code

### OpenOCD command line

C:\Espressif\frameworks\esp-idf-v4.4.3>openocd -f board/esp32-wrover-kit-3.3v.cfg

### JTAG Clock Speed

20000 kHz

### ESP-IDF versio

[2022-11-28 12:28] skanky-dev commented on #260
Here it is with -d3 output:

User : 3 0 options.c:63 configuration_output_handler(): debug_level: 3
User : 4 0 options.c:63 configuration_output_handler():
Debug: 5 0 options.c:244 add_default_dirs(): bindir=/builds/idf/openocd-esp32/_build/../openocd-esp32/bin
Debug: 6 0 options.c:245 add_default_dirs(): pkgdatadir=/builds/idf/openocd-esp32/_build/../openocd-esp32/share/openocd
Debug: 7 0 options

[2022-11-29 09:26] gerekon commented on #260
Hi @skanky-dev !

This confusing error message can be printed on Windows, but it does not prevent debugger from working properly.  So you just can ignore it.

`4294967290` (`-6` ) means `ESP_STUB_ERR_INVALID_IMAGE`. I think flasher returns this error because there are no valid app image in the flash at default factory app offset `0x10000`. It is ok if app image has not been written yet to flash. T

[2022-11-30 10:35] skanky-dev commented on #260
Thank you very much. I'm not used to tools where errors in the output should be ignored and assumed this was the cause of what it turns out are unrelated issues being able to program and debug this project.
Where would I have been able to find this information about the Failed to get flash maps (4294967290) error as I could find nothing and posting on the esp and stackoverflow forums I didn't get

[2022-11-30 12:56] skanky-dev opened #261 "Could not run/continue: Don't know how to run. Try "help target". (from exec-run) (OCD-667)"
### Development Kit

Custom board

### Module or chip used

ESP32-WROOM-32E

### Debug Adapter

ESP_PROG

### OpenOCD version

v0.11.0-esp32-20220706

### Operating System

Win10 Pro

### Using an IDE ?

VS Code

### OpenOCD command line

F5

### JTAG Clock Speed

20000 kHz

### ESP-IDF version

esp-idf-v4.4.3

### Problem Description

Press F5 to debug project
Programs as expected, sets up to sta

[2022-11-30 22:54] sinameshksar opened #262 "Error: esp_usb_jtag: could not find or open device! (OCD-668)"
### Development Kit

ESP32-S3-DevKitM-1

### Module or chip used

ESP32-S3-MINI-1-N8

### Debug Adapter

USB Built-in debugger

### OpenOCD version

v0.11.0-esp32-20220706 (2022-07-06-15:48)

### Operating System

Ubuntu 22.04

### Using an IDE ?

bash terminal

### OpenOCD command line

openocd -f board/esp32s3-builtin.cfg

### JTAG Clock Speed

default

### ESP-IDF version

V4.4.3

### Problem D