[2016-10-30 21:22] bvernoux opened #1 "ESP32 JTAG debug is unstable"
I have  tested lot of things to debug ESP32 over JTAG (like debugging ROM code or my own application/sample)

Note: I have checked without commit https://github.com/espressif/openocd-esp32/commit/3098897ebc11fff39c8b3fda2b8dfcca7f6f6fa2 and it is the same ...

First problem is when trying to debug for example a very simple reproducible mode "Download mode" it seems JTAG cannot "take the hand"

Ste

[2016-10-30 21:39] bvernoux commented on #1
Update decription

[2016-11-03 04:20] Spritetm commented on #1
Sorry, for now we do not support debugging code before esp-idf kicks in. If you have similar problems debugging problems after something compiled with esp-idf has started and got past the initial breakpoint, feel free to open another issue.

[2016-11-03 04:20] #1 closed

[2016-12-16 06:11] projectgus opened #2 "[TW#18923] Can't step over break instruction"
If CPU stops on a break instruction (ie breakpoint compiled into the binary), stepping will not proceed past it.

`jump +1` or `set $pc X` will allow you to progress.

[2016-12-16 06:12] projectgus opened #3 "[TW#18925] Openocd reg command doesn't display register values"
When halted in gdb, `info reg` produces accurate register values but `mon reg` doesn't show anything, and `mon reg REGNAME` (ie `mon reg PC`) shows values as 0x00000000, even when gdb knows the correct value.

[2016-12-16 06:19] projectgus commented on #3
Seems like the mon reg output is not always all-zeroes, although it often doesn't match the gdb register cache version.

[2016-12-16 06:21] Spritetm commented on #3
That is because for whatever mysterious reason, the openocd monitor defaults to the app cpu. Do a ``targets esp32.cpu0`` before it and it should target the pro cpu instead.

[2017-01-11 21:22] yschaeff opened #4 "openocd on raspberry pi"
I'm trying to compile openocd on a raspberry pi and I'm hitting this issue:

rtos_freertos_stackings.c: In function 'rtos_freertos_esp108_stack_read_voluntary':
rtos_freertos_stackings.c:375:22: error: cast increases required alignment of target type [-Werror=cast-align]
  uint32_t *stackregs=(uint32_t *)stack_data; //alias so we can read/write entire words. Little-endian hosts only!

Which make s

[2017-01-18 09:22] igrr commented on #4
One line above there's a workaround which is currently enabled only in clang:
https://github.com/espressif/openocd-esp32/blob/master/src/rtos/rtos_freertos_stackings.c#L371-L374

Maybe you can change conditional above that so the warning is suppressed on your system as well.

[2017-02-19 07:51] wixa opened #5 "ESP-WROVER-KIT JTAG"
Hi guys! Can anybody help me starting debug using ESP-WROVER-KIT JTAG FT2232 ?

I have manual http://esp-idf.readthedocs.io/en/latest/openocd.html, i do 2 steps. Come to step "Installing OpenOCD". Clone openocd-esp32 repository.  After i need "For compilation of OpenOCD, please refer to the README, README.OSX and README.Windows file in the openocd-esp32 directory. You can skip the make install ste

[2017-03-17 01:05] bobik78 opened #6 "Instable work with Olimex-ARM-USB-OCD-H JTAG"
Hi,
I have connected OLIMEX ARM-USB-OCD-H to ESP32_Cover_board_V2 dev.kit.
But when I run openocd it keeps getting endless resets.
Before it I programmed the board with default https://github.com/espressif/esp-idf-template.git application. Looks like some watchdog reset issue. Any solutions?

Openocd printout enclosed:

./src/openocd -s ./tcl -f ./esp32_olimex_arm_usb_ocd_h.cfg
Open On-Chip Debugg

[2017-03-17 02:52] projectgus commented on #6
Do you have any sample serial console output we can look at?

If you reset the board from inside openocd does it stabilise? (The reason I'm asking this is that by default the ESP32 reads the MTDI pin on reset to determine the flash voltage. If the pin is high the flash will initialise at 1.8V, which will brown out on a Core board and cause a reset. You can work around this by resetting from inside

[2017-03-17 03:21] bobik78 commented on #6
Hello projectgus,
Thanks for helping me with this issue!

1. Yes, I have a sample serial console, but I don't think this will help:
I (768) heap_alloc_caps: Initializing. RAM available for dynamic allocation:
I (768) heap_alloc_caps: At 3FFB6CA0 len 00029360 (164 KiB): DRAM
I (778) heap_alloc_caps: At 3FFE8000 len 00018000 (96 KiB): D/IRAM
I (799) heap_alloc_caps: At 40099F04 len 000060FC (24 KiB)

[2017-03-17 03:55] projectgus commented on #6
Looks like you have an older version of this IDF, this convenience function for flash voltage was only added recently.

I no longer think this is the problem though, if the serial console log you posted is happening at the same time as the resets. I would have expected a constant reset loop, but this just looks like normal boot functionality.

[2017-03-17 04:13] bobik78 commented on #6
I have refreshed the IDF version and burned the efuses with the recommended setting of flash voltage.
But this didn't solve the problem.
I also want to mention that the printout on serial console is printed only after power resetting (pressing the reset button the board). Running openocd had no impact on serial print itself. So, it looks like JTAG is completely fail to boot the cpu cores.
What JTA

[2017-03-17 04:56] projectgus commented on #6
We have quite a of these [TIAO adapters](http://tiaowiki.com/w/TIAO_USB_Multi_Protocol_Adapter_User's_Manual), which are FT2232H based. Also the ESP-WROVER-KIT board has an FT2232H onboard.

I think I may have also used my Olimex ARM-USB-TINY-H at one point, which is another FT2232H based adapter. Although I'm not 100% certain on that (I don't have access to that adpater right now). I'm also not s

[2017-03-26 02:42] baoshi opened #7 "Threads listing screw up"
I repeatedly run into this issue in various places. e.g,
1. Reset the target board.
2. Start openocd session.
3. Start and connect gdb, then I receive this message in openocd terminal
[code]
at this moment "info threads" from gdb session gives
`* 1    Remote target     0x00000000 in ?? ()`
and program did not stop running

I could, at gdb session, give command "thread 1" and "c", then upon hit Ctr

[2017-04-19 03:23] josesalcedo commented on #7
I was having exactly the same problem, I can't remember exactly what I did to fix it, but I remember I had to change some settings under the esp32.cfg configuration file (notice that the #'s are in a new line, the interpreter gives an error if they are in the same line as uncommented line):
[code]

The other thing I was doing, I was debugging the bootloader ELF file instead of the application ELF

[2017-04-30 16:34] saeugetier opened #8 "Flash download over JTAG"
Hi devs,
are there any plans to enable writing the program to flash over JTAG?
Currently the program has to be  transferred via uart.

[2017-05-01 11:57] MrBuddyCasino opened #9 "Build fails in esp108_apptrace.c"
I just pulled and rebuilt (with clean and configure), and got this:

`esp108_apptrace.c:615:37: error: cast from 'uint8_t *' (aka 'unsigned char *') to 'struct apptrace_data_hdr *' increases required alignment from 1 to 2 [-Werror,-Wcast-align]
                                struct apptrace_data_hdr *hdr = (struct apptrace_data_hdr *)&at_cmd_ctx->trax_block_data[i];

[2017-05-01 22:26] cjsm74 commented on #9
Same problem on Raspbian Pixel:
[code]

[2017-05-02 10:19] MrBuddyCasino commented on #9
Can confirm it compiles using: `make CFLAGS+=-Wno-cast-align`

[2017-05-08 15:34] zhivko commented on #8
That would be really nice feature and it would release serial pins for another things.. so :+1: for this issue and looking forward for resolution.

[2017-05-17 16:38] EndlessDelirium commented on #8
I also think that this improvement would be a highly appreciated by many.
Sysprogs VisualGDB already supports this. So maybe the corresponding can be merged back from their OpenOCD fork?
Furthermore there is already an ongoing forum discussion: https://esp32.com/viewtopic.php?f=2&t=854&start=10

[2017-05-22 21:47] gojimmypi opened #10 "Error: Error allocating memory for (billion+) threads"
A few days ago, I was able to get the `xtensa-esp32-elf-gdb -tui` working to single-step ESP32 code! :)

Since that time however, I have been unable to duplicate that success.

I am running espressif openocd from my `~/workspace/ESP32/openocd/scripts`, and I am using the "hello world" freeRTOS sample that is installed here: `~/esp/hello_world`, following the instructions from here: [http://esp-idf

[2017-06-01 15:03] krzychb commented on #5
Hi @wixa,

If you are using Linux then try https://espressif.com/sites/default/files/documentation/jtag_debugging_for_esp32_en.pdf that provides extra details on installation in chapter 3.2.

Another option is https://www.matthias-jentsch.de/2017/02/16/on-chip-debugging-on-esp32-with-eclipse-and-openocd/

[2017-06-01 15:12] krzychb commented on #7
Hi @baoshi,

I see similar issue. To resolve it I am doing reset of board between your steps 2 and 3.

Please see https://espressif.com/sites/default/files/documentation/jtag_debugging_for_esp32_en.pdf, page 8/16, point 3.

[2017-06-06 17:18] gojimmypi commented on #6
@bobik78 I noticed the `adapter speed: 2000 kHz` have you tried lowering it?

I have a blog about using the and ESP32 [here](https://gojimmypi.blogspot.com/2017/05/vscode-jtag-debugging-of-esp32-part-1.html) that might help.

Note that I tie my RTCK to GND, set ESP config to `set ESP32_RTOS none`, fwiw I also do not `srst_only separate srst_gates_jtag srst_open_drain connect_deassert_srst` or  `ad

[2017-06-07 06:06] igrr commented on #9
Fixed in https://github.com/espressif/openocd-esp32/commit/2baa81c34ba00c33f1ec28167161ca3107c7cca9.

[2017-06-07 06:06] #9 closed

[2017-06-09 07:16] igrr commented on #6
That depends on the module which is used on the dev board. Most WROOM modules use 3.3V flash, while WROVER modules use 1.8V flash.

[2017-06-09 08:11] krzychb commented on #6
What would be the convenient way to check the flash voltage, if we are not sure what particular flash is installed and do not want to desolder module's shield can to check the flash model?

There is a [discussion](https://www.esp32.com/viewtopic.php?t=1481) on reading the  flash chip model id but not sure if this ended up in providing an API inside ESP-IDF.

[2017-06-09 11:03] igrr commented on #6
Even if we knew flash chip model ID we would still need to find its operating voltage. The only comprehensive database of flash chips i know of is in [flashrom](https://github.com/flashrom/flashrom/blob/staging/flashchips.c), and even it doesn't list the operating voltage.
We could try some auto-probing, but i don't know how reliable it would be.

By the way, we have a cleaner way of overriding fl

[2017-06-09 20:49] gojimmypi commented on #6
@igrr I noticed the esp32 config file set this to 3.3V in your [WIP](https://github.com/espressif/openocd-esp32/wiki/Work-in-progress-ESP32-dual-core-target) .. that change (the setting in the other config was 1.8V), and the recent OpenOCD changes in that branch resulted in a significantly better initial debug excperience in VSCode! (more testing needed). I'm using the Adafruit ESP32_Core_Board_V2

[2017-06-10 09:23] valeros opened #12 "Debugging is not working with firmware from Arduino IDE"
Hi! I'm having a strange problem with debugging a simple example from Arduino IDE, whereas "Hello World" example from ESP-IDF can be debugged perfectly.
Hardware:  FT2232H + esp32 dev board connected via JTAG.

When I'm trying to debug a simple "WiFiScan" sketch from Arduino in GDB I see either this [GDB log](https://pastebin.com/2WSK9tZj) with next [openOCD log](https://pastebin.com/ERctay12) (lo

[2017-06-10 10:32] igrr commented on #12
Could you please attach the elf file, GDB remote log, and openocd log with increased log level (`-d 3`)? Thanks.

[2017-06-10 20:23] valeros commented on #12
Hi @igrr ! Sure, [openocd](https://pastebin.com/GrJjSEA3), [GDB](https://pastebin.com/8z4K0n5d), [elf](https://drp.io/f/By1d4RKf-)

[2017-06-11 15:43] igrr commented on #12
Ok, thanks. I've tried reproducing this, looks like there are three issues:
- the ELF file doesn't include `uxTopUsedPriority` symbol, which must be linked in via an LD flag ([source](https://github.com/espressif/esp-idf/blob/master/components/freertos/component.mk#L5)). Maybe the flag is missing in Arduino platform.txt.
- `mon reset` doesn't work reliably if 240MHz CPU frequency is selected. Sinc

[2017-06-12 17:48] KoWu opened #13 "Werror implicit-fallthrough GCC 7.1.1"
With GCC 7.1.1 implicit fallthroughs throw a warning. Because of Werror the build will fail.

If someone else has this issue, as a temporal fix build with:
make -j
wait until the error is thrown and continue with
make -j CFLAGS='-Wno-implicit-fallthrough'

By only using the second make command the build will fail as well with "libusb.h" not found because of some buggy makefile wich does not proper

[2017-06-20 05:53] wixa commented on #5
Thank you @krzychb

[2017-06-21 08:42] #4 closed

[2017-06-27 12:05] igrr commented on #12
The 2nd point (mon reset issue) has now been fixed, merge pending.
The 3rd issue has been fixed in ESP-IDF and will propagate to Arduino next time library update happens.
The 1st point must still be added to Arduino build script, i think.

[2017-07-07 05:41] krzychb commented on #13
Thanks, @KoWu!
I have stumbled upon this very issue and your fix made my day :+1:

[2017-07-27 14:09] igrr commented on #8
Fixed in a8595645

[2017-07-27 14:09] #8 closed

[2017-07-27 14:09] igrr commented on #2
Can't reproduce this anymore, closing for now.

[2017-07-29 11:23] krzychb commented on #6
@bobik78, using recent commit a85956457febe3a59b59e2a175d543878cfa5dfe (of Jul 24, 2017 ) I have checked Olimex ARM-USB-OCD-H  together with ESP32_Core_board_V2 and it works without any issues. JTAG wiring is documented in https://esp32.com/viewtopic.php?f=13&t=2525#p12056
Documentation matching above commit is under http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/index.html
Plea

[2017-08-08 08:45] johsely1234 opened #14 "Problem with libwebsocket application"
I am trying to debug and/or flash the esp32 module with openOcd. I am using a program that uses libwebsockets.
https://github.com/warmcat/lws-esp32-factory
@lws-team

With the example program "hello world" from esp-idf the debugger works (see below) but with the libwebsockets template app it does not work.

Error: JTAG scan chain interrogation failed: all ones

I know this problem normally occurs

[2017-08-08 09:33] krzychb commented on #14
The errors you report look similar to what is documented in paragraph [Do not use JTAG pins for something else](http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#jtag-debugging-tip-jtag-pins-reconfigured). This suggest issue with JTAG pins being also used by lws-esp32-factory.

Apparently lws-esp32-factory is using GPIO14 - see [Optional default peripherals](ht

[2017-08-08 09:59] lws-team commented on #14
Lws per se won't intentionally mess with your jtag; it doesn't care about it.

It sounds as @krzychb helpfully suggests it's IO or something in your config.

Again LWS itself doesn't care about your gpio, but the test apps are built around a button and LED, one gpio each.  I tried to make them easily configurable but the IO mux in ESP32 didn't make that reasonable to do at least at the time I trie

[2017-08-08 10:46] johsely1234 commented on #14
Ok thanks for the fast reply. I did not think about the gpios...

In lws-plat-esp32.c there is the gpio 14 used. GPIO_SW is defined as 14 -> I changed it to 16 but that did not help unfortunately.

I also uncommented this part:

[code]

I am not looking into my code if there is a gpio used...

[2017-08-08 11:06] johsely1234 commented on #14
I made a endless loop at the beginning of the app_main(). This should ensure that no pin is used?

Still the same error.

[2017-08-08 11:07] krzychb commented on #14
I would not modify the source code but change the "GPIO for Force Factory Boot" in menuconfig instead.

[2017-08-08 11:15] krzychb commented on #14
I do not think this will help.
This GPIO is configured by [bootloader code](https://github.com/warmcat/lws-esp32-factory/blob/a3d0f58d4f86202c05e6155cdaa83866ae326d60/components/bootloader/src/main/bootloader_start.c#L238), before the application gets to the `app_main()`.

[2017-08-08 11:47] johsely1234 commented on #14
Yes you are right, I have to change it in the sdkconfig/make menuconfig.

But I can't find it in the make menuconfig (It should be under Security features, but I could not find it anywhere else).
It is in the sdkconfig file, but this should not be edited and does not work to change anyway.

I use esp-idf v2.1-rc1.
I can't use the latest libwebsocket because of:

[code]

[2017-08-08 13:08] rechan886 opened #15 "start the commands xtensa-esp32-elf-gdb -x gdbinit build/blink.elf and the openocd reports the error below"
Error: cpu0: esp32_fetch_all_regs (line 234): DSR (8011CC13) indicates DIR instruction generated an exception!
Info : Target halted. PRO_CPU: PC=0x400D16B3 (active)    APP_CPU: PC=0x4000BFEA
Error: FreeRTOS maximum used priority is unreasonably big, not proceeding: 1061164148

I use the Jlink.
and I can not debug the program

[2017-08-08 13:45] johsely1234 commented on #14
Ok it was the pin. I could change it in the file components/bootloader/src/Kconfig.projbuild in my application directory.

config BOOTLOADER_FACTORY_BUTTON_GPIO
	int "GPIO for Force Factory Boot"
	default 16

I don't know why it is not shown in menuconfig, but that would be better to change it there.

Thanks a lot for the help!

[2017-08-08 13:53] krzychb commented on #14
We are getting to the point of learning internals of this application so, JTAG debugging will not be required :smile:

The option is under : `Security features > Potentially insecure options  >  (14) GPIO for Force Factory Boot`

![image](https://user-images.githubusercontent.com/12953787/29074871-0b4a03a0-7c51-11e7-8cd1-a6c029527a98.png)

[2017-08-08 14:22] johsely1234 commented on #14
Don't worry I will need the debugger for the application for sure ;-)

Yeah I found it now, I had to activate "Enable secure boot in bootloader" or "Enable flash encryption on boot".
I don't need this two options for now. I should be able to set these if both options are disabled or not?

[2017-08-08 14:27] johsely1234 commented on #14
It should be in the Component config -> Libwebsockets right?

[2017-08-09 00:09] lws-team commented on #14
When I did it, I recall it appearing somewhere more useful... maybe it also depends on esp-idf.  If there's something it should declare better patches are very welcome.

"the button" is used to force us to come up in factory, to unfortunately it has to get checked in the bootloader.

[2017-08-10 07:08] #14 closed

[2017-08-11 08:44] zjykymt commented on #15
I also had the same problem.

Include two log files
[gdb_log.txt](https://github.com/espressif/openocd-esp32/files/1217293/gdb_log.txt)
[openocd.txt](https://github.com/espressif/openocd-esp32/files/1217297/openocd.txt)

[2017-08-11 09:14] zjykymt commented on #15
@rechan886 There is something worth sharing is that I have just succeeded in debugging.

The solution is that I am modifying "adapter_khz" parameter within "esp-wroom-32.cfg":
old:adapter_khz 20000
new:adapter_khz 2000

JTAG Wiring Table(JLINK same applies)
![image](https://user-images.githubusercontent.com/9928032/29207336-62fc60ac-7eb8-11e7-828f-58c26e62b3d4.png)

[2017-08-11 09:27] krzychb commented on #15
@zjykymt, thank you for sharing your findings!
How long is the cable you are using to connect ESP32 to JLINK? Could you post a picture?

[2017-08-12 02:31] rechan886 commented on #15
@zjykymt thank you for your suggestion. The problem has solved.

[2017-08-15 09:53] zjykymt commented on #15
@krzychb The cable length is 20cm, for the 20M frequency may be too long.

[2017-08-16 07:57] krzychb commented on #15
@zjykymt, I think this is the case. I cut "standard" DuPont breadboard 20 cm wires into halves.
With 10 cm equal length wires I could run JTAG @ 20 and 26 MHz without any issues.

[2017-08-22 00:23] orcema commented on #12
is there a binary for windows 10 including these updates?

[2017-08-24 13:22] krzychb commented on #15
@rechan886, could you close this issue report?

[2017-08-24 13:28] #15 closed

[2017-08-25 09:40] chevdor opened #16 "Issue when running Espruino"
I am using a ESP32-WROOM-32 and an Olimex ARM-USB-OCD-H.

I tried connecting openocd while the ESP32 runs a blink program compiled with the Espressif SDK and everything works as expected. I can for instance connect and halt the CPU.

When running Espruino on the same board and the same connections however, things don´t go so smooth:
[code]

I can connect with telnet/4444 but this time, commands su

[2017-08-27 13:58] krzychb commented on #16
Hi @chevdor,

Above error log resembles log described in http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/configure-other-jtag.html#configure-hardware

Checking the picture under "GPIO Pins" on page  http://www.espruino.com/ESP32 it looks to me that Espruino may be configuring all [ESP32 JTAG pins](http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/configure-other-j

[2017-08-27 14:17] krzychb commented on #10
Hi @gojimmypi,
There have been several updates to OpenOCD since May 22 and I assume this issue is now gone with current release on master :smile:
Could you check / confirm that?

[2017-08-27 14:52] krzychb commented on #7
Hi @baoshi, now I do not see this issue anymore with current release of OpenOCD.

[2017-09-04 01:52] DavidAntliff opened #17 "Error: buspirate debug interface not found"
I get an error when trying to use a BusPirate as my JTAG debug interface.

With the original v0.10.0 from openocd.org:

[code]

But with this fork, built from cc5b0f7a0215e5c121f63d9c884176ca9627d9d2:

[code]

My `buspirate.cfg` looks like this:

[code]

Is the `buspirate` debug interface explicitly disabled in this fork? If so, can you tell me why please?

[2017-09-04 02:45] DavidAntliff commented on #17
I discovered that no changes were made in this fork to disable this debug interface. Instead, `configure` has an `--enable-buspirate` option that enables this functionality. I will therefore close this issue as it is invalid.

[2017-09-04 02:45] #17 closed

[2017-09-11 16:04] csann opened #18 "[TW#18926] Setup of OpenOCD instructions incomplete for OS X"
On this page

https://dl.espressif.com/doc/esp-idf/latest/api-guides/jtag-debugging/setup-openocd-macos.html

the instructions are incomplete. In addition to downloading and extracting the file to the ~/esp folder, you must also install libusb as follows:

a.  Install Homebrew by typing in Terminal: "ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" < /dev/n

[2017-09-12 01:49] igrr commented on #18
Thank you for reporting this. If you wish to submit a PR, you can update this file: https://github.com/espressif/esp-idf/blob/master/docs/api-guides/jtag-debugging/setup-openocd-macos.rst

[2017-09-12 02:11] csann commented on #18
I’m not too good at using git. I’ll let you guys fix it.

[2017-09-12 18:27] freeck commented on #12
After some tinkering I have arrived at the point of using source level debugging (jtag & openocd) with Eclipse. It seems that one issue remains i.e. issue 3. Has this been fixed in the latest release (I didn't saw it listed in the release notes)?

[2017-09-14 12:56] freeck commented on #12
I solved this problem in Eclipse, by:

1: Setting the parameters in Eclipse->DebugConfiguration->GdbHardwareDebuging->Startup as follows:
monitor reset halt
x $a1=0
thb loop
thr 0   // this was my lucky guess, application should be started in the APP-CPU.
c

2: Include file _FreeRTOS-openocd.c_ the project...

Using gdb also works: >_xtensa-esp32-elf-gdb.exe -x application.elf_ however an error is

[2017-09-19 10:10] pieceofsummer opened #19 "Errors building on Mac OS with Xcode 9"
One in esp108.c:
[code]

Another one in esp32.c:
[code]

[2017-09-23 06:41] igrr opened #20 "[TW#18928] registerview in eclipse debugger (OCD-129)"
_From @hackrid on September 16, 2017 18:5_

Hi,

hows your thinking regarding adding a register description file to embsysregview for esp8266 and esp32?
would improve the debugging expirience a lot.

http://embsysregview.sourceforge.net/

best regards

_Copied from original issue: espressif/esp-idf#1007_

[2017-09-23 06:43] igrr commented on #20
Thanks for the suggestion @hackrid, we will prepare the register description file.
I have moved the issue to openocd repository as it is more related to debugging features such as this one.

[2017-09-23 16:09] hackrid commented on #20
thanks very much for picking this up! I appreciate it very much! keep us posted :)

[2017-10-27 15:02] sharif351 opened #21 "[TW#18929] xtensa-esp32-elf-gdb.exe stops working on windows 10 eclipse debugging"
Hi,

I have been trying to step through the "https_request" project following the guideline of eclipse GDB debugging configuration guideline. While doing so I, after hitting a break point, on resume, code breaks at "xQueueGenericReceive() func", event though i haven't set any break point there. After that, once I hit resume button/step_over button, xtensa-esp32-elf-gdb.exe stops working, and my de

[2017-10-30 09:29] chrta opened #22 "[TW#18931] Custom SystemView events not supported"
I would like to add my own event to a SystemView trace. In the firmware i added this besides enabling the SystemView tracing functionality:
[code]

But when i start the trace via openocd, i get:
[code]

This is generated in this line: https://github.com/espressif/openocd-esp32/blob/master/src/target/esp108_apptrace.c#L1797

Is there a generic way to enable custom events without the need for everyo

[2017-11-01 13:10] ligius- opened #23 "[TW#18932] Upstream? (OCD-191)"
Will the changes ever be pushed to the upstream repository? Or will this fork keep up with the main one? There are quite a few new fixes and features upstream and I found myself having to manually integrate this fork as there were some breaking changes upstream (for example src/target/Makefile.am)

[2017-11-02 08:21] chrta commented on #22
FYI: I removed to following four lines from the source code and it worked for me.

[code]

[2017-11-13 05:52] amcjen commented on #19
Seconding this bug.  I also experience it on OS X 10.12.6

[2017-11-14 12:52] frenzox commented on #19
+1

[2017-11-23 07:42] cz172638 commented on #23
rebase on top of openocd master and submit for review to openocd gerrit.

[2017-11-23 07:47] igrr commented on #19
Resolved in befba2b

[2017-11-23 07:47] #19 closed

[2017-11-23 07:47] igrr commented on #13
Resolved in 6ac33a8423d24af9579b2022c17163ec97a1ad08.

[2017-11-23 07:47] #13 closed

[2017-11-23 07:50] #16 closed

[2017-11-23 07:51] #5 closed

[2017-12-14 15:48] BobaTrek commented on #21
I am having the exact same issue.  Did you ever get this solved?

[2017-12-19 18:02] chegewara commented on #21
I would start from here:
https://www.freertos.org/FreeRTOS_Support_Forum_Archive/March_2008/freertos_Queue_Problem_1971146.html

[2017-12-19 20:55] sharif351 commented on #21
Hi,
My apology for my delayed response! Anyway, I got this issue solved for my case. I was using WROVER kit and I had the following pins (please see in the following picture) sorted; which I was not supposed to do. After removing the short it started working fine.
Thanks!
![img_0610](https://user-images.githubusercontent.com/13020005/34178403-082a8ef0-e4d5-11e7-9e95-0eeda8d4c2bd.jpg)

[2017-12-19 23:17] BobaTrek commented on #21
You are a life saver!

I am evaluating if my company wants to base product on the ESP32, and this would have been a show stopper.

In case anybody else finds this thread by searching:

The problem for me was that the documentation for the ESP WROVER KIT here is incorrect:
http://esp-idf.readthedocs.io/en/latest/get-started/get-started-wrover-kit.html
On this page, in "Setup Options" for the JTAG j

[2017-12-23 20:51] satoshinm commented on #23
Hi, I've started an attempt to reconcile the merge conflicts with openocd-esp32 and the current upstream openocd as part of upstreaming it, progress here: https://github.com/satoshinm/openocd/pull/2 - so far it compiles but I have no way yet to test it, maybe helpful as a starting point?

[2018-01-06 14:00] igrr commented on #2
Reported again in https://esp32.com/viewtopic.php?f=2&t=4146

[2018-01-06 15:01] pdelprat commented on #2
Hello,

a. ESP-WROVER-KIT v3
b. ESP-IDF v3.1-dev-69-g8688f0ec-dirty
c. Windows 10 latest release
d. Bar metal, not VM

[openocd_log.txt](https://github.com/espressif/openocd-esp32/files/1608900/openocd_log.txt)
[gdb_log.txt](https://github.com/espressif/openocd-esp32/files/1608901/gdb_log.txt)

King regards,
Pascal

[2018-01-22 06:19] nkolban opened #27 "[TW#18940] Debug fails / stops in taskENTER_CRITICAL / queue.c"
I am running a WROVER DevKit with the latest ESP-IDF master as of this date.   When I run gdb against my ESP32, all works as desired ... for a period of time.   As I step through the statements using `n` I am presented with the next statement as desired.  However, after stepping over a varying number of statements, when I next execute `n` I do NOT wake up at the next statement, instead I wake up h

[2018-01-22 18:56] BobaTrek commented on #27
I have experienced the same issue.  Please see my submission:
[https://github.com/nkolban/esp32-snippets/issues/296](https://github.com/nkolban/esp32-snippets/issues/296)

Another programmer also experienced this issue here:
[https://github.com/espressif/openocd-esp32/issues/21](https://github.com/espressif/openocd-esp32/issues/21)

At the end of the above two threads there is a 5 step process tha

[2018-01-23 21:25] Cooler1989 opened #28 "[TW#18941] xtensa_read_memory 0x0 memory dereference segfault."
Hi, I encountered some errors during openocd operation. Software revision is: cdaf22f

Error is in esp32.c:580 where albuff is equal to 0x0 at instruction: albuff[i] = 0;

Here is backtrace:

Here are some locals:

[2018-02-06 10:16] worker2345234 commented on #27
Hello,

same here! I'm using the current IDF from today and the blink example.
$ bin/openocd --version
Open On-Chip Debugger 0.10.0-dev-ga859564 (2017-07-24-16:18)

[2018-02-06 10:45] worker2345234 commented on #27
Sorry, I forgot to mention information about my jtag adapter: I'm using a USB powered WROVER-Devkit V2.
On JP8 I've set 5 jumpers: TMS, TDO, TDI, TCK and S_TDI are close.
I left nSRST and GND open.

[2018-02-07 10:59] foxlav commented on #27
Hello,
I am using a USB powered Espressif ESP32-WROVER-KIT V3 and have the same issue.

[2018-02-18 23:51] neilpanchal opened #29 "[TW#18943] Target Halted SIGTRAP - Keeps interrupting debug session"
I have noticed (even in the esp32 docs regarding gdb) that there are tons of hardware level halts causing the debugging session to be completely counter productive vs. just using print statements.

I have since added the following to my gdbinit file:

[code]
I got the SIGTRAP interruptions from stopping everything but I still get loads and loads of print outs in the terminal:

[code]
How can we ma

[2018-02-23 04:50] jan4984 opened #30 "[TW#18944] please add releases"
`https://dl.espressif.com/dl/` updates little. I need new version but not want to build from source which is totally not my work.

[2018-02-23 16:08] ivankravets commented on #30
Which versions?

[2018-02-23 17:45] jan4984 commented on #30
https://github.com/espressif/openocd-esp32/pull/24

[2018-02-25 18:29] gdombiak opened #31 "Error: Exception reading acchi!"
Hi,

I'm running openocd with a local build from latest master (commit 07baed8ccb1331c0ede43e49e4b730dde1641d3c (HEAD -> master). I followed http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/building-openocd-macos.html for the local build. I'm also running latest esp-idf from master (commit 165e3edd4949586dc90fa682f907d971fee488fc (HEAD -> master)).

Below you can see how I started

[2018-02-25 20:29] gdombiak commented on #31
Goods news! It is now working. Updating this issue to document how it got solved in case someone else runs into this.

| JTAG | ESP32 | Problem |
|----------|-------|-------------------------------------------------------|
| 3v3 VTref | 3.3V | I got this connected to pin2 in OLIMEX instead of pin 1 |
| GND | GND | I got this connected to pin 20 in OLIMEX instead of pin 6 |

When I fixed the first

[2018-02-25 20:29] #31 closed

[2018-03-03 08:32] Sermus commented on #27
+1
Reproduces for me both with WROVER KIT and in house developed hardware.

[2018-03-03 09:01] igrr commented on #27
@Sermus could you please mention OpenOCD version you are using?

[2018-03-03 09:53] Sermus commented on #27
Sure.
Open On-Chip Debugger 0.10.0-dev-ga859564 (2017-07-25-00:19)

[2018-03-03 10:03] igrr commented on #27
2017-07-25 seems to be pretty dated, could you try the git head?

[2018-03-03 17:35] BobaTrek commented on #27
I am having the same issue with breakpoints.
I just checked my version and it is the same as @worker2345234:
Open On-Chip Debugger 0.10.0-dev-ga859564 (2017-07-24-16:18)

I got this version by following Espressif's esp-idf installation instructions here:
[http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/setup-openocd-windows.html](url)

Espressif's installation instructions say to

[2018-03-04 12:35] igrr commented on #27
When this (sigtrap in multi_heap) happens, do you see any output from the exception handler on the UART console?

[2018-03-04 12:49] Sermus commented on #27
Yes, this is the message:
Guru Meditation Error: Core  1 panic'ed (LoadProhibited)
 at pc=4013ff40. Setting bp and returning..

But it never happens if OCD is not run.

[2018-03-04 13:01] igrr commented on #27
It's interesting that the PC reported by the exception handler does not match the backtrace you get from GDB. Can you see what is the output of `l *0x4013ff40` in GDB (with the same elf file that produced the exception)?

[2018-03-04 13:03] igrr commented on #27
Also, does this happen when you are running (`continue` or `next`) or when you are single stepping (`step`)?

[2018-03-04 14:45] Sermus commented on #27
Weird things happen. I can't repro sigtrap in the place i reported initially. Now it halts at another location in my user code. It crashes because it tries to dereference nullptr coming as a parameter to a function. The weird is that the caller definitely passes not null as this parameter. I.e. in the function it crashes i see the parameter is null. If i move a frame back down by the stack i see t

[2018-03-04 14:58] igrr commented on #27
One possibility i can think of is that some register gets zeroed out when OpenOCD is saving/restoring the context. If you can run through this repro process, can you please also check which register is holding the argument? If this is the same register every time, then it's quite probable that OpenOCD is responsible.

[2018-03-04 15:23] Sermus commented on #27
The snippet at the caller is:
401415cc:	41c8      	l32i.n	a12, a1, 16
401415ce:	b1b8      	l32i.n	a11, a1, 44
401415d0:	01ad      	mov.n	a10, a1
401415d2:	0e2132        	l32i	a3, a1, 56
401415d5:	0003e0        	callx8	a3

[2018-03-05 06:01] nkolban commented on #27
I am able to recreate as needed.  Would be delighted to offer up a screen share session if that would be of assistance.  Was the original ZIP file supplied in the first post usable in any fashion?

[2018-03-05 06:06] igrr commented on #27
@nkolban could you please check whether you are using latest OpenOCD version or the older `0.10.0-dev-ga859564 (2017-07-25-00:19)` one?

[2018-03-05 06:11] igrr commented on #27
@BobaTrek @nkolban

By the way, the most recent builds of OpenOCD can be downloaded from the following URLs:

https://dl.espressif.com/dl/openocd-esp32-win32-07baed8c.zip
https://dl.espressif.com/dl/openocd-esp32-macos-07baed8.tar.gz
https://dl.espressif.com/dl/openocd-esp32-linux64-07baed8.tar.gz

[2018-03-05 06:16] igrr commented on #27
Ok, 2nd argument maps to a3 within the function, and a3 is used as a scratch register, so my hypothesis checks out. We'll try to reproduce this and figure out why the register is not restored.

[2018-03-06 02:53] FayeY commented on #6
Closing due to lack of response, please feel free to reopen if this is still an issue.

[2018-03-06 02:53] #6 closed

[2018-03-06 02:54] FayeY commented on #7
Closing due to lack of response, please feel free to reopen if this is still an issue.

[2018-03-06 02:54] #7 closed

[2018-03-06 02:56] FayeY commented on #10
Closing due to lack of response, please feel free to reopen if this is still an issue.

[2018-03-06 02:56] #10 closed

[2018-03-06 03:02] #12 closed

[2018-03-06 16:17] Sermus commented on #27
@igrr Sorry for the delay. The log is attached. As far as i can see, there are several write_dirty_register segments.
[openocd_log.tar.gz](https://github.com/espressif/openocd-esp32/files/1785729/openocd_log.tar.gz)

[2018-03-06 17:09] igrr commented on #27
Ok, so right before the last `continue` there is

[code]

which means that it is being written back, but the value is possibly corrupted. Thank you for the logs, at least we now know what to look for.

[2018-03-10 00:20] nkolban commented on #27
Following the suggestion from @igrr to install https://dl.espressif.com/dl/openocd-esp32-linux64-07baed8.tar.gz ...  I have done this and now seem to be resolved relative to the original content of this issue.  If it were just my issue, I'd close it with thanks ... but I get the sense that there may now be others leveraging the same issue for either related or distinct content.  Others ... please

[2018-03-12 14:07] worker2345234 commented on #27
Hi, with the openocd version from https://dl.espressif.com/dl/openocd-esp32-win32-07baed8c.zip, the debugging works for me. Thanks!

[2018-03-12 14:21] worker2345234 commented on #27
@igrr Please update the programming guide, e.g. https://dl.espressif.com/doc/esp-idf/latest/api-guides/jtag-debugging/setup-openocd-windows.html

[2018-03-12 16:25] krzychb commented on #27
@worker2345234, do you mean to provide the links to the most recent builds of the OpenOCD?

[2018-03-12 16:39] worker2345234 commented on #27
yes, because the mentioned https://dl.espressif.com/dl/openocd-esp32-win32-a859564.zip obviously does not work at all

[2018-03-13 18:52] valeros opened #32 "[TW#20231] Uploading firmware to flash using GDB and OpenOCD"
Hi guys, my question might not be related to OpenOCD itself (I would thankful if someone could point me out the right place for this issue), but I'm trying to upload firmware using GDB (`load` command with or without offset) but to no avail. All I get is:
[code]
At the same time, direct uploading using the `program_esp32` command with OpenOCD works OK.
`mon program_esp32` in GDB also works.
Hardwa

[2018-03-14 00:42] igrr commented on #32
No, it's not possible to use 'load' with .bin files. Eventually it might be possible to use 'load' with elf files, but even that is tricky. This is because GDB reads load address from the elf file, and uses it to figure out how to load particular segment. For text/data segments located in RAM, GDB will write the data to RAM. But same doesn't work for segments which are mapped to cache. These need

[2018-03-16 02:02] nkolban commented on #7
In case it helps anyone in the future.  I was getting the error:

`Error: FreeRTOS maximum used priority is unreasonably big, not proceeding: <large number>`

and tracked it down (for me) to the fact that I was doing some private linking and had **not** included the following in my linkage preparation for my ELF file:

`-Wl,--undefined=uxTopUsedPriority`

Adding this to the linkage cured me right

[2018-03-16 02:57] igrr commented on #29
Hi @neilpanchal, this looks quite similar to #27. Could you please give the latest OpenOCD version a try? You can find download links in this comment: https://github.com/espressif/openocd-esp32/issues/27#issuecomment-370319753.

[2018-03-16 03:38] BobaTrek commented on #29
+1 on this issue

I too had the problem #27.  I downloaded the new openocd zip file posted in #27 and the problem of the debugger frequently stopping in queue.c did go away.  Yeah!

This is now the version of openocd I am running on a WROVER KIT:
$ bin/openocd --version
Open On-Chip Debugger 0.10.0-dev-g07baed8c (2018-02-23-08:58)

However, even with the new version of openocd, the problem describ

[2018-03-16 03:54] igrr commented on #29
Okay, so basically we need to make these steps run faster, right?

[2018-03-16 23:49] BobaTrek commented on #29
Single stepping faster would be a great benefit.  I am not sure if it is the prints that are clogging the system or something else and the prints are an artifact.

When single stepping, the type of line of code seems to affect how many prints show up in the openocd-esp32 console and consequently how long you then have to wait for them to finish before Eclipse comes back to life at the next line of

[2018-03-23 17:09] snahmad opened #33 "[TW#20232] olimex-arm-usb-tiny-h JATG"
Hi,

I am using olimex-arm-usb-tiny-h.

https://www.olimex.com/forum/index.php?topic=236.0

"The drivers can be downloaded directly from:
https://www.olimex.com/Products/ARM/JTAG/_resources/OpenOCD_OnlinePackage_v1.1.zip

I do this below command. nothing happens no output.

./openocd-libftdi.exe -s share/openocd/scripts -f share/openocd/scripts/interface/olimex-arm-usb-tiny-h.cfg -f share/openocd/

[2018-03-27 11:07] jictannu opened #34 "[TW#20236] fail to build openocd"
When building openocd with MSYS2, the build process fails with following message:

Making all in doc
make[2]: Entering directory“/home/Y400/esp/openocd-esp32/doc”
restore=: && backupdir=".am$$" && \
am__cwd=`pwd` && CDPATH="${ZSH_VERSION+.}:" && cd . && \
rm -rf $backupdir && mkdir $backupdir && \
if (makeinfo --version) >/dev/null 2>&1; then \
  for f in openocd.info openocd.info-[0-9] openocd.in

[2018-04-04 22:35] Gnorkus opened #35 "Receiving JTAG scan chain interrogation failed: all ones"
Hi,

[2018-04-04 23:33] Gnorkus commented on #35
I'm going to try Ubuntu 17 as a VirtualBox, but I'm not sure if there will be any difference.

[2018-04-05 16:40] Gnorkus commented on #35
Same problem in Ubuntu 17.10.  I also tried on a different Windows 10 machine, ASUS brand.  Better specs than my Surface Pro 2017 I7.  I have a list of what I've done for the setup, and the results are identical.  Fine for the build.  Just doesn't do anything.

I have a thread on https://www.esp32.com under the title "WRover-Kit Attach to Ubuntu 16.04LTS VirtualBox".  It describes everything done

[2018-04-05 19:10] krzychb commented on #35
@Gnorkus, this is impressive. Congratulations on persistence and finding the root cause :+1:

[2018-04-05 19:16] Gnorkus commented on #35
Thanks.  If Espressif is watching this, it would be nice if they sent me 6 or so dozen WRover modules to ease the pain of having solved it.  It might also help my boss uncross his eyes.

[2018-04-12 01:37] paulreimer opened #36 "Cannot obtain a profile (e.g. via `gmon.out`)"
I am not sure how to obtain a valid profile (e.g. something in `gmon.out` format such as can be inspected via `xtensa-esp32-elf-gprof`).

From reading the list of commands, it seems I should be able to run:
[code]

However, I get this output from `openocd`, printing endlessly for the 5 seconds requested:
[code]
and eventually finally:
[code]

And this repeating error on the target:
[code]

[2018-04-18 12:33] igrr commented on #30
We have automated the release process, so releases should be more or less regular now.

[2018-04-18 12:33] #30 closed

[2018-04-18 12:35] igrr commented on #33
Please check that you are running OpenOCD compiled from this project. From your command line, it seems that you are running `openocd-libftdi.exe`, which comes from Olimex package instead.

You can download a binary from releases page of this project.

[2018-04-18 12:35] #33 closed

[2018-04-18 12:44] igrr commented on #34
It seems that you don't have `makeinfo` command installed. Please run `apt-get install texinfo` or equivalent on your system.

[2018-04-18 12:44] #34 closed

[2018-04-18 12:47] #27 closed

[2018-04-18 12:48] igrr commented on #27
@Sermus The issue about `a3` corruption has been fixed, please try latest version.

[2018-04-18 12:51] #3 closed

[2018-04-18 13:25] worker2345234 commented on #27
@igrr Do you have a link for the latest version (the windows binary)?

[2018-04-18 13:39] igrr commented on #27
https://github.com/espressif/openocd-esp32/releases

[2018-04-29 15:49] Sermus opened #37 "GDB crashes on returning to a caller function"
Scenario:
1) Set a breakpoint somewhere
2) Do several "step over" steps
3) Do "Step in" into a callee
4) Do "step over" until execution reaches end of the function
5) Do "step over"
Expected result: execution returns to a caller function
Actual result: GDB crashes with the following traces:

/Volumes/build/idf/crosstool-NG/.build/src/gdb-7.10/gdb/regcache.c:697: internal-error: enum register_statu

[2018-04-29 18:10] ivankravets commented on #37
I also very often experience the same error with "regnum >= 0 && regnum < regcache->descr->nr_raw_registers' failed".

[2018-05-06 21:48] Greg-R opened #38 "Debugger halts at app_main, does not show threads."
I am trying to get an ESP-Wrover-Kit working with USB JTAG.  This board has the WROVER module.

I am using ESP-IDF master branch updated as of May 4 2018.
OpenOCD:
Open On-Chip Debugger 0.10.0-dev (2018-04-18-12:03)

Build tools and GDB:
GNU gdb (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 7.10
gcc version 5.2.0 (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a)

I built and flash the example "blink

[2018-05-25 12:34] igrr commented on #38
Hi @Greg-R, based on the log it seems that the breakpoint does not get hit.

Sometimes this happens if the elf file you are passing to GDB does not match the application flashed into the target. Could you please confirm if target is running the same code as you have in the elf file (i.e. by building and flashing the app again)?

[2018-05-25 13:27] igrr commented on #36
Hi @paulreimer, sorry for the slow response.
It appears that the problem is in the part of OpenOCD code which builds the histogram of samples. It tries to figure out the size of single histogram bucket here:

https://github.com/espressif/openocd-esp32/blob/370c35e6758edd43b28d943960a181a58ecd523c/src/target/target.c#L3851-L3873

The failing assert expresses the assumption that there are at least t

[2018-05-25 13:47] #18 closed

[2018-05-29 14:35] igrr commented on #38
Thanks for the extra info! Could you please attach your `gdbinit` file as well?

[2018-05-29 14:35] #36 closed

[2018-06-02 10:38] Sermus commented on #37
Is there any progress on this please?
This issue makes debugging near impossible in complex environments .

[2018-06-02 12:09] igrr commented on #37
The fix for this will be included into the next toolchain update, which may take a few weeks to finish. However we do have a workaround for this on OpenOCD side, which is in review at the moment. Should be merged next week.

[2018-06-04 03:08] #37 closed

[2018-06-05 02:46] frederic commented on #38
Hello,

I have the same issue.
I am using the default GDB file :
[code]
Tried with two different Linux computers, also tried both release packages or sources (esp-idf,openocd).

I would like to add that the JTAG programming also failed, despite that TAPs are detected :
[code]

A last detail, I noticed two additional lines in both GDB & OpenOCD logs (in @Greg-R 's log as well ) :
[code]

[2018-06-05 04:03] igrr commented on #38
@frederic Could you please try replacing `x $a1=0` command in gdbinit file with `set $a1=0`? Additionally, please check that application does not use GPIOs of the JTAG interface (GPIO12-15).

[2018-06-05 04:58] frederic commented on #38
Hello @igrr

Thank you for your reply.

I am using the blink sample code from esp-idf, and the only GPIO that seems to be used is CONFIG_BLINK_GPIO=5 .

I've replaced `x $a1=0` with `set $a1=0` in gdbinit, here's the log :
[code]
We can notice that a difference with the initial gdb config (`x $a1=0`) : the following line is now missing at the end of log :
[code]

Thank you

[2018-06-05 05:10] frederic commented on #38
JFYI, here are the steps I am following :
1) Build & flash blink project using `make flash`. Disconnect USB, remove UART jumpers.
2) Connect to USB : LCD blinks (ESP-WROVER-KIT)
3) Run OpenOCD, LCD still blinks :
[code]
**Interesting fact !** After waiting ~30 seconds at this step, the following lines are append to log :
[code]
And the LCD immediately stops blinking. So target seems halted. (Runni

[2018-06-05 07:26] igrr commented on #38
Thanks for the detailed logs @frederic. I'm a bit at loss what might be the reason, since there are no errors reported, but still the breakpoint is not being hit. I have followed the same procedure locally and it seems to work correctly every time.
Here is one more idea to try. Let's see if this is just app_main breakpoint not being hit, or is it the same for any other breakpoint:

1. After doing

[2018-06-05 10:51] Greg-R commented on #38
Here is my gdbinit:
target remote :3333
mon reset halt
thb app_main
x $a1=0
c

Regards,
Greg

[2018-06-05 10:59] Greg-R commented on #38
I have it on my task list to put a scope on the JTAG.  I have a 4-channel scope with 14MB memory.  This is a new scope, and I have to spend a little time with it understanding how to configure.
I have the working WROOM, so I might be able to do a compare.  Hopefully will get to it within a few days.

I might be able to try the test suggested by Ivan later today.  I will report if possible.

Regard

[2018-06-05 18:56] KampfCaspar opened #39 "WROVER-V3 does not 'continue' after mon reset"
Whatever I try, after 'mon reset' nothing seems to run anymore... Even stopping openocd and trying to flash fails (no further reaction from the board). Without 'mon reset' however, it seems to work fine.

examples/get-started/blink with
esp-idf with tag v3.0
xtensa-esp32-elf-linux64-1.22.0-80-g6c4433a-5.2.0
openocd-esp32-linux64-0.10.0-esp32-20180604

[gdb_log.txt](https://github.com/espressif/ope

[2018-06-06 07:03] igrr commented on #38
Okay, that seems to make sense now. PC is 0x40007BA1, which is a location of a while(1) loop in ROM code. ROM code enters this loop if it failed to load application from flash into RAM. If you open UART console before starting OpenOCD, you should see a message like "flash read err" in the console.
Without OpenOCD attached, this infinite loop is usually terminated by RTC watchdog timer, which reset

[2018-06-06 11:42] Greg-R commented on #38
Copied below is what I see with "make monitor".  Looks good to me.  This is the matte black board with ESP32-WROVER module.  The only female connector is labelled JP4.  The "blink" example toggles GPIO5, which in the case of the WROVER kit, causes the entire display to blink.  So that makes me believe the program is loaded up correctly and is running.  The power is via USB.  Could there be excessi

[2018-06-06 12:13] igrr commented on #38
Is this this output you get right after GDB starts up and executes the startup script? I understand that example runs correctly when you reset the board using 'make monitor'. What seems to happen is, when OpenOCD resets the chip (`monitor reset`), then the ROM code can not load the application.

Please try opening `make monitor` first, don't close it, then in another console start GDB. Observe wha

[2018-06-06 12:47] igrr commented on #39
Judging by the log this is the same issue as https://github.com/espressif/openocd-esp32/issues/38 (program is stuck in ROM code, at 0x40007ba1). Please follow the link and click "Subscribe" to receive further updates.

[2018-06-06 12:47] #39 closed

[2018-06-06 23:38] Greg-R commented on #38
OK, very interesting, your suggestion worked!  So I did this:
1.  make monitor in blink project.  See terminal output above.
2.  Start Openocd in 2nd terminal.
3.  In 3rd terminal, start GDB.

Now there is additional output from monitor, append this to the make monitor output from above:
ets Jun  8 2016 00:22:57

rst:0x3 (SW_RESET),boot:0x3e (SPI_FAST_FLASH_BOOT)
flash read err, 1000
ets_main.c 37

[2018-06-08 06:00] frederic commented on #38
Just to confirm I have the exact same results than @Greg-R : when I interrupt GDB, and when I use monitor + openocd + GDB.

[2018-06-08 06:17] frederic commented on #38
So without using the gdbinit file, it seems to works better:
0) flash blink example & boot
1) Attach OpenOCD
2) Run GDB with blink.elf & and execute `target remote :3333`

[code]
However the breakpoint on blink_task (0x400d1ffc) is never hit, not sure if that's expected.
Instead, I have the SIGTRAP exception that keeps interrupting.

[2018-06-08 06:41] frederic commented on #38
FYI, when I execute gdbinit commands manually :
[code]
Interesting to note that when I enter the continue (c) command in GDB, the LCD doesnt resume blinking (stays off).

[2018-06-08 06:49] igrr commented on #38
@frederic could you try running the latest test, where you executed gdbinit commands manually, but use `flushregs` instead of `x $a1=0`?

[2018-06-08 06:53] frederic commented on #38
Here it is :
[code]
Same issue with LCD, it doesnt resume blinking.

[2018-06-08 07:55] igrr commented on #38
At the prompt you get after pressing Ctrl-C, could you please run the following command and paste the output here?

[code]

[2018-06-08 08:07] frederic commented on #38
(gdb) x/1xw 0x3ff48074
0x3ff48074:	0xff600000

[2018-06-08 08:14] frederic commented on #38
I noticed a pretty concerning issue too : when I disassemble a function in GDB, output keeps changing each time I reboot :

[code]
*reset*
[code]
*reset*
[code]

Only the end of function seems to be affected.

[2018-06-08 08:53] igrr commented on #38
This is probably because after reset, flash cache is disabled, but OpenOCD is trying to read the code from the cached region (it doesn't know that app has not enabled flash cache yet). So it reads garbage instead.

Regarding the actual issue (ROM code can't read flash following restart) we're still pondering what may be the cause. I'll try to give some update soon.

[2018-06-09 10:43] simon-jouet opened #40 "GDB access to CPU1"
Hi,

After a bit of struggle I have managed to get openocd to connect properly to the ESP32 and I can connect gdb to port 3333 without any issue, listing the threads setting breakpoints ...

The issue is with connect the the APP CPU, the esp-idf documentation details that port 3333 is for CPU0 and port 3334 for CPU1, however when I run openocd it doesn't bind on port 3334. The issue is I think fai

[2018-06-09 11:06] igrr commented on #40
If you run OpenOCD as you have shown, there will be no access to individual
CPUs. Instead, FreeRTOS support is enabled, and tasks running on both CPUs
are listed in GDB as "threads". Switching between tasks allows you to
change the active CPU used for single stepping.

If you wish to disable RTOS support and access CPUs using two GDB instances
(one instance can not connect to two targets), you nee

[2018-06-09 11:27] simon-jouet commented on #40
Hi @igrr

Thanks for the very fast reply and the details, I didn't get that 3334 was disabled when FreeRTOS support is enabled. I'm trying to debug a WDT interrupt timeout and getting the debugger working should help.

Regarding the doc I mostly followed https://esp-idf.readthedocs.io/en/v2.0/openocd.html which is for the previous version of the esp-idf, but I didn't realise that JTAG debugging al

[2018-06-09 16:32] simon-jouet commented on #40
Thanks for the details, I've managed to debug the issue! The watchdog timeout being disabled didn't end up being too much an issue as I could just halt the CPU when it hanged and figured from the backtrace where the code was.

I tracked the issue to my code calling `timer_enable_intr()` and the code hanging while calling that - I haven't figure the reason why it hanged just yet - but by commenting

[2018-06-09 16:32] #40 closed

[2018-06-12 10:24] michprev opened #41 "timed out while waiting for target halted"
Hi,
I am running custom software (no ESP-IDF) on ESP-WROVER-KIT V3. I am doing probably really bad things in my code because when I try to debug it via JTAG I get this message:

[code]

My gdbinit:
[code]
When I remove code causing crashes on my ESP debugging works normally.

I assume that ESP32 does not require any additional software support to debug it.

Is it expected behavior that it is somet

[2018-06-14 12:34] michprev opened #42 "[TW#24763] "nexti" does not step over "call0" instruction"
When debugging in GDB "nexti" (next instruction) command does not step over "call0" instruction but steps inside. Tried to delete all breakpoints before with no help.

From what I've tried for the first time "nexti" skips over call0 but for the second time it does not and steps inside.

Using OpenOCD v0.10.0-esp32-20180604.

[2018-06-14 14:59] michprev commented on #41
Seems to be resolved in v0.10.0-esp32-20180604. Will reopen if I hit the same problem again.

[2018-06-14 14:59] #41 closed

[2018-06-14 15:22] michprev opened #43 "Some registers not updated"
Consider this example:
[code]

Before last instruction:
[code]

There are probably more registers that are not updated. If you run
`info all-registers`
you will see that many registers contain 0x0 value.

Using v0.10.0-esp32-20180604 revision.

[2018-06-15 17:01] michprev commented on #43
Also a0 - a15 register values differ from ar0 - ar15 ones.

[2018-06-17 21:02] michprev opened #44 "[TW#24765] GDB segfault"
GDB crashes on my machine:
Linux acer 4.9.0-6-amd64 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux

I am using b2ff235b ESP-IDF revision, ESP-WROVER-KIT V3.
Example app: https://github.com/michprev/flyhero-esp32/tree/issue_coredump/The_Eye

.gdbinit
[code]

Steps to reproduce:
[code]

[openocd_log.txt](https://github.com/espressif/openocd-esp32/files/2109378/openocd_log.txt)
[gdb_log.txt

[2018-06-18 12:51] michprev opened #45 "[TW#24766] Software breakpoints not implemented"
https://github.com/espressif/openocd-esp32/blob/a9ec3301c18cd8a4b6ea04a7db8132eade4cf0cc/src/target/esp32.c#L860-L863

Althought software breakpoints cannot be set in IROM it would be still useful to have them.
https://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#what-else-should-i-know-about-breakpoints is outdated.

[2018-06-20 07:41] frederic commented on #38
Hello,

I am still stuck with this issue.
I was wondering if the builtin JTAG of ESP-WROVER-KIT V3 works for you guys at Expressif, and in such case what setup (host, idf version, openocd version) do you use ?

Thank you
Regards,
Frederic

[2018-06-24 09:53] michprev opened #46 "[TW#24767] Stepping in level 5 interrupt vector"
Using ESP-WROVER-KIT V3, custom software (not ESP-IDF)

I am experiencing this message when stepping to next instruction in level 5 interrupt vector:
[code]

[code]

Steps I am doing:
[code]

Stepping in levels 1 - 3 works correctly. I have not tested level 4 vector.

[openocd_log.txt](https://github.com/espressif/openocd-esp32/files/2130646/openocd_log.txt)
[gdb_log.txt](https://github.com/espres

[2018-06-25 09:35] michprev opened #47 "[TW#24768] Timer.2 interrupt not setting bit in INTERRUPT register while debugging"
I would like to use Timer.2 CPU interrupt. It is priority level 5 interrupt (not C servicable).
I am initializating it like this:
[code]
CPU enters level 5 interrupt vector. There I check that bit 16 in INTENABLE and INTERRUPT registers is set.
[code]
But after `rsr.interrupt a0` a0 contains 0x0. When I do not debug everything works as expected and INTERRUPT register always contains 0x10000.

[2018-06-26 12:20] michprev opened #48 "[TW#24769] Wrong CCOUNT values when debugging"
Using v0.10.0-esp32-20180604 release.

Timer 2 interrupt triggers when `CCOUNT = CCOMPARE2`. In timer 2 interrupt handler I copy CCOUNT and CCOMPARE2 register values to _tmp1 and _tmp2 global variables and then in main loop print them. When not debugging _tmp1 (aka CCOUNT) is always greater than _tmp2 (aka CCOMPARE2) - it should be greater.
But when debugging CCOUNT value is smaller then CCOMPARE2

[2018-07-05 12:19] tuangu opened #49 "Could not upload program in GDB"
OpenOCD version: v0.10.0-esp32-20180604
GNU gdb (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5) 7.10

I am facing a problem with uploading code to target (ESP-WROVER-KIT v3) under gdb using program_esp32 tool. It keeps saying "couldn't open [filename]". I have tried using OpenOCD command and it also did not work. Both produce the same error message.

gdb log:
[code]

OpenOCD command:
[code]

[2018-07-05 12:43] worker2345234 commented on #49
try `"program_esp32 C:/msys32/home/Tuan/esp/blink/build/blink.bin 0x10000 reset"`

[2018-07-05 13:03] tuangu commented on #49
@worker2345234  Thanks for your reply. Try your solution and the problem solved.

[2018-07-05 13:03] #49 closed

[2018-07-13 07:39] chrta opened #50 "[TW#24770] Read MAC address via JTAG"
Instead of using the esptool, the MAC address can also be read using jtag. I added this to the openocd cfg file to do this. Maybe this can be added to this repo or someone else finds this useful.

[code]

[2018-07-23 05:20] igrr commented on #45
Software breakpoints have been added in https://github.com/espressif/openocd-esp32/commit/df56722406e76f8d017b0b4101c5895376d602f5. IDF Programming Guide yet to be updated.

[2018-07-27 18:50] dzRBRglobal opened #51 "[TW#24771] Can not set software breakpoints(more than two breakpoints)"
JTAG adapter type: FT2232H on ESP-WROVER-KIT
    ESP-IDF : v3.2-dev-209-gbe81d2c1
    OS : Ubuntu Ubuntu 18.04.1 LTS
    Is OS running natively on a PC or on a virtual machine? On Virtual box

I compiled the Blink example from ESP and open the openocd and then GDB for debugging. Add a break point at line 33 and another one at line 36(blink.c). If I add one more breakpoint at line 37, and type "c"

[2018-07-30 09:17] gerekon commented on #51
Hi @dzRBRglobal

What version of OpenOCD do you use? I checked your case with the latest release from https://github.com/espressif/openocd-esp32/releases and it works fine for me.

[2018-07-30 09:34] ivankravets commented on #51
The same for me, `thb app_main` has stopped working with the last release where were introduced soft breakpoints. Mac.

[2018-07-30 10:09] igrr commented on #51
@ivankravets Are you seeing the same error as reported by @dzRBRglobal above? Please share your logs as well: https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#jtag-debugging-tip-reporting-issues.

[2018-07-30 10:12] ivankravets commented on #51
@igrr see a full log https://community.platformio.org/t/esp32-pio-unified-debugger/4541/21

[2018-07-30 10:22] gerekon commented on #51
@ivankravets This seems to be different issue. I will have a look at it.

[2018-07-30 10:33] gerekon commented on #51
@ivankravets
Hmm, I checked `thb app_main` with blink example and the latest release of openocd. It works. Could you post full log of GDB and OpenOCD using [this instructions](https://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#jtag-debugging-tip-reporting-issues)?
Also could you post symbol map of your application?

[2018-07-30 10:50] gerekon commented on #51
@ivankravets Do you have partition table at the standard offeset (0x8000) in flash? It seems that OOCD can not read flash mappings for your application.

[2018-07-30 10:56] ivankravets commented on #51
I'll provide more details soon. We are going to release the next update to esp32 dev/platform today. We will stay with the previous release. It works without any issues on Mac/Win/Linux. Many developers confirmed that with 1-click debugging using Arduino or ESP-IDF frameworks.

You can try PlatformIO in pair with VSCode and replace the default `openocd-esp32` package by yours in `~/.platformio/pac

[2018-07-30 13:01] dzRBRglobal commented on #51
Hi @gerekon
Thank you very much for you immediate reply. Just looked my OpenOCD version, it is 0.10.0-dev (2018-06-04-09:50)

[2018-07-30 13:15] gerekon commented on #51
@dzRBRglobal

It is old version. Should be from 2018-07-24.

[2018-07-30 13:32] dzRBRglobal commented on #51
@gerekon
I just tried 2018-07-24. The problem is fixed. Thank you.

[2018-07-31 18:58] sinope-db opened #52 "Error programming ESP32 with 16MB flash"
I've just switch to ESP-WROOM-32 modules with 16MB of flash and I'm getting an error when trying to program them using JTAG. Using the same setup, I can program modules with 4MB flash just fine.

I'm using the win32 binaries of the release v0.10.0-esp32-20180724.
I also tried the previous release (20180604) without success.

Licensed under GNU GPL v2
For bug reports, read
        http://openocd.or

[2018-08-02 03:42] btashton opened #53 "Bug in arm_disassembler.c triggers compiler warnings that prevent building [FIXED UPSTREAM]"
Currently real compiler warnings prevent building this from source due to real bugs in arm_disassembler.c   This has been fixed upstream with these patches, please apply:
http://openocd.zylin.com/#/c/4526/

[code]

[2018-08-02 04:24] btashton opened #54 "Failed to build with gcc 8 -- cast between incompatible function types (OCD-173)"
With gcc 8 we now get  `-Wcast-function-type warns when a function pointer is cast to an incompatible function pointer.`

This results in complier failing to compile with -Wall.
[code]
This is not really a bug, but a possible source of a bug later.  If we don't want to restructure how algo_func works we can just cast to `void *` first.
[code]

[2018-08-03 06:31] Super169 opened #55 "Where can I found the interface file for ESP-Prog?"
I just bought the ESP-Prog for debugging the ESP32 sketch.
I have followed the step here to config for JTAG Debugging (http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/index.html#)

When I go to the step to Run OpenOCD, it need to provide the interface file, I can find some interface files in openocd\scripts\interface & openocd\scripts\interface\ftdi.

But I don't know which one i

[2018-08-03 11:02] LaurentLouf opened #56 "After flashing once over JTAG, successive attempts fail"
Hello,

I'm using an Olimex ARM-USB-OCD-H to flash an ESP32 (ESP32 WROOM 32U) with OpenOCD ESP32 (Open On-Chip Debugger 0.10.0-dev (2018-07-27-18:59)) with the following scripts (in no particular order) :
`program_esp32 build/app.bin 0x10000 verify exit`
[code]
And the command :
`openocd-esp32 -s /usr/local/openocd-esp32/share/openocd/scripts/ -f $cfgpath -f openocd_esp32_flash.cfg`

The first tim

[2018-08-03 11:13] costaud commented on #55
Since the ESP-Prog is using the same chip(FT2232) as the one on WroverKit board, you can follow the instructions for [WROVER JTAG Interface](http://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/configure-wrover.html).

The interface file should also be `interface/ftdi/esp32_devkitj_v1.cfg`

[2018-08-09 09:37] gerekon commented on #52
@sinope-db Could you also post your partition table?

[2018-08-10 12:48] sinope-db commented on #52
I tried programming bootloader and main app addresses and both failed
It's also failing whether module is brand new or has been programmed using the serial bootloader.

My partitions (ESP-IDF 3.0.2):
[code]

[partitions.zip](https://github.com/espressif/openocd-esp32/files/2277900/partitions.zip)

[2018-08-10 12:59] gerekon commented on #52
@sinope-db Unfortunately I have no 16 MB module at hands right now. I am trying to get it ASAP.
Just to check. Could you try to move factory partition to standard location at 0x10000?
Also could you attach your sdkconfig and full OpenOCD+GDB log (use [this instructions)](https://esp-idf.readthedocs.io/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#jtag-debugging-tip-reporting-issues)?

[2018-08-10 17:49] gerekon commented on #56
@LaurentLouf Yes, the problem is not in seg fault (BTW, it should be fixed in the next release).
Could you try to read 4096 KB at addresses 0x8000 and 0x10000 and post the contents? If the [latest version](https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20180724) of OpenOCD does not work for this could you try it with the [previous one](https://github.com/espressif/openocd-es

[2018-08-14 12:55] sinope-db commented on #52
@gerekon Moving the factory partition does not solve the issue.

OpenOcd log is attached to OP, but I'm attaching one with the partition set at 0x10000. [openocd_log.txt](https://github.com/espressif/openocd-esp32/files/2286939/openocd_log.txt)

As for GDB log, I'm not using GDB at this point, only flashing according to these [instructions]
(https://esp-idf.readthedocs.io/en/latest/api-guides/jtag

[2018-08-16 07:49] #51 closed

[2018-08-16 07:52] #45 closed

[2018-08-26 15:29] michprev commented on #42
Problem still persists in v0.10.0-esp32-20180724.

A simple example:
[code]

GDB commands to reproduce:
[code]

[2018-08-26 20:42] michprev commented on #43
This may be GDB issue rather than OpenOCD one.
Running `mon reg` in GDB prints correct values.

[2018-08-27 15:21] olivierzign opened #57 "Debugging failes with: esp32: Faied to read insn (-4)!"
I've got a problem debugging the ESP32 via OpenOCD.
When I start debugging I get the following error:
`Error: 6098 918708 esp32.c:982 esp32_add_sw_breakpoint(): esp32: Faied to read insn (-4)!
Error: 6099 918708 esp32.c:1017 xtensa_add_breakpoint(): esp32: Faied to add SW BP!
Error: 6100 918708 breakpoints.c:94 breakpoint_add_internal(): can't add breakpoint: resource not available
`
I've tested i

[2018-08-28 06:52] olivierzign commented on #57
Just found out that it is a bug in openocd version i'm using (v0.10.0-esp32-20180724)
The command "gdb_breakpoint_override hard"  was removed from
/openocd/scripts/target/esp32.cfg

Re-adding it to  line 100 fixed the issue.
Should already be fixed in repo.
(https://community.platformio.org/t/esp32-pio-unified-debugger/4541/22)

[2018-08-28 06:52] #57 closed

[2018-08-28 20:49] SunilDullolli commented on #16
@chevdor, What did you do to get over this problem? I have the same problem, the JTAG works fine when I program the ESP32_EVB launchpad but I get this error when I try to program brand new ESP32 which is present on one of our PCB's. I am pretty sure that JTAG pins are not used for something else. Any suggestions are appreciated. Thanks

[2018-09-05 04:16] igrr opened #58 "[TW#25931] Issue with running gdb on ESP32 Wrover Dev Kit"
_From @RA5040 on August 25, 2018 17:34_

## Environment

- Development Kit:   ESP32-Wrover-Kit

- esp-idf-v3.0.3

 - openocd-esp32-win32-0.10.0-esp32-20180724

- Development Env:		Command line

- Operating System:	Windows

## Problem Description

It appears that to run gdb on the ESP32 DevKit C, it's necessary to do things in this order:

1. Make and flash the program
2. Run OpenOCD
3. Run xtensa-

[2018-09-05 04:16] igrr commented on #58
_From @RA5040 on August 26, 2018 11:12_

I was asked to run this again with -d3 on openocd. I attach the log.
[OpenOCDLog.zip](https://github.com/espressif/esp-idf/files/2321462/OpenOCDLog.zip)

[2018-09-05 15:47] SunilDullolli opened #59 "Error programming ESP32 though JTAG (Can't Erase flash)"
I have got few new ESP-WROOM-32D modules with 16MB flash. When I try and program the modules, I get this Error.

$ bin/openocd -s share/openocd/scripts -f interface/ftdi/olimex-arm-usb-tiny-h.cfg -f board/esp-wroom-32.cfg -c "program_esp32 blink.bin 0x10000 verify exit"
Open On-Chip Debugger 0.10.0-dev (2018-06-04-09:51)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/do

[2018-09-07 20:07] RA5040 opened #60 "Cannot debug larger programs ... Actually much worse than that! OpenOCD and gdb are essentially useless"
I am running openocd on a ESP32 Wrover Kit. The debugging is fine on a small program with a single thread. When I try to run it on a larger program with 6 threads (+ main) it fails with the following openocd log.

[openocdlog.zip](https://github.com/espressif/openocd-esp32/files/2362356/openocdlog.zip)

Also the jtag link on ttyUSB1 is disconnected, as I show.

[2018-09-08 21:13] RA5040 commented on #60
Having spent a considerable amount of time trying to figure out what is wrong, I eventually found out that using GPIO pin 32 on the Wrover Kit doesn't work and neither does pin 33.That may be down to me not configuring the board correctly ... but as the 'configuration' requires desoldering and resoldering tiny surface-mount resistors I think I'll pass for now.

At any rate, that problem is now 're

[2018-09-08 21:33] RA5040 commented on #60
BTW, this is not just in Eclipse. Here is the gdb log from the command line:
874				nk.resetDisplay();
875				digitalWrite(beeperPin, 1);
876				vTaskDelay(200 / portTICK_PERIOD_MS);
(gdb) n
Target halted. PRO_CPU: PC=0x4000BFF0             APP_CPU: PC=0x400D2B54 (active)
/builds/idf/crosstool-NG/.build/src/gdb-7.10/gdb/inline-frame.c:171: internal-error: inline_frame_this_id: Assertion `!frame_id

[2018-09-09 01:51] igrr commented on #60
Hi @RA5040,

GPIOs 32 and 33 are connected to a 32kHz XTAL on Wrover-kit, so can't be used as GPIOs.

With regards to GDB assertions, this is not specific to WROVER-KIT, it is a GDB issue, which happens when a the compiler inlines a function into the task function (i.e. into the outer stack frame). It is tracked here: https://github.com/espressif/esp-idf/issues/2343

We will have a workaround for

[2018-09-09 10:49] RA5040 commented on #60
Thanks @igrr
Is there anywhere to see a summary of current serious problems (like this one), with a workaround if applicable and a fix schedule?  At the moment what I'm doing is stumbling on bugs and spending a lot of time (with help from you guys, for sure!) figuring out if it's my fault or not and what to do about it. It's a terrible (but avoidable) waste of time and energy.

Regarding the Wrove

[2018-09-10 12:11] #60 closed

[2018-09-12 19:47] sorenhl commented on #52
Any updates on this one? I face the same issue

[2018-09-12 20:12] sorenhl commented on #52
Just an update, when I try to use my ESP-WROOM-32 developer board, where i run the firmware on a 16 MB external flash (using eFuses) it works. But when I use my manufactured PCB, where the ESP-WROOM-32D comes with 16MB, it fails:

Info : auto-selecting first available session transport "jtag". To override use 'transport select <transport>'.
esp32 interrupt mask on
adapter speed: 3000 kHz
VisualGDB

[2018-09-13 11:12] gerekon commented on #52
@sinope-db @sorenhl I have got the board. I will try to solve the problem next week.

[2018-09-13 15:51] sorenhl commented on #52
Thank you @gerekon, that would be really appreciated!

[2018-09-14 09:48] gerekon commented on #58
@RA5040 I reproduced you this problem with the latest release. But it seems to be solved in the OpenOCD master branch. I built Windows binary for you using that branch. Could you try it?
[openocd.zip](https://github.com/espressif/openocd-esp32/files/2382829/openocd.zip)

[2018-09-14 14:28] RA5040 commented on #58
I gave it a go, but it is missing libusb-1.0.dll
I tried it again on ubuntu, openocd 0.10.0-dev (2018-07-24-09:36), but it gave the same issue.  If you let me have the executable I'll test it (I don't know how to build it).

[2018-09-18 03:59] gerekon commented on #58
@RA5040 Sorry for inconvenience. Could you try this distro. It is build by our release system and should have no problems.
[openocd-esp32-win32-0.10.0-esp32-20180724-2-g59d39ac2.zip](https://github.com/espressif/openocd-esp32/files/2391132/openocd-esp32-win32-0.10.0-esp32-20180724-2-g59d39ac2.zip)

[2018-09-19 05:27] #52 closed

[2018-09-19 17:09] SunilDullolli commented on #52
@igrr can you release new binaries for updated OpenOCD? I am having hard time to compile OpenOCD because of architecture mismatches. Thanks

[2018-09-20 13:42] igrr commented on #52
@SunilDullolli done, please check https://github.com/espressif/openocd-esp32/releases

[2018-09-20 13:45] igrr commented on #59
Seems to be the same as https://github.com/espressif/openocd-esp32/issues/52, which is fixed in the latest release.

[2018-09-20 13:45] #59 closed

[2018-09-20 19:40] sorenhl commented on #52
Thank you so much @igrr and @gerekon, I have tested on my latest PCB with a 16MB ESP-WROOM-32D and I can confirm that it works as intended :)

[2018-09-27 15:14] crashdox opened #61 "light sleep causes openOCD to lose CPU"
see https://www.esp32.com/viewtopic.php?f=13&t=7451

light sleep supporting debug would be great.

[2018-10-18 16:45] ivankravets opened #62 "internal-error: void inline_frame_this_id: Assertion !frame_id_eq"
Hi,

We receive [a lot of bug reports](https://community.platformio.org/search?q=inline_frame_this_id) with the same problem from our customers last time. What is interesting, that the latest release works well with Arduino but does not work with ESP-IDF.

# Log

## OpenOCD

[code]

## GDB

[code]

## Firmware

See attachmets.

[firmware.elf.zip](https://github.com/espressif/openocd-esp32/files/24

[2018-10-21 16:13] mahavirj commented on #62
@ivankravets Also reported on ESP-IDF github issues page, solution along with timelines can be found at https://github.com/espressif/esp-idf/issues/2343#issuecomment-417853341

Relevant commit that should fix this issue https://github.com/espressif/esp-idf/commit/3ba63a520c91b961a2632ad7385c8bac9039e197 (This will be part of next stable ESP-IDF release v3.2)

[2018-10-22 13:52] ivankravets commented on #62
We did a quick patch on our side. Now, debugging should work. Please open [PlatformIO IDE](https://platformio.org/platformio-ide) Terminal and type
[code]

[2018-10-22 13:52] #62 closed

[2018-10-31 06:24] meriororen opened #63 "Failed to initialize flash in esp32.cfg"
Hi, I am trying to enable JTAG debugging on my custom board with ESP-WROOM-32 via SEGGER JLINK as interface. With **esp32_dc.cfg**, jtag debugging can be done. Then I realized that in that config file it does not have _program_esp32_ command for flashing the firmwaare, the command is in **esp32.cfg**. However, when I tried to connect gdb to it, it froze after reading symbols (it tries to connect b

[2018-11-04 17:38] kangks commented on #58
Hi,

Not sure if my issue is related to this, I was following the steps in https://github.com/espressif/esp-idf/blob/master/docs/en/api-guides/jtag-debugging/using-debugger.rst

After running `xtensa-esp32-elf-gdb -x gdbinit build/blink.elf`, the LCD stops blinking for a while, but resume blinking after the last line:

[code]

gdb and openocd as below, on MAC High Sierrra:

[code]

[2018-11-04 18:18] kangks commented on #58
Built from the openocd works:

[code]

[2018-11-05 06:07] igrr commented on #22
Closing as fixed in e3029dad40c7e2704bb4e0004e92b8edb8f593b7.

[2018-11-05 06:07] #22 closed

[2018-11-05 06:09] igrr commented on #58
@RA5040 @kangks New release has been published at https://github.com/espressif/openocd-esp32/releases/, could you please give it a try?

[2018-11-05 06:09] #55 closed

[2018-11-05 18:39] gerekon commented on #63
@meriororen Could you provide the command line you use to run openocd?
Also version of openocd you use (`Open On-Chip Debugger 0.10.0-dev-00001-g891f429 (2018-10-30-07:41)`) looks strange. There is no such release [here](https://github.com/espressif/openocd-esp32/releases). You can get the latest version there. Could you try it?

[2018-11-07 10:58] meriororen commented on #63
Hi, Thanks for replying.

I have pulled the latest release's tag (latest commit: 735610e) and built it myself with _./bootstrap_ and _./configure --enable-jlink_ . And then _make_ and _make install_.

I tried using _esp-wroom-32.cfg_ file (and also sourcing jlink interface's jlink.cfg).
I tried with slower 10000 kHz speed (at 20000 kHz it failed polling).

and yet it still has the same error (erro

[2018-11-07 11:31] igrr commented on #63
Can you try flashing an example like "blink" to the module first (using `make flash`), just to make sure that this doesn't depend on the firmware?

[2018-11-07 12:45] meriororen commented on #63
Actually, I haven't even succeeded in connecting the gdb to the openocd yet.
So I think the possibility of dependence on firmware is unlikely.

This is me trying to connect without elf file as argument.

[2018-11-07 12:46] meriororen commented on #63
ah sorry, you mean "make flash". I have no problem flashing it via serial at all.

[2018-11-08 03:37] meriororen commented on #63
@gerekon

1. JTAG adapter type:  **JLink Base**
2. Release of ESP-IDF used to compile and load application that is being debugged.
** release tag : v0.10.0-esp32-20181105 (esp-idf commit tag: 735610eeeba122bbaab0879de8b4a44ba0eb928d ) **
** No particular application is being debugged. It fails at the point of connecting via gdb.**
3. Details of OS used for debugging.
uname -a result :

lsb_release

[2018-11-09 04:41] meriororen commented on #63
Hi, I think I've found the problem. It was as @igrr said, the problem was in the currently running firmware somehow hindering jtag to init flash

[2018-11-09 04:41] #63 closed

[2018-11-09 12:55] #28 closed

[2018-11-15 00:33] zhivko commented on #14
No (14) GPIO for Force Factory Boot option in esp-idf esp-idf-v3.1.1.
I am using olimex adapter arm-usb-ocd-h and could not debug esp32 wroom by following instructions in esp-idf.

I tried with connecting VDD on olimey 20pin jtag adapter and esp32 3.3V pin.
![image](https://user-images.githubusercontent.com/3688966/48521748-276c6400-e876-11e8-8300-67a79b1d8e7a.png)

`
bin/openocd -s share/openocd/

[2018-11-21 19:12] zhivko commented on #58
I have similar issue:
[code]

[2018-11-22 08:38] gerekon commented on #58
@zhivko It seems to be another issue. Could you open separate topic for it to keep threads a bit organized? Also please provide full info regarding your problem as it us done in the beginning of this thread.

[2018-11-22 10:46] zhivko opened #64 "Issue with running gdb on esp32 Wrover Dev Kit (OCD-196)"
Environment
Development Kit: ESP32-Wrover-Kit

esp-idf-v release/v3.2
openocd-esp32-win32-0.10.0-esp32-20181105.zip

Development Env:	Command line

Operating System:	Windows 10 64bit

Problem Description
OpenOcd not started correctly - not possible to connect to it with xtensa-esp32-elf-gdb

Make and flash the program
Run OpenOCD
Run xtensa-esp32-elf-gdb
You get:
[code]

Expected Behavior
Flash th

[2018-11-22 10:47] zhivko commented on #64
HEre is output from console:
[code]
Attached -d3 debug output.
[out.txt](https://github.com/espressif/openocd-esp32/files/2605774/out.txt)

using board/**esp32-wrover.cfg**:
[code]
I also could not debug - output is here:
[out2.txt](https://github.com/espressif/openocd-esp32/files/2605823/out2.txt)

[2018-11-22 10:47] zhivko commented on #58
@gerekon created https://github.com/espressif/openocd-esp32/issues/64

[2018-11-22 11:40] igrr commented on #64
Which program is running in the ESP32 when you are trying this? It seems like the target responds initially but then stops responding, which might indicate that the program running on the ESP32 reconfigures JTAG pins for some other purpose. Could you please try flashing "blink" example from ESP-IDF and then starting OpenOCD?

Regarding the config file, you should use esp32-wrover.cfg if your WROVE

[2018-11-22 11:42] igrr commented on #58
@RA5040 @kangks Closing this issue as new release has been published, please feel free to reopen if the issue persists.

[2018-11-22 11:42] #58 closed

[2018-11-22 11:45] igrr commented on #56
Closing due to lack of feedback, please reopen if the issue is still valid.

[2018-11-22 11:45] #56 closed

[2018-11-22 11:59] gerekon commented on #64
@zhivko Could you also provide detailed log files as described [here](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#jtag-debugging-tip-reporting-issues)?

[2018-11-22 12:20] yaqwsx opened #65 "Cannot upload program using OpenOCD (OCD-166)"
I have ESP32 DevkitC with ESP-Prog wired as shown in [2]. When I try to upload a program using OpenOCD (`bin/openocd -s scripts -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg -c "program_esp32 firmware.bin 0x10000 verify exit"`), the verification phase fails. The log can be found at [1].

I think all my wiring and invoking of OpenOCD is correct, could be an issue with OpenOCD?

[

[2018-11-22 13:01] zhivko commented on #64
@igrr yes you are right I havent flashed blink firmware while doing that test. It could be that pins are used for other functions. Will retest with blink firmware and report how it goes.

[2018-11-22 13:55] sinope-db commented on #65
I see you're running at 20MHz, have you tried reducing adapter speed (10 or 3 MHz)?
https://github.com/espressif/openocd-esp32/blob/05cc1857bfbd9ca44af94a31e461f77161b5af3b/tcl/board/esp-wroom-32.cfg#L37

[2018-11-23 03:55] igrr commented on #65
Hi @yaqwsx, thanks for the report. I've replicated your setup and was able to flash and verify successfully. The difference in the log i see is that in your case there is

[code]

while in my case i see

[code]

Could you please add `-d3` flag to OpenOCD command line and share the logs with this flag?

[2018-11-23 09:58] yaqwsx commented on #65
I tried to add the `-d3` flag and then the programming magically succeded (log [2]) and the firmware flashing succeeded as the debug logs slowed down the communication (log [2]). Therefore, I lowered the communication frequency to 200 kHz and I was able to flash a firmware (log [1]). However, lowering the frequency does not solve the problem - the interface gets so slow, that debugger frontend tim

[2018-11-25 19:50] yaqwsx commented on #65
I tried to capture the waveform using my scope. Yellow is clock, blue is TMS and red is TDI. The waveform for 2 MHz and 200 kHz looks fine - even there are some over-, and under-shots I don't think they should cause a problem. The 200 Mhz waveform looks scary, however I think I am reaching limits of my 70Mhz scope here. All the examples, no matter what frequency I used, failed.

200 kHz:
![200khz]

[2018-11-27 10:35] gerekon commented on #64
@zhivko Does you problem still exist? Can you debug blink example? I do not see critical problems in log.
If you have problems with debugging blink example could you also provide detailed log files as described [here](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#jtag-debugging-tip-reporting-issues)?

[2018-11-27 14:06] zhivko commented on #64
Kind a works now, but I cannot step through code - it seems eclipse connect succesfully to openocd.
Any idea what I need to set to see code?
![image](https://user-images.githubusercontent.com/3688966/49086925-02a0c500-f256-11e8-8163-88bf24233c4a.png)

[2018-11-27 14:41] gerekon commented on #64
@zhivko What app do you debug? According to your log you write `hello_world` binary and try to stop in `blink.cpp`. That seemed confusing. Could you try on pure 'blink' example from ESP-IDF?

[2018-11-28 08:33] zhivko commented on #64
It is same problem with blink app.
In eclipse debuger console I get:
[code]

[2018-11-28 14:01] zhivko commented on #64
Is it possible that double backslash is not correctly understood by eclipse or reported from xtensa-esp32-elf-gdb ? Reported as double backslash instead of single one? Do I need to specify source lookup in eclipse somwhere?

[2018-11-28 14:11] zhivko commented on #64
If I enter info sources in console of xtensass-esp32-elf-gdb.exe I dont get blink.c to be included. I get:

[code]

[2018-11-29 09:43] zhivko commented on #64
To illustrate issue here is recorded video.
https://youtu.be/fvCdl0diQmo

[2018-11-29 10:12] gerekon commented on #64
@zhivko Have yoou programmed bootloader and partition table into flash? Could you do it using `make flash` command and try again?

[2018-11-29 11:15] zhivko commented on #64
Yes of course - I also tried that and without
[code]
doesn't help

[2018-11-29 11:45] gerekon commented on #64
I have no problem with your config and blink example.
I use Eclipse:
- Version: Oxygen.3a Release (4.7.3a)
- Build id: 20180405-1200

Could you try my binaries?
[blink.zip](https://github.com/espressif/openocd-esp32/files/2628912/blink.zip)

Does blink example run normally without debugger after flashing it with 'make flash'? It should blink with RGB LED or LCD screen depending on example GPIO pin

[2018-11-29 11:47] gerekon commented on #64
Could you send me your blink project?

[2018-11-29 12:04] zhivko commented on #64
[blink.zip](https://github.com/espressif/openocd-esp32/files/2628974/blink.zip)

[2018-11-29 12:15] zhivko commented on #64
Your example works - green led is flashing - what pin number is it? I will
use same in my example to see if my example is working the same.

On Thu, 29 Nov 2018 at 12:47, Alexey Gerenkov <notifications@github.com>
wrote:

--
Klemen Živkovič
Župančičeva 34
1290 Grosuplje
Slovenia
mobile: 051 381 888

[2018-11-29 14:44] gerekon commented on #64
Hmm, HW connections seem to be OK.

Pin number 2

[2018-11-29 14:46] gerekon commented on #64
Can we set up remote debug session? For example via TeamViewer?

[2018-11-29 14:54] zhivko commented on #64
Of course at 17:30 CET?

On 29 Nov 2018 15:46, "Alexey Gerenkov" <notifications@github.com> wrote:

Can we set up remote debug session? For example via TeamViewer?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/espressif/openocd-esp32/issues/64#issuecomment-442859349>,
or mute the thread
<https://github.com/notifications/un

[2018-11-29 15:09] gerekon commented on #64
Ok. Send me the session ID and pin code to alexey at espressif.com

[2018-11-30 09:46] zhivko commented on #64
Yesterday we had teamviewer session with Alexey, and we found out that if firmware is prepared via msys2 compilation, than it is possible to step through code.
On other hand if it is prepared via eclipse command:
python ${IDF_PATH}/tools/windows/eclipse_make.py -j6
Visible at:
![image](https://user-images.githubusercontent.com/3688966/49281551-26018500-f48d-11e8-8b41-133de152cefa.png)
Debugging do

[2018-11-30 09:54] gerekon commented on #64
Actually the problem in the image built using `python ${IDF_PATH}/tools/windows/eclipse_make.py -j6` from Eclipse. It causes board to enter infinite reset loop so debugging does not work. It seems not to be issue of the debugger.
When image is build using msys command line everything works.

[2018-11-30 10:03] igrr commented on #64
@zhivko Could you please upload the .elf file produced by eclipse_make.py (the one which results in infinite reset loop)?

[2018-12-02 20:10] zhivko commented on #64
Here it is.
[blink.zip](https://github.com/espressif/openocd-esp32/files/2637335/blink.zip)

[2018-12-19 06:52] tatsutaigu opened #66 "does it support ESP32-SOLO-1?"
Hi,

I would like to debug ESP32-SOLO-1.
I found below error.
And, I cannot use gdb.

[2018-12-20 09:43] zhivko commented on #64
Anything new on this topic?

[2018-12-27 00:48] yaqwsx commented on #65
I haven't been successful in debugging ESP32 yet. Do you have any ideas what to try? Do the waveform look good?

[2019-01-03 13:09] yaqwsx commented on #65
After playing for a while I have a conclusion: OpenOCD preserves original content of the flash.

[2019-01-05 14:40] igrr commented on #62
The fix was in IDF, it was to prevent having inline functions in outer stack frames. If you

[2019-01-05 15:16] nospam2000 commented on #62
Thanks! My file `~/michael/.platformio/packages/framework-espidf/components/freertos/port.c` is from November 1st and doesn't contain the new code after updating using the commands `pio update ; pio upgrade --dev`
[code]

That fix depends on setting `CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER` to 1, which means
the sdkconfig.h has to be adapted after the new version is downloaded, I don't know if this

[2019-01-09 10:00] ivankravets commented on #62
The latest release of ESP-IDF which we support now is v3.1.1. We plan to add support for 3.1.2 soon.

[2019-01-21 23:17] sebirdman opened #67 "program_esp32 uses flash_write erase?"
I noticed that the default program recommended for flashing uses the erase param by default:

https://github.com/espressif/openocd-esp32/blob/master/tcl/target/esp32.cfg#L132

Is this absolutely necessary? I removed erase and things seem generally ok without it, but this param increases my flash time by nearly double.

[2019-01-22 18:16] sebirdman commented on #67
Hmm, after some more testing it seems that verify is verifying outside the bounds of written image. That also seems like it would increase the overall flash write time. Shouldn't the extra space at the end of a partition not matter as the application should never execute that?

[2019-01-25 19:23] pavelskirko opened #68 "debugging ESP-IDF-Template"
Hi. I'm trying to program esp32-wroom with  ESP-IDF-Template + led blinking feature and I stuck with a problem. Here is the details:
1. I'm using jlink adapter, the latest stable esp-idf, w10.
2. Here is the code I'm trying to load:
[code]
After successful programming it crashes to panic [openocd_log.txt](https://github.com/espressif/openocd-esp32/files/2797503/openocd_log.txt)
:
[code]
I recorded

[2019-01-26 03:44] igrr commented on #68
When the program crashes, what is the output on UART console? Also, what is the backtrace from abort() function (you can check using `bt` command in gdb).

[2019-01-26 09:15] pavelskirko commented on #68
Unfortunately, I have no UART output in my board(a custom one), there is only JTAG. Here is what I get from backtrace:
[code]

[2019-01-26 10:06] igrr commented on #68
Please make sure you have flashed bootloader.bin to 0x1000 and partition table binary to 0x8000. It seems that the module was previously flashed (in factory) witb firmware built with old (pre 2.1) version of IDF, and its bootloader is incompatibile with the app you have uploaded.

[2019-01-28 00:45] pavelskirko commented on #68
Thank you, It works for me. Problem solved.

[2019-01-28 00:45] #68 closed

[2019-01-28 00:52] yaoyogi commented on #38
I had a similar problem with (gdb) info threads - showing no threads.
What fixed the situation for me was to make sure that the menuconfig "Run FreeRTOS" only on first core and your openocd board config agree on whether you are running single core or multi-core.  Once I got those settings in agreement (both single core OR both dual core)  I didn't run into the "no threads" problem in (gdb)

[2019-02-03 14:28] VivekRajpara opened #69 "Debugging with ESP32-DevKitC v4 not working, not able to halt target (OCD-159)"
Hello,

Greetings!!

Configurations of setup:
-------------------------------
I am trying to debug blink example program with JLINK JTAG Adapter, this module information is available at [this link](https://www.segger.com/products/debug-probes/j-link/models/j-link-base/)

I have connected ESP32-DevKitC-v4 with JLINK JTAG module by connecting 3v3 (for VRef) TMS, TCK, TDI, TDO & GND pins of ESP32 wit

[2019-02-03 17:18] jaoh opened #70 "Using openI flashed the blink example using ocd with a buspirate 3.6 to debug a esp-wroom32 (OCD-158)"
I flashed the link example using make flash.

I want to use jtag and oocd to debug my esp . I get the following output

sudo openocd -s share/openocd/scripts -f interface/buspirate.cfg -f board/esp-wroom-32.cfg
Open On-Chip Debugger 0.10.0-dev-00009-g049f90de (2019-02-03-14:17)
Licensed under GNU GPL v2
For bug reports, read
	http://openocd.org/doc/doxygen/bugs.html
Warn : Adapter driver 'buspirat

[2019-02-03 21:39] igrr commented on #70
"Debug controller 0 was reset" message does not indicate an error; it means that the CPU keeps resetting. You can open UART port using `make monitor`and then observe serial output. It will probably indicate reset reason.

[2019-02-03 21:46] igrr commented on #66
Support for single core version of the chip has been added in https://github.com/espressif/openocd-esp32/commit/c97000647ebfcada43a550730b477147c621c617. Documentation update of IDF programming guide is still pending.

[2019-02-04 08:37] jaoh commented on #70
My esp currently receives +5V and GND from my JTAG device. to access the UART I would have to use the USB port of my devkit. This would also supply power to the system. Do I have to disconnect +5V and GND form my Jtag device or do I have to connect to the UART in another way?

[2019-02-04 09:01] igrr commented on #70
You can disconnect 5V line from the JTAG (so that the devkit will receive power from USB) but keep GNDs of devkit and JTAG connected.

[2019-02-04 16:41] jaoh commented on #70
I tried this

this is my serial output

Toolchain path: /home/jaoh/esp/xtensa-esp32-elf/bin/xtensa-esp32-elf-gcc
Toolchain version: crosstool-ng-1.22.0-80-g6c4433a
Compiler version: 5.2.0
Python requirements from /home/jaoh/esp/esp-idf/requirements.txt are satisfied.
MONITOR
--- idf_monitor on /dev/ttyUSB0 115200 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---
ets Jun  8

[2019-02-13 06:19] igrr commented on #66
Has been relased in https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20190212. You can use `-f boards/esp32-solo-1.cfg` instead of `-c 'set ESP32_ONLYCPU 1' -f board/esp-wroom-32.cfg`.

[2019-02-13 06:19] #66 closed

[2019-02-27 16:07] NeilMacMullen opened #72 "Error when attempting flash download using Segger Jlink Base to Esp32 (16MB)"
We have manufactured a board using an ESP32-Wroom module (16MB flash).   I'm using the latest OpenOCD-esp32 tools: **"Open On-Chip Debugger 0.10.0-dev (2019-02-12-02:52)"**

Issuing this command...
`
.\bin\openocd.exe -d 3 -s share/openocd/scripts -f interface/jlink.cfg -f board/esp-wroom-32.cfg -c "program_esp32 firmware.bin 0x10000 verify exit"`

I see that the cores are reset but OpenOCD is una

[2019-02-27 16:27] NeilMacMullen commented on #61
I would also like that as a feature.  Power management is a major feature in our application so it sleeps almost immediately after boot!  That means the only practical way to use jtag for upload of a new application is to force a boot into the bootloader which is inconvenient.

[2019-02-28 00:32] igrr commented on #72
In the log I see errors related to communication with your Jlink device:

[code]

Try lowering `adapter_khz` frequency — it is possible that your Jlink device does not support the frequency requested (20MHz).

[2019-02-28 13:37] NeilMacMullen commented on #72
Thanks Ivan - this is a really good tip.  Reducing the frequency to 12MHz or below.  There are still a lot of LIBUSB_ERROR_TIMEOUTs.  I suspect this may be because the existing application is using sleep modes.  (There's already an open item for that at https://github.com/espressif/openocd-esp32/issues/61)

For anyone else trying to get this to work, top tips are...
1) In esp-wroom-32.cfg change t

[2019-02-28 16:14] igrr commented on #72
Yes, serial upload uses compression socks it is pretty fast, even if the actual on-the-wire transfer speed is slower than with JTAG. Also with OpenOCD verification is currently done by reading back flash contents, whereas with serial upload the stub on the target calculates a hash of the flash contents and matches it against the one provided by host.

[2019-03-01 14:19] NeilMacMullen commented on #72
Thanks @igrr   I will close this.

[2019-03-01 14:19] #72 closed

[2019-03-15 14:28] adexc opened #73 "Can not start the debugging with OpenOCD and GDB (OCD-160)"
Hi,
I'm facing a problem with starting the debug toolchain for ESP32 Thing board using gdb and OpenOCD. After starting gdb i get errors in OpenOCD and GDB displayed, but i don't know what is the problem of the communication between OpenOCD and gdb.

### **Environment:**
- Sparkfun ESP32 Thing
- JTAG Adapter: Olimex ARM-USB-OCD-H
- GNU gdb (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 7.10
- ESP-I

[2019-03-25 16:59] ghost opened #74 "The problem with the installation openocd-esp32 (OCD-161)"
libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I./src -I./src -I./src/helper -DPKGDATADIR=\"/usr/local/share/openocd\" -DBINDIR=\"/usr/local/bin\" -I./jimtcl -I./jimtcl -Wall -Wstrict-prototypes -Wformat-security -Wshadow -Wextra -Wno-unused-parameter -Wbad-function-cast -Wcast-align -Wredundant-decls -Werror -g -O2 -MT src/flash/nor/xmc4xxx.lo -MD -MP -MF src/flash/nor/.deps/xmc4xxx.Tpo -c src/flash

[2019-03-29 02:56] igrr commented on #74
Could you please post the version of GCC you are using to compile? You can get it using `gcc -v` command.

[2019-03-29 17:36] DimRusanov commented on #74
rus@rus-note:~$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/7/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.3.0-27ubuntu1~18.04' --with-bugurl=file:///usr/share/doc/gcc-7/README.Bugs --enable-languages=c,ada,c++,go,brig,d,fortran,objc,o

[2019-03-30 15:56] XaviDCR92 commented on #74
It looks like a couple of buffers need to be enlarged. I provided a hotfix on the following post: https://esp32.com/viewtopic.php?f=12&t=9901

[2019-04-11 18:02] KampfCaspar commented on #38
@yaoyogi Unfortunately, neither dual core nor single core (corresponding freertos and openocd board config) work with me... Issue persists. :(

[2019-04-17 17:23] bas-zach-freeman commented on #74
I ran into the same issue on Ubuntu 18.04.  I can confirm that the patches mentioned by @XaviDCR92 solved the build issue for me. Thanks.

[2019-04-18 08:16] cstyle0x007 opened #75 "can't install opened-esp32 on MacBook（macos mojave 10.14.4） (OCD-134)"
help！

cd ~/esp

git clone https://github.com/espressif/openocd-esp32

cd openocd-esp32
./bootstrap
./configure
make

build erro。

ransport_tcp.lo libjaylink_la-util.lo libjaylink_la-version.lo libjaylink_la-discovery_usb.lo libjaylink_la-transport_usb.lo  -L/usr/local/Cellar/libusb/1.0.22/lib -lusb-1.0
Makefile:5465: warning: overriding commands for target `check-recursive'
Makefile:4273: warning

[2019-04-19 08:52] DimRusanov commented on #74
Thank you, tried to collect, downloaded the binary version - everything is fine there17.04.2019, 20:24, "Zach Freeman" <notifications@github.com>:I ran into the same issue on Ubuntu 18.04.  I can confirm that the patches mentioned by @XaviDCR92 solved the build issue for me. Thanks.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute th

[2019-04-29 19:51] cooperbaker commented on #38
Similar issue here.  GDB successfully connects to OpenOCD about 1/3 of the time.  I have to repeatedly try to connect gdb and eventually it will 'work'.

Unsuccessful Attempts:
GDB : ERROR: Unable to start debugging. Failed to find thread 3 for break event
OPENOCD: Info : dropped 'gdb' connection

I'm trying to set up a workflow for end users to develop on a product using esp32... Would really lik

[2019-05-02 08:34] yaqwsx commented on #65
I tried to replicate the setup on a new computer with a fresh OS installation and the problem preserves.

Is the Czech Espressif office active? Would it be possible to arrange a meeting and discuss the problem in person so the actual hardware could be checked?

[2019-05-03 09:53] gerekon commented on #65
@yaqwsx Did you tried the last version of OpenOCD?

[2019-05-03 10:02] gerekon commented on #65
Also as I see you power the devkitC from ESP-prog board. Could you try to power it using its own USB port and separate cable?

[2019-05-13 13:43] manoj153 commented on #20
any update on when it's expected to release? I am finding ways how to debug esp32 with register and memory view

[2019-05-15 12:56] JayNaire opened #76 "make flash_via_openocd?? (OCD-133)"
I am using:
- Linux Mint 18
- **eclipse 2019-03**
- openocd-esp32 Open On-Chip Debugger  v0.10.0-esp32-201903 2019-03-13-09:52)
- GNU gdb (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 7.10
- ESP_IDF v4.0-dev-512-g6fd535c 12Apr2019
- **Olimex-Arm-Usb-Ocd**
- **Doit esp32 devkit v1 (ESP32-WROOM-32, no on-board ftdi - hence the Olimex )**

I use "make flash" to program the ESP32 via the normal seria

[2019-05-16 11:05] gerekon commented on #76
Hi @JayNaire

AFAIK, no.
Also it seems that this issue and respective changes are mostly related to IDF build system, not to openocd.
For now you can use the Makefile rule like the following:

[code]

[2019-05-21 11:07] gerekon commented on #75
Hi @cstyle0x007
Could you try `./configure --disable-doxygen-html --disable-doxygen-pdf `?

[2019-05-23 15:28] JayNaire commented on #76
Hi @gerekon

Thank you! That works fine and is exactly what I needed.
Much appreciated.

[2019-05-23 15:28] #76 closed

[2019-05-28 16:44] ThomasBarth commented on #17
Could you please provide a Windows build with BusPirate support

[2019-05-28 22:57] JayNaire opened #77 "Eclipse + openocd-esp32: erratic memory modification, empty Variables tab (OCD-143)"
I am using:
- Linux Mint 18
- eclipse 2019-03
- openocd-esp32 Open On-Chip Debugger v0.10.0-esp32-201903 2019-03-13-09:52)
- GNU gdb (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 7.10
- ESP_IDF v4.0-dev-512-g6fd535c 12Apr2019
- Olimex-Arm-Usb-Ocd
- Doit esp32 devkit v1 (ESP32-WROOM-32, no on-board ftdi - hence the Olimex )

No showstoppers here; I just thought someone should know:
Debugging (blin

[2019-06-01 10:28] ilxj commented on #35
Hi ，
  I got the trouble ，I use the ESP-WROVER-KIT and in windows7 when I run the cmd：
[code]
and the error info ：

[code]
what can I do ???

[2019-06-22 06:56] NavidMitchell commented on #75
I am having the same error. I tired ./configure --disable-doxygen-html --disable-doxygen-pdf and I still got the same error when running make.

[2019-06-26 08:08] dschnabel opened #79 "GDB skips over code (OCD-157)"
I am fairly new using gdb on an ESP32 and I am not sure if what I'm seeing is expected. I got debugging working fine using a JTAG and OpenOCD but when I step through the code, some lines are getting skipped. First I thought the problem is that my ELF file is not debug optimized but looking at the compiler output I'm seeing this which tells me that it is debug optimized (-ggdb -Og):
[code]

My simp

[2019-06-26 09:31] igrr commented on #79
Can you please run `disassemble /m your_function_name` and post the annotated assembly here?

[2019-06-27 05:19] dschnabel commented on #79
@igrr thank you.

Here is the output:
[code]

[2019-06-27 21:26] igrr commented on #79
This doesn't look unique to the Xtensa toolchain. Here is the same code built with ARM GCC 8.2: https://godbolt.org/z/gFesF-. As you can see, lines with assignments don't have any matching assembly locations, just like the output of `gdb /disassemble` above.

You can, however, get the behavior you need by passing `-O0` flag to the compiler, instead of `-Og` (https://godbolt.org/z/Lqv9Si). In IDF y

[2019-06-28 04:28] dschnabel commented on #79
Switching from `-Og` to `-O0` did the trick! I can step through all lines now. Really appreciate your help, @igrr

I assumed `-Og` is equal to `-O0` but it turns out it's not. Also I didn't know about https://godbolt.org/. That's a great tool.

Thanks again. Closing this issue now.

[2019-06-28 04:28] #79 closed

[2019-07-16 09:36] Majoras-Kid opened #81 "esp32_fetch_all_regs error: Segger JLink + ESP32-WROOM (OCD-165)"
When rewriting the bootloader on a ESP32-WROOM using the Segger JLink an error occurs.

System: Linux Debian x64
Setup:

1. ESP connected to JLink, power over on-board USB on the esp32
2. Follow steps on [official website](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/index.html) to setup OpenOCD (used the current release binary)
3. Write bootloader binary to devi

[2019-07-17 12:59] notjulian commented on #65
hi @yaqwsx ,
try to load for the first time all the partition
`c:\ESP\openocd-esp32\bin\openocd -s share/openocd/scripts -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg -c "program_esp32 C:/ESP/build/ota_data_initial.bin 0xd000 verify exit"
c:\ESP\openocd-esp32\bin\openocd -s share/openocd/scripts -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg -c "program_esp32 C

[2019-07-17 17:28] kolipakakondal commented on #57
It's fixed with https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20190708

[2019-07-24 19:52] sebastianbasierski commented on #57
Hi, i'm using the latest version of openocd and i still see this error.
[esp32.log](https://github.com/espressif/openocd-esp32/files/3428517/esp32.log)

[2019-08-05 04:42] DeMarciaGalen commented on #54
I miss the same question. Thank you for your solutions.

[2019-08-20 14:26] alexdecei commented on #81
Hi, I have exactly the same error. Any solution ?
I'm actually trying to flash a new firmware via JTAG with a J-Link .

[2019-08-22 10:53] thomasesr commented on #81
Where can I find documentation about using Generic Segger Jlink interface to upload firmware image o ESP32? I am having the same warning messages:
`Warn : Flash driver of esp32.flash does not support free_driver_priv()
Warn : Flash driver of irom does not support free_driver_priv()
Warn : Flash driver of drom does not support free_driver_priv()`

[2019-08-23 14:08] alexdecei commented on #81
The Jlink interface is in openocd-esp32\share\openocd\scripts\interface\jlink.cfg
But I don't know how to configure it or if it need to be configured.

[2019-08-23 15:59] brent-afw opened #82 "Cannot use debugger when 2 Esp-Wrover-Kit attached to PC (OCD-180)"
Hi,

I recently purchased 2 ESP-Wrover-Kit to facilitate debugging 2 sessions simultaneously using VisualGdb on Windows 10.
The OpenOCD debugger works fine when 1 board is attached at a time.
However,unfortunately this fails to work when 2 boards are simultaneously attached to the PC.

I contacted the Sysprogs who in turn suggested I contact Esprissif.

The reply from Sysprogs:-

"Unfortunately th

[2019-08-29 08:58] alexdecei opened #83 "Error: JTAG scan chain interrogation failed: all ones (OCD-183)"
So I have that error since severals weeks and tried many solutions but no one worked.

**Hardware**
- Esp32 devkit v1
- Wroom32 With Jtag port (those 6 little dots)
- jtag interface: ftdi ft2232H

**Problem**
I type:

I get:

**Here is what I tried:**
- checked the wire
- checked the jtag connections (esp32 side and ftdi side)
- changed the wire
- checked the supply voltage
- checked ALL the pins

[2019-08-29 21:42] manuelbl commented on #57
@sebastianbasierski The output looks similar to an output I had a few days ago. The problem wasn't the debugger but rather my software. I accidentally typed 6 as a GPIO number (instead of 16 where the peripheral was connected to). GPIO 6 is used to access flash memory. So the problem was that the debugger couldn't access the flash memory.

You might want to check that you are not using GPIO 6 thro

[2019-09-03 07:59] alexdecei commented on #83
Just found an explanation.
Somehow, the ft2223h forces some pin to 2.5v and so those pin are considered as "high", that's why I got the "all one" error. This 2.5v level is constant and can't be changed so no information can be exchanged.

So I guess my ft2232h jtag interface is broken.

[2019-09-03 07:59] #83 closed

[2019-09-05 12:10] alexdecei opened #84 "Error: DIR instruction generated an overrun! (OCD-185)"
So I have that error since severals days:

**Hardware**
- Esp32 devkit v1
- Wroom32 With Jtag port (those 6 little dots)
- jtag interface: SEGGER jlink

**Problem**
I type:

I get:

note:  if i don't put commands I get no error:

If you have any idea I would be glad to hear it.

Thanks

[2019-09-06 10:36] alexdecei commented on #84
Found the solution:
I went into the both cfg files (esp-wroom-32.cfg & jlink.cfg) and wrote **adapter_khz 10000**.

The problem is that openocd used to say that 20000khz is to much and change it to 15000khz. But 15000khz is still too much so it gives an error but that error do not mention any speed issues.
So it's impossible to know that the problem is the adapter speed.

[2019-09-06 10:36] #84 closed

[2019-09-12 21:39] drorgl opened #85 "Boundary Scan (OCD-192)"
Hi,

Does the ESP32 support boundary scan?

Is it possible to change/read GPIOs?

Thank you!

[2019-09-19 21:10] selaliadobor-wt opened #86 "Failed make: cast between incompatible function types (OCD-193)"
Currently building with `-Wall` and `-Werror` removed as a work around

[2019-09-27 11:40] #75 closed

[2019-09-28 19:00] WayneKeenan commented on #64
I was also seeing the Core/Debug reset messages after switching from one type of dev board to another.

I had to alter:  MenuConfig -> Components -> ESP-32 Specific -> Main XTAL frequency.

I changed from from "Autodetect" to a specific frequency (in my case is was 40 Mhz)

sdkconfig snippet
[code]

HTH

[2019-10-04 10:37] drorgl commented on #85
From Espressif: there is no Boundary Scan support on ESP32.

[2019-10-04 10:37] #85 closed

[2019-10-18 14:06] igrr commented on #82
Hi Brent,
It seems the ESP-WROVER-KIT boards don't have any serial number programmed into the EEPROM of FT2232H. This isn't something we can fix in OpenOCD. However you can program the serial number into the board using [FTDI FT_PROG utility](https://www.ftdichip.com/Support/Utilities.htm#FT_Prog) (on Windows) or [ftdi_eeprom utility](https://manpages.debian.org/testing/ftdi-eeprom/ftdi_eeprom.1.e

[2019-10-19 17:08] brent-afw commented on #82
Hi Ivan,

Your solution worked.

Thanks
Brent

[2019-10-19 17:08] #82 closed

[2019-10-21 07:24] fromeijn commented on #86
Same issue here

[2019-11-01 15:15] gerekon commented on #74
Fixed in da2fa0f067d8ca65ba896b94bca1a8234640b2b6

[2019-11-01 15:15] #74 closed

[2019-11-01 15:21] gerekon commented on #86
@selaliadobor-wt  @fromeijn Could you post GCC version number you use?

[2019-11-01 15:33] gerekon commented on #81
This is OK.

[2019-11-01 15:46] gerekon commented on #81
@Majoras-Kid For Jlink you need to lower adapter clock to something like 1000-3000 kHz
[code]
In the latest release you can do this by inserting  `adapter_khz 1000` into `interface/jlink.cfg` or by specifying it on the command line like `openocd -c 'adapter_khz 10000' ...`

[2019-11-01 15:46] #81 closed

[2019-11-01 15:50] gerekon commented on #73
@adexc Could you check it with the latest OpenOCD release? Does this issue still exist?

[2019-11-28 07:22] ashigupta commented on #37
Hi, is there any solution available for "JTAG debug of blink due to: Error: Too large number of threads 2044975697! #1928".
I am facing this issue a lot and this is making debugging near to impossible for me.

[2019-11-28 21:11] redmercury commented on #86
I also get this error.  Compiling on Debian 10 (Buster).
gcc --version = gcc (Debian 8.3.0-6) 8.3.0

[2019-12-17 15:11] petrkr opened #88 "Build erro in mflash.c"
Can not build on Arch linux

I tested also older tags (back to March 2019)

[code]

[code]

[2019-12-17 18:17] petrkr commented on #88
Found workaround how to build it:

Use configure with `--disable-werror` parameter
`./configure --disable-werror`

But it does not mean it can be closed :)

[2019-12-21 21:29] WernerMauss commented on #86
Same issue here. Compiling on Raspbian 10 (Buster).
gcc --version = gcc (Raspbian 8.3.0-6+rpi1) 8.3.0

[2019-12-21 22:57] WernerMauss commented on #86
How did you remove them?

[2019-12-22 21:19] oliverjc commented on #35
Hi, I just want to add my solution to a similar problem. Setting Serial Flasher config --> SPI Flash speed to 20MHz got my JTAG working on my LyraT board. I didn't see that I had to do that anywhere in the documentation.

It might also be worth noting that I rolled back my version of OpenOCD to `openocd-esp32-macos-0.10.0-esp32-20190708.tar`. Don't know if that makes a difference, but at this poin

[2019-12-22 21:30] oliverjc opened #89 "Unable to debug ESP32-WROVER unless "Flash SPI Speed" set to 20MHz"
**JTAG Interface:** ESP-PROG
**MCU:** LyraT 4.3

After much trial and error, I managed to successfully get the ESP-PROG interfacing with my Lyra-T development board.  I kept on getting `Receiving JTAG scan chain interrogation failed: all ones` (or zeros) error similar to #35. I tried everything from different cables, connectors, microcontrollers, but that fix, in the end, was to set the SPI Flash

[2019-12-27 09:53] gerekon commented on #86
Ok, reproduced. Will be fixed soon. Thanks, guys!

[2020-01-01 05:01] techtoys opened #90 "esp32: Debug controller was NOT reset"
JTAG adapter type: FT2232H wire up with ESP-WROOM-32D
Release of ESP-IDF: Ver 4.1
Details of OS debugging: Windows 7 Pro 64-bit on a PC
Pinout:
GPIO15=TDO(ADBUS2)
GPIO12=TDI(ADBUS1)
GPIO13=TCK(ADBUS0)
GPIO14=TMS(ADBUS3)
EN=ADBUS5

Issue: After `JTAG tap: esp32.cpu0 tap/device found and esp32.cpu1 tap/device found` , the expected message `esp32: Debug controller was reset (pwrstat=0x5F, after clear

[2020-01-01 09:38] igrr commented on #90
@techtoys please try reducing the adaptor clock frequency.
GDB log is not required, as the issue is with communication between OpenOCD and the target. But a log from OpenOCD with `-d 3` command line flag would be useful.

[2020-01-01 10:19] techtoys commented on #90
@igrr I tried a slow adapter clock frequency 2Mhz, 1MHz, and 100kHz with the same result.
Log with `-d 3` command line flag is attached.
I am starting to think if the issue is a hardware problem. Please notice that it is not the official ESP-WROVER-KIT. I have built a board with FT2232H + ESP-WROOM-32D + graphical controller on a single board. No AT93C46 has been soldered as I think FT2232 is all

[2020-01-01 16:11] techtoys commented on #90
An observation on `esp32_devkitj_v1`.
[code]
Question:
Since TDI is an input at ADBUS1 with TMS(ADBUS3):TDO(ADBUS2):TDI(ADBUS1):TCK(ADBUS0), should it be `ftdi_layout_init 0x0008 0xf00d` instead?

[2020-01-03 10:33] techtoys commented on #90
Do I need to enable JTAG debugging in ESP-WROOM-32 to start communicate openOCD with ESP?
I have there is an option in Menuconfig > Security features > Potentially insecure options > Allow JTAG Debugging. Not sure what it is.

[2020-01-03 10:45] igrr commented on #90
No special configuration is required on the ESP32 side. Just the application should not use GPIOs 12-15 for other purposes (such as SPI, SD, etc).

Enabling secure boot will also permanently disable JTAG debugging by burning an eFuse, but this can be overridden using the option you found under "Potentially insecure options".

[2020-01-04 17:42] techtoys commented on #90
@igrr Do you have a logic analyzer to check what happens on the JTAG interface, and decode the transfers?

Yes, I have a logic analyzer. Before this step I have tried several attempts:
1) Uninstall IDF 4.1 and reinstall IDF 3.2.3 and start everything fresh.
2) Make use of the blinky example in `\examples\get-started\blink`, I rebuild the whole project with the menuconfig option [Enable flash encry

[2020-01-04 18:58] igrr commented on #90
The bootloader size was probably increased when you have enabled the "Enable flash encryption on boot" option. Please make sure you read and understand the secure boot documentation before enabling this option, as incorrect usage may permanently brick the chip. If you are debugging JTAG functionality, it is very likely that you don't need to touch secure boot related options.
From the log you have

[2020-01-05 05:05] techtoys commented on #90
@igrr Do you happen to have a known good adapter (Wrover-kit, or JLINK) to verify the hardware connections

I happen to have a TI's CC3200 launchpad with a FT2232D onboard. So I changed the ftdi_vid_pid to 0x0451 0xc32a to fit the -d version instead of -h version of FT2232.
One more modification required: ftdi_layout_init 0x0008 0x000b ---> 0x0008 0x004b because there is a gate to control JTAG on/

[2020-01-05 05:05] #90 closed

[2020-01-08 14:34] rebeliousconformist commented on #64
+1 having the same issue

details of my current setup are as https://github.com/espressif/esp-idf/issues/4601 with compiler esp-2019r2

[2020-01-08 16:15] rebeliousconformist opened #91 "esp32 open-ocd does not connect to esp32-wroom-kit"
directory is
[code]

openocd -f board/esp32-wrover-kit-1.8v.cfg gives the following output

[code]

lsusb gives
[code]

[2020-01-09 16:36] rebeliousconformist commented on #37
+1  any update on the same ?

[2020-01-12 17:25] techtoys opened #92 "Path error with program_esp"
Environment: MSYS32
OS: Windows 7 64-bit
Board: ESP-WROOM-32D
OPENOCD: FT2232H

Now I have setup openocd-eps32 with ESP-WROOM-32.cfg and it is working OK. In MSYS2 openocd is listening at port 3333 with this command
`openocd -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg `.

Then I tried to program the board with command below:
`openocd -f interface/ftdi/esp32_devkitj_v1.cfg -f b

[2020-01-18 17:22] gerekon commented on #92
Yes, because you specifies relative path to app binary `build/blink.bin`. If you want to use this command from any location, please, specify absolute path to binary.

mon program_esp ${workspace_loc:blink/build/blink.bin} 0x10000 verify

Probably this happens because you run Eclipse under Windows and `workspace_loc` uses backslashes. Could you try absolute path `C:/msys32/home/John/esp/esp-idf/exa

[2020-01-18 17:24] gerekon commented on #91
Could you try `openocd -f board/esp32-wrover-kit-3.3v.cfg`?

[2020-01-18 17:27] gerekon commented on #88
What GCC version do you use?

[2020-01-19 17:03] gerekon commented on #89
Hmm..., have had such problem. Have you tried with lower JTAG freq, w/o lowering SPI flash speed?

[2020-01-20 08:46] rebeliousconformist commented on #91
Hi @gerekon yes i tried with it.
So i also tried hooking up  the esp32-wroom-32module (custom HW board design) to a jtag adapter.
The WROOM module DOES NOT WORK with a WROOM script. The Custom WROOM module works with a the above mentioned WROVER script .
i can debug and i am satisfied with the performance. But there seems to be a discrepancy in the openocd script.
Regards.

[2020-01-20 08:59] gerekon commented on #91
@rebeliousconformist

[esp32-wroom-32.cfg](https://github.com/espressif/openocd-esp32/blob/master/tcl/board/esp-wroom-32.cfg#L1) is deprecated and does not include JTAG interface config. To use it you need to run `openocd -s espressif/openocd-esp32/tcl -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp32-wroom-32.cfg`.

AFAIK ESP-WROOM-32 need 3.3V flash voltage so you need to use `board/esp32-wr

[2020-01-20 09:02] techtoys commented on #92
Yes, using the absolute path it is working, even in MSYS environment.
Thanks a lot.

[2020-01-20 09:02] #92 closed

[2020-02-02 14:59] exislow commented on #37
+1

[2020-02-04 19:12] arossoinsite commented on #35
I have the same problem.
Can you tell me with more details how you managed to remove the WRover module from the board?
Thanks!

[2020-02-06 22:31] axbusch opened #95 "OpenOCD debug error openocd v0.10.0-esp32-20191114 (IDFGH-2653)"
- Development Kit:      [ESP32-Wrover-Kit]
- Module or chip used:  [ESP32-WROVER|]
- IDF version : v4.0-rc-12-ga61fd1e42b
--
WIN7

OpenOCD v0.10.0-esp32-20191114

## Problem Description
At the moment i cant debug. It fails with this output
`
D:\esp\remote\esp32_mp3_decoder>call D:\esp\idf\export.bat
Setting IDF_PATH: D:\esp\idf

Adding ESP-IDF tools to PATH...
    D:\esp\toolchain\.espressif\tools

[2020-02-08 16:32] mbilloo opened #94 "py_debug_backend repository doesn't exist"
When checking out master and running ./bootstrap, checkout of https://github.com/espressif/py_debug_backend.git/ during submodule checkout fails because the repo doesn't exist.

[2020-02-13 07:47] XaviDCR92 commented on #94
I can confirm this issue as well. I have tried removing the entry from `.gitmodules`:

`
[submodule "testing/esp/py_debug_backend"]
	path = testing/esp/py_debug_backend
	url = ../../espressif/py_debug_backend.git
`
Then I ran `git submodule sync` with no luck. For some reason, `py_debug_backend` is still being referrenced on `.git/index`.

[2020-02-13 12:46] mbilloo commented on #94
This will require a PR since the reference to the submodule will need to be removed from the index (https://stackoverflow.com/questions/1260748/how-do-i-remove-a-submodule#1260982).

[2020-02-15 07:37] awander opened #96 "'cmsis_dap_handle_cmd_command' redefined error"
'cmsis_dap_handle_cmd_command' is redefined at:
src/jtag/drivers/cmsis_dap_usb.c:1664:17:
and
src/jtag/drivers/cmsis_dap_usb.c:1688:17:

It's the totally same define!

I remove the second one, it works.

[2020-02-17 08:00] fromeijn commented on #95
Got same issue with v0.10.0-esp32-20191008 (2019-10-23-10:50)

but this version does NOT have this issue:
v0.10.0-esp32-20190313 (2019-03-13-09:52)

you may try that version instead

[2020-02-17 10:44] PDP-EFS opened #97 "openocd configuration problem (IDFGH-2708)"
Hello,
I'have a problem when I try to connect the jtag (ftdi c232hm 3.3V) to the ESP32_Devkit C_V4 I have this error message:

[code]

I'm under debian 10.3.0, with the ESP-IDF 4.0.
The same cable with the same board works on window 10.

Can you help me?
Best regards,
Pietro

[2020-02-17 20:54] axbusch commented on #95
yeah, you are right. with the old version it works

omg, this is so fu*** frustrating! you can't rely on anything. week after week new bugs, errors, subtle problems.

debugging is still unsteady as hell. sometimes breakpoints are not recognized, debugger stops completly, etc etc

[2020-02-17 21:27] igrr commented on #95
Hi @axbusch, sorry for the issue. Could you please upload the logs of OpenOCD as mentioned here? https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb

Another question, are you using the default or a custom partition table? Are there any flash-related changes in your sdkconfig?

[2020-02-18 06:09] igrr commented on #97
[code]

`c232hm.cfg` doesn't include `adapter_khz` command. Have you tried adding this command as suggested in the error message? Alternatively you can add the command as an argument to OpenOCD.

[2020-02-18 06:42] ls6777 opened #99 "JTAG debugging not working on ESP-WROVER-KIT V3"
I followed all the instructions to setup JTAG debugging.  I'm trying with command line first, before moving over to eclipse debugging.  I see the following on the output:

[code]
Flashing, without debugging, works fine through command line and eclipse.

[2020-02-18 10:22] gerekon commented on #99
@ls6777 Have you run OpenOCD before GDB start? It seems that you have not.

[2020-02-18 10:25] gerekon commented on #94
Yes. We have not published that repo yet. It is used only for running our tests. We will remove that reference soon.

[2020-02-18 10:28] gerekon commented on #96
@awander  Could you post steps to reproduce this error?

[2020-02-18 18:23] #94 closed

[2020-02-18 19:32] gerekon commented on #96
It seems should be fixed with https://github.com/espressif/openocd-esp32/pull/93

[2020-02-18 21:00] axbusch commented on #95
hey @igrr , first: sorry for my rant yesterday!!!
not very helpful but i was just frustrated!

I tried again with Open On-Chip Debugger  v0.10.0-esp32-20191114 (2019-11-14-14:19)

Partion.csv looks like
`# Name,   Type, SubType, Offset,  Size, Flags
# Note: if you change the phy_init or app partition offset, make sure to change the offset in Kconfig.projbuild
nvs,      data, nvs,     0x9000,  0x60

[2020-02-18 21:12] axbusch commented on #95
i do not see all threads. i think becaus of the freertos error?

here is my sdkconfig
![debugger](https://user-images.githubusercontent.com/42036054/74778391-c2cf5e80-529b-11ea-9a16-16b7cb0ec466.png)

[sdkconfig.txt](https://github.com/espressif/openocd-esp32/files/4221674/sdkconfig.txt)

[2020-02-19 06:48] ls6777 commented on #99
This is what happens when I try to run OpenOCD:

[code]

The instructions say to use esp32-wrover-kit-3.3v.cfg, but I don't see that file in the board directory.

[2020-02-19 08:02] igrr commented on #99
Are you using IDF v4.0? If yes, please make sure you refer to the corresponding version of documentation. The instructions vary depending on OpenOCD version, and different IDF versions install different OpenOCD versions.
These are the instructions for IDF v4.0, and they are compatible with your version of OpenOCD.
https://docs.espressif.com/projects/esp-idf/en/stable/api-guides/jtag-debugging/inde

[2020-02-19 10:51] gerekon commented on #95
@axbusch To get full OpenOCD log you need to run it with `-d3` option as mentioned here https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb. Could you post full log?

It seems that you do not resume target after programing, so it is halted after the reset and therefore you do not see any threads (app is not strated

[2020-02-19 11:08] gerekon commented on #86
Closed with 4ce5744e

[2020-02-19 11:08] #86 closed

[2020-02-20 05:46] ls6777 commented on #99
@igrr Thanks!!  There is so much documentation and it's easy to get lost between the different versions.  I followed the instructions from the link you provided and got it working.  Now I just need to get it working in eclipse.  Thanks again!!!

[2020-02-20 05:46] #99 closed

[2020-02-20 23:02] gerekon commented on #96
Closed with 554180e6af29e760799ecfe4d50be2dae5af3135

[2020-02-20 23:02] #96 closed

[2020-02-21 23:08] axbusch commented on #95
it seems like debugging works little better with debugging enabled :o:

[log](https://gist.github.com/axbusch/df2000d295680854eb713968ab393365)

But i see not all threadnames.

[log2](https://gist.github.com/axbusch/954bd53285a43020d8950017628d6fda)
Another one where i could start debugging and then connection is lost

[2020-02-22 16:24] gerekon commented on #95
Maybe this is Due to `Error: 1955 4474 fileio.c:90 fileio_open_local(): couldn't open D:/esp/remote/mp3decoder/build/esp32_mp3_decoder.bin`  ?
[code]

[2020-02-22 16:26] gerekon commented on #95
The second log has the same failure. It seems that you tries to debug app using old image.

[2020-02-23 21:52] axbusch commented on #95
hey, ok you are right :/

i made some mistake and it was all the time using the old program from earlier (in the old debug logs i had wrote 1241088 bytes from file D:/esp/remote/esp32_mp3_decoder/build/webradio.bin in 8.140012s (148.894 KiB/s)
** Programming...)

i see the threads now!
 after lowering jtag speed to 10khz and i also use ftdi_tdo_sample_edge falling it works better.
 at the moment i

[2020-02-28 15:28] phatpaul opened #100 "SegFault if factory app not located at 0x10000"
OpenOCD crashes with "Segmentation Fault" when trying to start debugging on ESP32-WROVER (16M).  I believe I found the issue to be that my factory app was relocated to 0x20000 to make room for an additional NVS partition (for reasoning see thread: https://esp32.com/viewtopic.php?f=13&t=14129)
The problem is gone if I move the factory app back to 0x10000.

It is inconveneient to move the factory ap

[2020-02-28 15:42] gerekon commented on #100
@phatpaul Thanks for the report. I will have a look at the crash.
To set app offset you need to add `mon esp32 appimage_offset 0x20000` into your GDB init commands or run OpenOCD with extra arguments as it is described [here](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/tips-and-quirks.html#flash-mappings-vs-sw-flash-breakpoints).
Could you check it?

[2020-02-28 15:46] gerekon commented on #100
@phatpaul  BTW, where is your partition table located? What offset?

[2020-02-28 16:30] phatpaul commented on #100
Thanks @gerekon I missed that part of the documentation.

I tried setting it via telnet and via command-line but I'm still getting an error when trying to run GDB.  Please see attached logs after trying that command.
[gdb_log.txt](https://github.com/espressif/openocd-esp32/files/4267989/gdb_log.txt)
[serial_log.txt](https://github.com/espressif/openocd-esp32/files/4267992/serial_log.txt)
[openocd.

[2020-03-02 16:56] salocinx opened #101 "Why do my Eclipse GDB sessions don't work anymore ?"
## Environment

- Development Kit:        ESP32-Wrover-Kit
- Module or chip used:  ESP32-WROVER
- IDF version:                v4.2-dev-414-g132cc67c0
- Build System:             CMake
- Compiler version:       xtensa-esp32-elf-gcc (crosstool-NG esp-2019r2) 8.2.0
- Operating System:     Linux (Ubuntu 18.04 LTS)
- Development IDE:      Eclipse CDT 2019.12
- Power Supply:            external 5V / 5A

[2020-03-02 19:07] salocinx commented on #101
Now it's working again, with the Blink example and my own, more complex, program. It seems that using GPIO 14, 15, 18 and 19 for MCPWM conflicted with the debug interface. Does somebody know which pins to **not** use when using JTAG debugging?

[2020-03-02 19:19] gerekon commented on #101
@salocinx You can not debug when you use JTAG pins for anything else. Please see https://github.com/espressif/esp-idf/blob/c1d0daf36d0dca81c23c226001560edfa51c30ea/components/soc/soc/esp32/include/soc/io_mux_reg.h#L198-L232

[2020-03-02 20:59] salocinx commented on #101
Thanks for clarifying! I am going to close this issue.

[2020-03-02 20:59] #101 closed

[2020-03-03 20:56] gerekon commented on #100
Partition  offset can be changed, but if it is at the default one you should be able to debug w/o any extra commands.
BTW I checked debugging of blink example at 0x20000 and it works with OpenOCD `v0.10.0-esp32-20191114`.

As I see from your first log program crashes with exception cause `StoreProhibitedCause` at address `0x4000C02B` somewhere in ROM code, probably `memset` or `memcpy`. ROM code s

[2020-03-06 14:46] adriantoro26 opened #102 "Unsupported version of tool open-esp32"
Hello everyone,

I have been having issue since I followed these [steps](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/jtag-debugging/building-openocd-linux.html) in order to use openocd for using SystemView with the ESP32. I installed successfully ESP-IDF, as well as openodc. However, everytime I turn on my laptop I got an error message (see image attached). One clue I have is

[2020-03-06 15:17] gerekon commented on #102
Strange poroblem... I think you need to check your `/home/adrian/.profile`. Could you post its contents?

[2020-03-07 15:33] adriantoro26 commented on #102
Hello, sure thing my .profile file is running the following command: **. $HOME/esp/esp-idf/export.sh**. This is the content for the export.sh script:
FYI: I ran the sudo make uninstall command inside openocd-esp32 folder, I'm rebooting my laptop now

# This script should be sourced, not executed.

function realpath_int() {
    wdir="$PWD"; [ "$PWD" = "/" ] && wdir=""
    arg=$1
    case "$arg" in

[2020-03-07 15:41] adriantoro26 commented on #102
Hello again!,
Running `sudo make uninstall` did the trick! Thank you very much!

[2020-03-07 15:42] #102 closed

[2020-03-24 15:11] #46 closed

[2020-03-27 21:21] lafar6502 opened #103 "Problem - can't debug ESP32 wrover under linux - ESP PROG, Jtag"
Can you please help me figure out what's wrong? Apparently i can connect to the board, but unable to start valid GDB debug session.

[code]
i'm using ESP prog jtag and debugging ESP32 Wrover board

-------------------------- GDB output ------------------
[code]

------ OPENOCD log -----------------------------------
Open On-Chip Debugger  v0.10.0-esp32-20200309 (2020-03-09-11:51)

[code]

[2020-03-27 21:31] lafar6502 commented on #103
[openocd.log](https://github.com/espressif/openocd-esp32/files/4396028/openocd.log)

[2020-03-30 14:08] gerekon commented on #103
@lafar6502 It seems that the target in some weird state and can not be halted by OpenOCD. Could you try to flash it using `esptool`? What is printed in UART?

[2020-03-31 13:21] howroyd opened #104 "invalid command name "program_esp""
Using the default cfg files except I have reduced my adapter speed.

I'm getting the error `invalid command name "program_esp"` and can't figure out why.

[code]

Without the -c flag I get thr following, which looks good to me?

[code]

Any ideas?

EDIT: Formatting

[2020-03-31 14:18] igrr commented on #104
Hi @howroyd, which IDF version are you using?

[2020-03-31 14:28] howroyd commented on #104
I should be on ESP-IDF Release v4.0, but I am going to double check that now and make sure Windows hasn't reverted a path to an older version I still have on my harddrive

[2020-03-31 14:33] gerekon commented on #104
@howroyd Could you check your `OPENOCD_SCRIPTS` env variable? It should have value like `C:/Users/Simon/.espressif/tools/openocd-esp32/v0.10.0-esp32-20190313/openocd-esp32/share/openocd/scripts`.
Also you can try `C:\Users\Simon\.espressif\tools\openocd-esp32\v0.10.0-esp32-20190313\openocd-esp32\bin\openocd.exe -s C:/Users/Simon/.espressif/tools/openocd-esp32/v0.10.0-esp32-20190313/openocd-esp32/s

[2020-03-31 14:52] howroyd commented on #104
`OPENOCD_SCRIPTS` had vanished so I have reinstated that and retried with the `-s` flag anyway in case windows is doing something odd.  Still getting the same error:

`E:\Simon\Documents\Code\hub_firmware\hub_esp32>C:\Users\Simon\.espressif\tools\openocd-esp32\v0.10.0-esp32-20190313\openocd-esp32\bin\openocd.exe -s "C:\Users\Simon\.espressif\tools\openocd-esp32\v0.10.0-esp32-20190313\openocd-esp32

[2020-03-31 14:55] howroyd commented on #104
....checked using git.  I am on `release/v4.0`

[2020-03-31 15:07] howroyd commented on #104
Without the `-c` flag, and using GDB (through eclipse) to send the `program_esp` commands I get the following, if it is of any help?  The number of threads is interesting!

[code]

[2020-03-31 15:21] igrr commented on #104
Please check that you are using IDF documentation which matches the IDF version. In your case, it is https://docs.espressif.com/projects/esp-idf/en/release-v4.0/api-guides/jtag-debugging/index.html#upload-application-for-debugging. In v4.0, the command is `program_esp32`. It was renamed to `program_esp` and a more recent version. Looks like you were reading the docs for "latest" version, i.e. mast

[2020-03-31 15:23] howroyd commented on #104
Cannot thank you enough!  My apologies for being a complete fool and not RTFM!

Cheers

[2020-03-31 15:23] #104 closed

[2020-04-01 07:58] lafar6502 commented on #103
Hi,
First of all, i got rid of the problem after some more or less relevant steps. But still dont have an explanation about what was going on
1. Switched from a virtual machine Linux to a Windows host (no VM)
2. powering the board now from its USB port, and disconnected the vcc wire from the JTag board
3. switched openocd board config script from esp32-wroom to esp32-wrover
But these scripts are a

[2020-04-17 05:44] sgeraci commented on #37
+1

[2020-04-20 00:57] csobrinho opened #105 "Can't connect to ESP32-S2 with OpenOCD / JTAG"
I tried to use the provided openocd but there doesn't seem to be any board config for the ESP32-S2. These **cfgs** seem to work:

**interface.cfg**
[code]

**board.cfg**
[code]

You also need a recent openocd, mine is:
[code]

[2020-04-20 01:06] igrr commented on #105
Hi @csobrinho, currently there are no board configs for ESP32-S2 because Espressif has not released any ESP32-S2 development boards yet which would have built-in JTAG adapters.

For now it is okay to use `-f interface/ftdi/esp32_devkitj_v1.cfg -f target/esp32s2.cfg`, if you are connecting an FT2232H based adapter to an ESP32-S2 dev board.

[2020-04-21 00:38] csobrinho commented on #105
hi @igrr, yes that's basically what I'm doing except the "target/esp32s2.cfg" has no `program_esp32` so maybe it can be added at the end? It's working well for me.

Only downside if that sometimes after a crash the core doesn't seem to properly reset (let's say this happens once every 1-2h) so I have to unplug the ESP32-S2 power and connect it again and the debug starts to work again.

[2020-04-21 08:31] igrr commented on #105
`program_esp32` has been replaced with non-target-specific `program_esp`, and it seems to be available for esp32s2, can you please check? `program_esp32` is still available for the ESP32, for compatibility.

Regarding the reset issue, could you try to capture the log file with debug enabled (`-d`)?

[2020-05-01 06:53] Wbaierl opened #106 "Failed to connect gdb to target wrover kit"
Hello, I'm new to development esp32.
I use the wrover kit 4.1 with Ubuntu18.04 on my pc.
when call idf.py gdb i get a timeout error.
_This GDB was configured as "--host=x86_64-build_pc-linux-gnu --target=xtensa-esp32-elf".
_Type "show configuration" for configuration details.
For bug reporting instructions, please see:
<http://www.gnu.org/software/gdb/bugs/>.
Find the GDB manual and other document

[2020-05-01 17:04] igrr commented on #106
Could you please post the output you get when running `idf.py openocd`?

[2020-05-02 05:46] Wbaierl commented on #106
The folllowing output I get when running idf.py openocd:
__Executing action: openocd
Note: OpenOCD cfg not found (via env variable OPENOCD_COMMANDS nor as a --openocd-commands argument)
OpenOCD arguments default to: "-f board/esp32-wrover-kit-3.3v.cfg"
OpenOCD started as a background task 53327
Executing action: post_debug
Open On-Chip Debugger  v0.10.0-esp32-20200420 (2020-04-20-16:15)
Licensed u

[2020-05-02 07:29] igrr commented on #106
On Linux you may need to configure udev rules, please check: https://github.com/espressif/openocd-esp32/blob/1d00e3e6984868f008f3ecc2550454e67297fb86/README#L237

[2020-05-03 20:55] Wbaierl commented on #106
perfect, copy the rules file worked.

thanks for the quick support

[2020-05-03 21:33] Wbaierl opened #107 "Launching debugger from eclipse - wrover 4.1 kit"
After configuration of debugger according espressif docu
[https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/using-debugger.html#jtag-debugging-using-debugger-eclipse](url)
**Start of the debug session fails with**

_Error in final launch sequence:
Halt command not defined for device 'Generic TCP/IP'
Halt command not defined for device 'Generic TCP/IP'_

**The op

[2020-05-04 10:00] #106 closed

[2020-05-04 10:04] gerekon commented on #107
@Wbaierl Could you collect and post full OpenOCD and GDB logs as described [here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb)?

[2020-05-04 11:29] gerekon commented on #37
@ashigupta @rebeliousconformist @exislow This issue seems to be closed. Do you observe exactly the same problem as described by topic starter?

[2020-05-04 12:58] Wbaierl commented on #107
Hello Alexej,
following I added the logs:
1. JTAG adapter:  Wrover 4.1 Kit
2. latest release of esp-idf
3. Ubuntu 20.04
4. running native on PC

Launching openocd
1) openocd -f board/esp32-wrover-kit-3.3v.cfg      -> openocd.log  does not contain any data
2) openocd -d 3 -f board/esp32-wrover-kit-3.3v.cfg    -> openocd.log contain the following error:
_User : 14 5 options.c:60 configuration_output

[2020-05-04 13:16] gerekon commented on #107
Sorry, there is a mistake in the docs.
You need to run `openocd -d3 -l openocd.log -f board/esp32-wrover-kit-3.3v.cfg`

You need to add `set remotelogfile gdb_log.txt` as the first initialization command, just before `mon reset halt`. As described [here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/using-debugger.html#jtag-debugging-using-debugger-eclipse
)

[2020-05-04 18:47] Wbaierl commented on #107
Hello Alexey, attached find the logfiles
[openocd.log](https://github.com/espressif/openocd-esp32/files/4576638/openocd.log)
[gdb_log.txt](https://github.com/espressif/openocd-esp32/files/4576639/gdb_log.txt)

[2020-05-05 05:14] #107 closed

[2020-05-05 05:15] Wbaierl commented on #107
debugging from eclipse 20.04 with wrover kit 4.1 now works

[2020-05-12 05:53] Wbaierl opened #108 "Debugger Wrover Kit fails -"
I suddenly, after debugging worked before, a problem when I start the debugging.

Environment Ubuntu - Eclipse - Openocd

_Error: JTAG scan chain interrogation failed: all ones
Error: Check JTAG interface, timings, target power, etc.
Error: Trying to use configured scan chain anyway...
Error: esp32.cpu0: IR capture error; saw 0x1f not 0x01
Warn : Bypassing JTAG setup events due to errors
Info : Li

[2020-05-12 08:28] gerekon commented on #108
@Wbaierl

It seems like problem with accessing JTAG TAP.
Could you check the wires? Maybe you need to reconnect them.

[code]

[2020-05-12 10:48] Wbaierl commented on #108
I use the Wrover Kit 4.1. So there is only the USB connector. Other wiring to FTDI is on the board.

[2020-05-12 18:45] Wbaierl commented on #108
Seems the problem is related to the use of GPIO (I used GPIO 12, 14,26).
GPIO 12 and 14 are used for JTAG, that's the reason the debugger failed.

[2020-05-12 18:45] #108 closed

[2020-05-13 17:33] cadelasss opened #109 "Target not halted error"
Hi,
suddenly I started getting the error target not halted in openocd 2020/04/20

**Environment:**
ESP32-wroom-32D
JTAG Adapter: ESP-prog
Eclipse withe

<pre>

* xtensa-esp32-elf: Toolchain for Xtensa (ESP32) based on GCC
  - esp-2020r1-8.2.0 (recommended, installed)
* xtensa-esp32s2-elf: Toolchain for Xtensa (ESP32-S2) based on GCC
  - esp-2020r1-8.2.0 (recommended, installed)
* esp32ulp-elf: Too

[2020-05-13 19:03] gerekon commented on #109
Hi
It seems to be a problem with JTAG connection. Please, check the wrires and ensure that you do not overrdie function of JTAG pins. See https://github.com/espressif/openocd-esp32/issues/108#issuecomment-627524119

[2020-05-14 14:34] cadelasss commented on #109
ok it apears that I use one of the jtag port by mistake
what should i do now to revert it
i use this comand but dosn't work `esptool.py --chip esp32 -p COM3 erase_flash`

[2020-05-14 15:51] gerekon commented on #109
I talked about various GPIO pin functions which can be assigned by the code running on target. See
https://github.com/espressif/esp-idf/blob/c1d0daf36d0dca81c23c226001560edfa51c30ea/components/soc/soc/esp32/include/soc/io_mux_reg.h#L205.

[2020-05-14 16:04] gerekon commented on #109
ESP32 Thing seems to have GPIO0 button for Download mode.

[2020-05-15 19:26] SERIDJ opened #110 "Débogage JTAG kit ESP32-Ethernet-Kit_A_v.1.1"
hi,

I'm trying to debug my code using terminal and i want after that use Eclipse with ESP32 C/C++ Development Tools
, I followed the espressif tuto (https://docs.espressif.com/projects/esp-idf/en/v4.0/api-guides/jtag-debugging/index.html) . I did exactly the same but when I'm launching the debugger I have the following problem :

board : ESP32-Ethernet-Kit_A_V1.1

![image](https://user-images.git

[2020-05-15 20:02] gerekon commented on #110
Hi @SERIDJ

It just programs the flash and then OpenOCD exits. That's why you can not connect to it with GDB.
After that you can run it using `openocd -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg`

Or, you can have a look at the detailed guide how to properly setup ESP32 Eclipse debugging https://docs.espressif.com/projects/esp-idf/en/v4.0/api-guides/jtag-debugging/using-debugg

[2020-05-15 20:23] SERIDJ commented on #110
@gerekon  thanks for ur replay :)

that what i did, but that not work ;(
![image](https://user-images.githubusercontent.com/46067255/82092945-7bba0380-96fa-11ea-98e2-9c1ba11f8b88.png)
*

i try with eclipse toot and i find i new soft for eclipse

![image](https://user-images.githubusercontent.com/46067255/82093033-a1470d00-96fa-11ea-9882-85825577839c.png)

[2020-05-15 20:44] gerekon commented on #110
Ok. Then I would recommend to try the following manual steps
1) Flash hello_world example using esptool and check that it works.
2) Run OpenOCD using `openocd -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg`
3) Create `gdbinit` file
[code]
4) Run GDB. `xtensa-esp32-elf-gdb -x gdbinit build/hello-world.elf`. You should stop at `app_main`
5) Add command to program flash to  `gdbinit

[2020-05-15 21:08] SERIDJ commented on #110
@gerekon  yes yes thanks, now it work bcs i didnt run it in the same time, that why

![image](https://user-images.githubusercontent.com/46067255/82096264-e40be380-9700-11ea-8c45-1acda9e3a416.png)

[2020-05-16 09:55] gerekon commented on #110
It looks like OpenOCD is not started by Eclipse. Or it is started, but exits due to error. Could you try to run OpenOCD manually as I described above? And then started the Eclipse debug session. Be sure to disable OpenOCD start in Eclipse to avoid possible conflicts.

[2020-05-16 18:07] SERIDJ commented on #110
@gerekon  yes yes it work, but how i can fixe that, i dont know where eclipse run OpenOCD

![image](https://user-images.githubusercontent.com/46067255/82126977-b0889200-97b0-11ea-92ee-c32f3f87b190.png)

[2020-05-18 12:01] kolipakakondal commented on #110
@SERIDJ  Yo! Happy that it's working for you.

Few notes:
1. I think what you're trying to do is Eclipse "GDB Hardware Debugging" - in this case, you need to run the GDB server from the command line and start the GDB client from the eclipse on the same port so that both will communicate.

Here is the documentation for the same https://docs.espressif.com/projects/esp-idf/en/v4.0/api-guides/jtag-deb

[2020-05-18 17:26] SERIDJ commented on #110
@kolipakakondal  yes yes thatr right, the first one work well when i run GDB server from command

and the second method "GDB OpenOCD Debugging" i follow the steps like :
1- npm install --global xpm@latest
2- xpm --version    (50.5.0)
3- xpm install --global @xpack-dev-tools/openocd@latest
4- xpm install --global @gnu-mcu-eclipse/openocd

i cant enable "Allocate console for OpenOCD" in Debugger and

[2020-05-19 06:36] kolipakakondal commented on #110
@SERIDJ Looks like you've not installed the standard GNU MCU eclipse plugin. You can follow these instructions https://medium.com/@kondal.kolipaka/gdb-openocd-debugging-in-eclipse-5a7a6661f32f

Hope this helps.

[2020-05-19 16:14] #109 closed

[2020-05-31 04:27] puppywang opened #111 "Any plan to support old ESP8266 chip?"
There is an old openocd folk supporting ESP8266, which is based on old openocd v0.9 version, (https://github.com/sysprogs/esp8266-openocd). If we can merge that, it would be easier for enthusiast to debug RTOS on old ESP8266. Thanks.

[2020-06-01 14:13] gerekon commented on #111
Hi @puppywang. We are considering the possibility to support ESP8266 in this repo. The support for Xtensa-based chips with different HW options has been improved. See [xtensa.c](https://github.com/espressif/openocd-esp32/blob/master/src/target/xtensa.c) and [xtensa_debug_module.c](https://github.com/espressif/openocd-esp32/blob/master/src/target/xtensa_debug_module.c)
But it is not in our nearest

[2020-06-01 20:13] sdrabb commented on #91
- Create the following file: `/etc/udev/rules.d/esp32link.rules `
- Containing these lines:
- `ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", MODE="664", GROUP="plugdev"`
- Restart your computer

[2020-06-02 11:58] puppywang commented on #111
Got, thanks for your information.

[2020-06-10 10:14] MPC-BlackBox opened #112 "Eclipse debugging breakpoint problems (OCD-346)"
Hi.
I am using the latest Ubuntu, esp-idf and eclipse with the expressif tools. Using the esp-prog jtag adapter.

I can connect to the ESP32 ok. Using the blink example I can program verify and run the program.

Inserting a break point at app_main does not work, this seems to be ignored. Also if the program is running and I insert a break point within app_main the program stops but eclipse shows t

[2020-06-13 06:47] v1993 commented on #35
I had the same error message and found a solution: I had to connect USB cable from PC to ESP32 as well as power pins from adapter. While ESP32 appeared to be working fine without USB power, JTAG did not.

Hope this will help someone else.

[2020-06-13 07:36] v1993 opened #113 "JTAG scan chain interrogation failed: all ones (on previously functional setup)"
I've decided to try and debug my ESP32 chip once again, only to be welcomed by this:

[code]

I'm using ESP-32-WROOM chip on devkit and CJMCU-232H (FT232H) adapter.

I've tried disconnecting all connected devices from ESP32 and flashing hello_world example just to be sure to no avail. Moreover, some time ago I had no problems using this adapter and board with older version of openocd (sadly can't

[2020-06-17 18:01] #91 closed

[2020-06-19 13:43] mikhail-khalizev opened #114 "Add support to read ChipId through openocd"
Hi.

How I see, now only `program_esp32` procedure supported. It's good, but not enough.

For example now I need to read ChipId through JTAG. And I do not surprise if in the future someone need to read / write efuse.

Can you add support for this features to openocd?

[2020-06-19 16:18] igrr commented on #114
Hi @mikhail-khalizev, i think it should be possible to read the MAC address from eFuse using OpenOCD commands.

Read 6 bytes of the MAC address into a TCL array `mac`:
[code]

Format `mac` array as a hexadecimal MAC address, and store result in `mac_str` variable.
[code]

Depending on what you actually need to do with this information (log the MAC address into some file, embed MAC address into a b

[2020-06-19 16:47] mikhail-khalizev commented on #114
Thanks for reply. But seems `mem2array` not exists:

[code]

File `esp32-ft232h.cfg`:
[code]

[2020-06-19 18:53] igrr commented on #114
I think mem2array becomes available after `init` command, so you should do something like: `openocd -f board/esp32-ethernet-kit-3.3v.cfg -c 'init; mem2array mac 8 0x6001a004 6; puts [format %02x:%02x:%02x:%02x:%02x:%02x $mac(5) $mac(4) $mac(3) $mac(2) $mac(1) $mac(0)]; exit'`

[2020-06-19 18:59] mikhail-khalizev commented on #114
Yes, you right, after `init` command `mem2array` recognized successfully. But failed with error:
[code]

[2020-06-19 19:37] igrr commented on #114
This seems to be a bug in v0.10.0-esp32-20190313, which got fixed in one of the more recent versions. You can work around it by adding and additional `esp32 set_permissive 1;` command between `init` and `mem2array`.

[2020-06-19 20:57] mikhail-khalizev commented on #114
Thanks, this solution works.

[2020-06-19 20:57] #114 closed

[2020-07-27 13:32] kifantidis opened #115 "openOCD - jtag debugging - Failed to write breakpoint instruction (-4)! (OCD-601)"
Hello there folks !
My set-up in order to program esp32 is this:

-OS: windows 10 x64
-Eclipse
-Esspressif's plugin
-openOCD version: Tested many versions at the moment I'm using latest release (openocd-esp32-win32-0.10.0-esp32-20200709)
-Module: ESP-WROOM-32D and ESP32-WROVER (kit)
-Programmer/Debugger: ESP-PROG
-Flash Memory: 4MB -- FW installed in 0x30000 (3x OTA partitions)
-Jtag Frequency: Te

[2020-07-28 20:32] BassMatiFreecad commented on #113
I am working on an FT4232HL board and got it working on Windows 10. I stumbled across the same error. My solution was to revert the WinUSB drivers back to the FTDI drivers (using Windows Device Manager), then again back to WinUSB with Zadig. At some point I also uninstalled the FTDI drivers and reinstalled "from scratch".

Check if your JTAG interface is ok by connecting the TDO input to ground. Y

[2020-07-28 21:05] BassMatiFreecad opened #116 "ftdi_layout_signal LED on FT4232HL Board"
Release v0.10.0-esp32-20200709

I am working on an FT4232HL board with a JTAG connector attached to channel B. I modifed esp32_devkitj_v1.cfg and got it working with an ESP DevKit v1. However, there are LED signals defined in the config file which I cannot use. I can comment out LED1...3, but must define the LED signal, otherwise I get tons of error messages "LED signal not defined".

Currently I'

[2020-07-29 07:36] igrr commented on #116
Hi @BassMatiFreecad, I see there are some interface config files which do not define the LED signal, like tcl/interface/ftdi/tumpa.cfg. So I think that not defining this signal should work.

Could you please paste the command line your are using to start OpenOCD, and the log output?

[2020-07-29 10:06] gerekon commented on #113
@v1993 The problem can be that you use wrong arguments for OpenOCD. Please, have a look at the doc https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/index.html#run-openocd

[2020-07-29 10:23] gerekon commented on #115
Hi @kifantidis

1) You need to run OpenOCD with correct arguments (https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/index.html#run-openocd). This year we re-structured board and chip config files. For your board you should use `openocd -f board/esp32-wrover-kit-3.3v.cfg`.
2) I see that you are trying to debug FW at non-default flash location `0x30000`. To make

[2020-07-29 13:59] BassMatiFreecad commented on #116
Console output:

&gt;cd
D:\Progs\esp-idf\openocd-esp32\share\openocd\scripts

&gt;..&bsol;..&bsol;..\bin\openocd -f interface/ftdi/ft4232hl.cfg -f board/esp-wroom-32.cfg
Open On-Chip Debugger  v0.10.0-esp32-20200709 (2020-07-09-08:54)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
adapter speed: 1000 kHz

WARNING: boards/esp-wroom-32.cfg is depreca

[2020-07-29 14:35] igrr commented on #116
If your adapter doesn't have an LED, then it is sufficient to remove the following line from your config file:
[code]
I've tested this locally and there aren't any errors when this option is removed.

Regarding the limitation that signals can only use the lower 16 bits of each channel, it seems that OpenOCD only implements two commands of FTDI MPSSE protocol: mpsse_set_data_bits_low_byte, mpsse_se

[2020-07-29 15:20] BassMatiFreecad commented on #116
I could swear that I already tried that with no avail - but actually it works! As always, the fault sits in front of the screen... Big thank you!

The FT4232 is a little bit different from the FT2232, because there are no upper bytes. There are 2 MPSSE on channel 0 and 1 with only the lower 8 data bits broken out to the pins, and two UART/BitBang engines on channels 2 and 3, also 8 bit wide, where

[2020-07-29 15:20] #116 closed

[2020-07-29 16:40] igrr commented on #116
Nice! If you will be looking at VS Code integration, recommend checking out https://github.com/espressif/vscode-esp-idf-extension.

[2020-08-02 15:42] lucaaAUT opened #117 "Esp-Prog ESP32 Flashing gives me error no -1401"
`Executing task in folder 200629-213850-arduino-blink: C:\Users\LucaMoser\.platformio\penv\Scripts\platformio.exe run --target upload <

Processing esp32dev (platform: espressif32; framework: arduino; board: esp32dev)

Verbose mode can be enabled via `-v, --verbose` option
CONFIGURATION:
PLATFORM: Espressif 32 1.12.4 > Espressif ESP32 Dev Module
HARDWARE: ESP32 240MHz, 320KB RAM, 4MB Flash
DEBUG:

[2020-08-07 12:12] gerekon commented on #117
@lucaaAUT
This is [ERROR_IMAGE_TYPE_UNKNOWN](https://gitlab.espressif.cn:6688/idf/openocd-esp32/-/blob/master/src/target/image.h#L108 ) error.
The path to the binary below seems strange. Could you check it?
[code]

[2020-08-07 12:32] gerekon commented on #117
Also that command looks strange. It should not have verify at the end.
Image should be [written](https://gitlab.espressif.cn:6688/idf/openocd-esp32/-/blob/master/tcl/target/esp_common.cfg#L84) with
[code]
and then [verified](https://gitlab.espressif.cn:6688/idf/openocd-esp32/-/blob/master/tcl/target/esp_common.cfg#L89) with a separate command
[code]
Try to use 'program_esp' instead of 'program_esp

[2020-08-07 12:34] lucaaAUT commented on #117
Thanks for your input gerekon.
Ill check that...- just need to work me into the Problem again.
Greets

[2020-08-08 12:19] lucaaAUT commented on #117
@gerekon

When i replace line 86 in esp_common.cfg:

`if {[catch {eval flash write_image erase $flash_args}] == 0} {`

With my hardcoded path:

`if {[catch {eval flash write_image erase C:/Users/LucaMoser/Documents/PlatformIO/Projects/200629-213850-arduino-blink/.pio/build/esp32dev/firmware.bin 0x10000}] == 0} {`

Then it works.

[2020-08-16 12:07] tholtom opened #118 "ESP32-IDF v4.01: Failing to connect to open ocd in Visual Studio Code (OCD-398)"
I installed one of the esp32 examples in Visual Studio Code, then configured with the ESP32 add on.  I can successfully build and flash to my Espressif Vromer kit, from within the Visual Studio Code environment.

I now want to debug.  In a linux terminal window I entered:
openocd -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg

And I connected without problems, getting the respons

[2020-08-18 07:03] an-dr commented on #118
Hi @tholtom!  It seems you haven't updated your openocd. For 4.0 we are using 20190708
(https://docs.espressif.com/projects/esp-idf/en/release-v4.0/api-guides/jtag-debugging/index.html#run-openocd).
I think you could try to run the install script and the problem will gone
https://docs.espressif.com/projects/esp-idf/en/release-v4.0/get-started/index.html#id2

Please try and write some lines with re

[2020-08-18 08:34] tholtom commented on #118
Hi an-dr.

I tried what you said.  Cloned the 4.01 (git clone -b v4.0.1 --recursive https://github.com/espressif/esp-idf.git) release and ran install and export.  When I enter: "openocd -f interface/ftdi/esp32_devkitj_v1.cfg -f board/esp-wroom-32.cfg"

I get:
wroom-32.cfg
Open On-Chip Debugger  v0.10.0-esp32-20190313 (2019-03-13-09:52)
Licensed under GNU GPL v2
For bug reports, read
	http://openoc

[2020-08-18 08:56] an-dr commented on #118
Okey, just checked on my machine. It seems idf uses what it should
![image](https://user-images.githubusercontent.com/4987803/90491472-44ffe900-e140-11ea-91c2-4653dde0a792.png)

So, the problem could be in your environment variables. Please check either you envvars in visual studio (if you set them up) or global envvars for your machine. In the last case you can search `edit environment variables

[2020-08-18 09:56] tholtom commented on #118
Hi an-dr,

I don't appear to have the facility to edit environment variables in my VS Code installation on Linux.

I had a look at my path with echo $PATH, and it looks like the earlier version is referenced.  This path is inserted into PATH when the ./install.sh and . ./export.sh scripts are run.

Looking at the actual installation in .espressif/tools/openocd-esp32 I have:
 v0.10.0-esp32-20190313

[2020-08-18 10:15] an-dr commented on #118
Oh, for some reason I've decided that you are on Windows :) I'm biased a little) Well, yes, you can download it from https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20200709

Also you could check that lines in you esp-idf local directory
https://gitlab.espressif.cn:6688/espressif/esp-idf/-/blob/release/v4.0/tools/tools.json#L210-213

Probably you need to pull the last commit

[2020-08-18 11:24] gerekon commented on #118
@tholtom @an-dr Do I understand correctly that the problem happens because VsCode tries to run OpenOCD using new style command `openocd -f board/esp32-wrover.cfg`. If yes, this is wrong because `esp32-wrover.cfg` does not include interface file and can not be used alone.
Instead  `board/esp32-wrover-kit-3.3v.cfg` or `board/esp32-wrover-kit-1.8v.cfg` files should be used which include all necessary

[2020-08-18 11:30] gerekon commented on #118
According to the [docs](https://github.com/espressif/vscode-esp-idf-extension/blob/a49ed5ace1fc775612eb4ee8ea59b556e054a5fa/docs/ONBOARDING.md#directly-modify-settingsjson) OpenOCD config files can be specified in `.vscode/settings.json`.
So @tholtom you can try to set `idf.openOcdConfigs` in it like
[code]

[2020-08-18 11:34] gerekon commented on #118
@tholtom Starting from OpenOCD `v0.10.0-esp32-20191008` you can use new config files and have it like
[code]

[2020-08-18 11:38] gerekon commented on #118
@an-dr @brianignacio5 Could you check that VsCode uses proper combination OpenOCD config files.
`openocd -f board/esp32-wrover.cfg` is invalid for any version of OpenOCD.

[2020-08-18 11:50] an-dr commented on #118
@gerekon Indeed there is one place [where used only `board/esp32-wrover.cfg`](https://github.com/espressif/vscode-esp-idf-extension/blob/master/package.json#L318) as a default value. I'll prepare a fix.

[2020-08-19 04:09] brianignacio5 commented on #118
In the visual studio code extension the `idf.openOcdConfigs` has a default value of `["board/esp32-wrover.cfg"]` but when you run the command `ESP-IDF: Set Espressif device target` the value of `idf.openOcdConfigs` is ["interface/ftdi/esp32_devkitj_v1.cfg", "board/esp32-wrover.cfg"] when you select **esp32** as target and `["interface/ftdi/esp32_devkitj_v1.cfg", "target/esp32s2.cfg"]` for **esp32s

[2020-08-21 02:43] tholtom commented on #118
Thanks guys for all your help!

Setting idf.openOcdConfigs to use:  ["interface/ftdi/esp32_devkitj_v1.cfg", "board/esp32-wrover.cfg"]

did the trick and my VS code ide now successfully connects to OpenOCD.

BTW is there a list anywhere of all the possible idf config settings in .vscode/settings.json?  I added this one, and several more have obviously been added by the Espressif deploy process in s

[2020-08-26 08:29] shwnyao-ultron opened #119 "Error: type 'esp32' is missing virt2phys"
JTAG adaptor: ARM-USB-TINY_H
ESP32: ESP32-WROOM-32D
ESP-IDF version: v4.1-rc
OS: macOS Catalina running natively on MacBook Pro

[code]

[2020-08-26 09:01] shwnyao-ultron commented on #119
The problem turned out to be on the hardware level.
My jumper wire to the CHIP_PU reset pin was broken. After changing the wire, the device was found.

[code]

[2020-08-26 09:01] #119 closed

[2020-08-31 12:09] Onuonga commented on #73
Any chance someone was able to look into this ? :-)

[2020-08-31 15:49] gerekon commented on #73
@Onuonga Do you have the same problem with the latest OpenOCD?

[2020-08-31 15:53] gerekon commented on #73
Since the topic starter did not respond I am going to close this issue unless someone else has the same problem with the [latest OpenOCD release](https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20200709).

[2020-09-11 02:36] hexffffffff commented on #72
I also see problems when uploading more than 4MB in ESP32. If you use more than 4MB in your module, then it does not start, but reboots all the time. I roughly figured out what the essence of the problem is. The fact ESP32 to download programs through the com port, it is used esptol. But esptol does not load the bootloader directly, it changes the binary "on the fly" by substituting the necessary

[2020-09-28 17:39] te-labs opened #120 "Unable to debug with external SPIRAM / JTAG"
Hello,

I can't debug when CONFIG_ESP32_SPIRAM_SUPPORT is set. As you can see on the log below, I never reach the first breakpoint located in app_main. There is no more log after the bootloader stage.
I debug without problem when CONFIG_ESP32_SPIRAM_SUPPORT is not set.

**Setup**
- ESP-IDF v4.1
- ESP32-WROVER-IE (FLASH 16MB)
- ESP-PROG JTAG
- openocd v0.10.0-esp32-20200709

**OpenOCD**

[code]

**

[2020-09-29 15:05] te-labs commented on #120
Problem solved after unset the option CONFIG_FREERTOS_UNICORE

Could someone explain why this option affect the debug?

[2020-10-16 10:47] #100 closed

[2020-10-19 20:29] pridgeway-rsc commented on #65
I was having this problem earlier today when I upgrade my OpenOCD_esp32 tool and found a fix for it.

The root problem is in file **/openocd-esp32/share/openocd/scripts/target/esp32.cfg** with how the **program_esp32** function calls **program_esp** when these files were refactor to move some of the argument logic to **/openocd-esp32/share/openocd/scripts/target/esp_common.cfg**.  The way it's wri

[2020-10-22 18:53] JarrettR opened #123 "Unexpected device found with the ESP32-PICO-D4"
I'm using a custom board with the bare ESP32-PICO-D4 on it, and the ESP-PROG for my programmer.

Results on an internet search for 0x240068cb / Dosilicon and ESP32 seem sparse, so it doesn't look like anyone else has had this issue.

[code]

Full disclosure, I'm using PlatformIO to initiate debugging, but I've also updated the built-in OpenOCD with the latest release from this repo, with no change

[2020-10-22 19:18] gerekon commented on #123
Hi @JarrettR . Looks like JTAG communication problem. I suggest
1) Ensure that your program does not override functions of JTAG pins. https://github.com/espressif/esp-idf/blob/c1d0daf36d0dca81c23c226001560edfa51c30ea/components/soc/soc/esp32/include/soc/io_mux_reg.h#L198-L232
2) Try to lower adapter speed to smth like 1000. https://github.com/espressif/openocd-esp32/blob/master/tcl/interface/ftdi/

[2020-10-23 00:26] JarrettR commented on #123
Lowering the adaptor speed helped, thanks a lot!

JTAG does some very unintuitive things with marginal electrical conditions

[2020-10-23 00:26] #123 closed

[2020-10-25 11:55] Miq1 opened #124 "Debug on DevKitC V4 (PlatformIO) failing"
I am trying to debug a DevKitC V4 with PlatformIO and openocd, JTAG adaptor is a genuine esp-prog. I can not get it to work. Here is an example debug output:
[code]
There are some output lines I am wondering about:
[code]
and
[code]
Why is that seemingly called twice? And why does it fail?

What I tried so far, but to no avail:
- lower the speed down to 1000 kHz
- install the latest openocd from h

[2020-10-26 10:50] gerekon commented on #124
Hi @Miq1

Could you run OpenOCD with `-d3` option to get verbose log? Unfortunately I do not know how to do this `platformio`

[2020-10-26 11:32] lienbacher opened #125 "Unable to compile on mac os 10.15.6"
I am trying to compile openocd-esp32 because the latest release seems incompatible with V3 silicon (I'm using a ESP32-Pico-V3). When I run the commands as per [the docs](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/building-openocd-macos.html#building-openocd-from-sources-for-macos) I get this error in make:
[code]

I found a possible solution suggesting ad

[2020-10-26 11:40] Miq1 commented on #124
I will try today and report back if I have the verbose log.

[2020-10-26 11:40] igrr commented on #125
Hi @lienbacher, support for ESP32 ECO3 has been added in release https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20191008. The latest release, https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20200709, should include that as well.

As to the compilation issues, thanks for reporting, will investigate. We cross-compile macOS releases of OpenOCD on Linux, wh

[2020-10-26 11:42] lienbacher commented on #125
Thank you @igrr!
The reason I'm trying to compile is because I am unable to get it running using platformio: https://community.platformio.org/t/esp32-pico-v3-fails-to-upload-debug-using-esp-prog/16734

[2020-10-26 11:55] gerekon commented on #125
Hi @lienbacher

Could you run OpenOCD with `-d3` option and collect  more verbose log?

[2020-10-26 11:57] lienbacher commented on #125
I would love to, however I am using the platformio plugin for vscode, and I have no idea how to add this option to the call :(

[2020-10-26 12:06] gerekon commented on #125
You can check this manually.
1) Download latest OpenOCD release.
2) Run it as `$OOCD_DISTRO_PATH/bin/openocd -s $OOCD_DISTRO_PATH/share/openocd/scripts -f board/esp32-wrover-kit-3.3v.cfg -d3 -l oocd.log -c "program_esp app.bin 0x10000 verify exit"`
3) Post `oocd.log` here

[2020-10-26 12:12] lienbacher commented on #125
Thank you! I have manually changed the path because i have no actual openocd install apart from what comes with platformio, but it ran, here's the log:

[oocd.log](https://github.com/espressif/openocd-esp32/files/5438638/oocd.log)

[2020-10-26 12:20] gerekon commented on #125
It seems that everything worked well
[code]

[2020-10-26 12:23] lienbacher commented on #125
My day is not going very well today XD
So the problem is exclusive to platformio i guess and not related to openocd
thank you very much!

[2020-10-26 12:25] gerekon commented on #125
You can also check that it works with legacy `program_esp32`. Because PlatformIO uses it instead of new `program_esp`

`$OOCD_DISTRO_PATH/bin/openocd -s $OOCD_DISTRO_PATH/share/openocd/scripts -f board/esp32-wrover-kit-3.3v.cfg -d3 -l oocd.log -c "program_esp32 app.bin 0x10000 verify exit"`

[2020-10-26 13:51] lienbacher commented on #125
Seems this command also worked. It did not close gracefully in the terminal though, had to Ctrl-C it, but it seems it uploaded fine. Attached is the log:
[oocd.log](https://github.com/espressif/openocd-esp32/files/5439154/oocd.log)

I have since also managed to run openocd from within vscode and got the probler error output: https://pastebin.com/SfG1Wi6k

[2020-10-26 14:06] Miq1 commented on #124
FYI: the easiest way to activate the verbose log was to add ``debug_level 3`` in the ``esp-wroom-32.cfg`` file.

That was quite a lot of log now 😉

[code]

[2020-10-26 14:36] gerekon commented on #125
It reports error `ERROR_IMAGE_TYPE_UNKNOWN`. It seems that `write_image` is called with incorrect args
`flash write_image erase .pio/build/esp32dev/firmware.bin 0x10000 verify`
`verify` should not be passed to this command. There is known error in `program_esp32` which calls `program_esp` with improperly formed args. It should be fixed by [this PR](https://github.com/espressif/openocd-esp32/pull/1

[2020-10-26 14:48] pridgeway-rsc commented on #125
Yes, you can use program_esp directly and it will work correctly (flash/verify).  We have a bunch of old build targets that use the program_esp32 that were failing without this fix when I updated to the last OpenOCD release.  Should we also add a warning statement to the program_esp32 that it is being depreciated and future calls should use program_esp directly instead?

Thanks,
Paul Ridgeway

Fro

[2020-10-26 14:51] gerekon commented on #124
@Miq1 It seems that now due to verbose output and low adapter freq (1000 KHz) you have errors due to timeouts. Could you increase adapter speed to 5000 KHz or 10000 KHz and ensure that log contains `** Programming Failed **` string as your initial one does?

[2020-10-26 14:52] gerekon commented on #124
@Miq1 BTW it could be the same problem described [here](https://github.com/espressif/openocd-esp32/issues/125#issuecomment-716494059)

[2020-10-26 14:55] gerekon commented on #125
@pridgeway-rsc Yes, I think this is good idea. I will add it with your PR or you can add this message to the PR yourself.

[2020-10-26 15:02] Miq1 commented on #124
Raising the adapter frequency to 20000 did not change anything in the output. I experimentally set ``debug_level 2`` and got the ``** Programming failed **`` but unfortunately no additional log output.

What else could I try?

[2020-10-26 15:10] gerekon commented on #124
Try these steps https://github.com/espressif/openocd-esp32/issues/125#issuecomment-716504583

[2020-10-26 15:11] pridgeway-rsc commented on #125
I went ahead and added the warning to my pull request and tested it locally.

Thanks,
Paul Ridgeway

From: Alexey Gerenkov <notifications@github.com>
Date: Monday, October 26, 2020 at 10:56 AM
To: espressif/openocd-esp32 <openocd-esp32@noreply.github.com>
Cc: Paul Ridgeway <pridgeway@petsafe.net>, Mention <mention@noreply.github.com>
Subject: Re: [espressif/openocd-esp32] Unable to compile on mac

[2020-10-26 15:17] lienbacher commented on #125
Thank you guys for your great help!
@gerekon chaning `program_esp32` to `program_esp` indeed enabled uploading. I've posted this information in the platformio community thread as well, hopefully they will update platformio soon.
It did however not fix debugging, I can only upload using the esp-prog.

[2020-10-26 15:28] gerekon commented on #125
@lienbacher Your log says that you still fail to program the chip. So breakpoint does not trigger.

[2020-10-26 15:35] Miq1 commented on #124
I am afraid I could not transfer the command line call you mentioned in the cited thread to my system. The oocd.log is quite short:
[code]

[2020-10-27 16:35] Miq1 commented on #124
This was caused by PlatformIO not correctly handling the recent versions of open-ocd. Using the latest development builds of PlatformIO core and esp32 platform solved the issue.

[2020-10-27 16:35] #124 closed

[2020-10-31 19:41] lienbacher commented on #125
The guys at platformio [have updated their project](https://community.platformio.org/t/esp32-pico-v3-fails-to-upload-debug-using-esp-prog/) to the latest open ocd and debugging V3 silicon works fine now!

The problem with compiling on mac os seems to remain though, so I'm leaving the issue open for now.

[2020-11-10 03:00] RavenLite opened #126 "Command 'flash write_image' failed with error code -1202"
Hi!

I found some similar problems here in [#125](https://github.com/espressif/openocd-esp32/issues/125) and [#117](https://github.com/espressif/openocd-esp32/issues/117)

And I changed my command from
[code]

to

[code]

according to the suggestions given in the issue (program_esp32 --> program_esp, ~~verify~~)
but it didn't still work.

<details>
<summary>Log with "-d"</summary>
<pre><code>
Open

[2020-11-10 16:03] gerekon commented on #126
Hi @RavenLite . According to the log
[code]
Could you ensure that relative path `build/partitions_singleapp.bin` is valid? Also you can try with absolute path

[2020-11-11 15:46] jepler opened #127 "Repeatable crash in xtensa-esp32s2-elf-gdb (regcache::assert_regnum)"
While debugging CircuitPython, I noticed that when the target is stopped at an "rfwu" instruction (or perhaps this specific instruction?) when the debugger connects, the debugger encounters an internal error and cannot continue.

gdb session:
[code]

openocd session:
[code]

[2020-11-11 21:34] dot4qu commented on #103
For anyone that still hasn't found a solution, I found that bumping the `adapter_khz` parameter in my custom interface .cfg file for openocd from 200 to 20000 solved my `Remote replied unexpectedly to 'vMustReplyEmpty'` issue.

Another point of interest to note was that after doing so, I could connect to the extended-remote gdb target successfully regardless of if I had flash the board using `idf.

[2020-11-12 10:19] igrr commented on #127
@jepler Could you describe, what is your process for stopping the program on `rfwu`? OpenOCD contains some logic to prevent that from occurring, maybe it isn't working correctly.

One other thing, could you please try setting `export ESP_XTENSA_GDB_PRIV_REGS_FIX=1` in the environment before running GDB? It may help in this situation.

[2020-11-12 13:34] RavenLite commented on #126
Yes, it is!
Thanks!

[2020-11-12 13:34] #126 closed

[2020-12-09 13:10] pwmb opened #128 "JTAG flashing program_esp verify is failing"
@pwmb: I tried this on the [Adafruit HUZZAH32](https://www.adafruit.com/product/3405) without success.

I can flash this board using the serial cable but I cannot using JTAG.
I can debug this board with my JTAG connection - without problem. (The same command as below - without the `-c` option)

Here is the output:
[code]

How to work around this problem?
Let me know if this should become a separat

[2020-12-09 13:12] pwmb commented on #128
@gerekon seems like this is open ocd issue and the user is unable to flash bin (failing at verify stage).

This issue is created via https://github.com/espressif/vscode-esp-idf-extension/issues/161#issuecomment-741739097

[2020-12-10 08:37] TobiasBoeschMiele commented on #128
Can someone please help me with this? It would be very helpful to get this solved soon.

[2020-12-10 18:50] gerekon commented on #128
Hi
@TobiasBoeschMiele Could you collect and post logs as described [here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb)?

[2020-12-11 10:55] TobiasBoeschMiele commented on #128
Instructions taken from https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb

1. In issue report provide details of your configuration:

   a. JTAG adapter type, and the chip/module being debugged.
        * First it was a SEGGER J-Link (with libusb driver / Zadig)
        * Now the ESP-Prog Board is used (with

[2020-12-11 10:57] TobiasBoeschMiele opened #129 "Issue templates"
To have users initially create good issues it's better to guide them through the [issue rules ](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb)by using github issue templates.
Creating it manually is a lot of extra work.

[2020-12-11 17:18] gerekon commented on #128
@TobiasBoeschMiele Please, collect openocd.log for your problem mentioned in start post.
I think you can do this by invoking  `openocd -l openocd_log.txt -d3 -f ./esp-huzzah-32.cfg  -c "program_esp build/myapp.elf 0x10000 verify reset exit"`

[2020-12-11 17:19] gerekon commented on #128
Also it would be good to have your `esp-huzzah-32.cfg` file.

[2020-12-11 17:22] gerekon commented on #128
BTW I just notices that you are trying to flash ELF file. That's wrong you need to flash `build/myapp.bin`.
So, please, try the following command `penocd -l openocd_log.txt -d3 -f ./esp-huzzah-32.cfg -c "program_esp build/myapp.bin 0x10000 verify reset exit`

[2020-12-14 13:02] TobiasBoeschMiele commented on #128
Using the `bin` file instead of the `elf`file makes flashing and verifying work. Thanks for looking at the details!
The [eclipse plugin](https://github.com/espressif/idf-eclipse-plugin) automatically selects the elf file for flashing. That should be changed.

[2020-12-14 13:31] #128 closed

[2020-12-18 08:28] Tongxins opened #130 "[JTAG][openocd]Error: JTAG scan chain interrogation failed: all ones"
I’m trying to debug Cortex-A55 chip on FPGA but I keep getting the following errors:
(I type the command :openocd.exe -f scripts/interface/jlink.cfg -f scripts/board/k6.cfg -d3)
[code]
The hardware platform can be connecting by trace32 but encountered error by openocd.
The configuration file is as follows:
jlink.cfg:
[code]
k6.cfg:
[code]
When i type the command :openocd.exe -f scripts/interface/j

[2020-12-18 10:32] igrr commented on #130
@Tongxins  are you sure you are reporting the issue in the correct place? This is a repo for Espressif fork of OpenOCD, modified to support Xtensa architecture and ESP32 series of chips. For other targets, you might need to report the issue upstream at https://sourceforge.net/p/openocd/tickets/.

[2020-12-18 10:32] #130 closed

[2020-12-18 14:28] MAbjadpour opened #131 "JTAG scan chain interrogation failed: all ones"
I've been trying to program the _ESP32-WROOM-32E_ and _ESP-DevKitC-v4_ (based on 32E) modules over JTAG (both on MacOS 10.15.4 and Windows 10) for the past two days and every single try has failed following the same error. It's worth mentioning that I erased the flash memories of these modules entirely before any attempt to program them over JTAG. This eliminates the possibility that the JTAG pins

[2020-12-21 16:09] gerekon commented on #131
Hi @MAbjadpour
Could you post pinout of you JTAG wrires? How did you connect ESP-Prog to the chip?

[2020-12-22 18:21] MAbjadpour commented on #131
Hi @gerekon
Thanks for your reply. I actually figured out that the issue I've been facing originates from the original ESP module's firmware. Apparently the modules come pre-programmed with the default AT command firmware which interferes with JTAG pins and makes it impossible to use JTAG.

Is there anyway I can erase the stock firmware via JTAG, and not via the serial bootloader?

Wires are about

[2020-12-23 09:45] igrr commented on #131
@MAbjadpour You can re-program flash on these pre-programmed modules over JTAG if you start the module in download mode. To do this, make sure GPIO0 is grounded at power-on.

[2020-12-23 10:23] MAbjadpour commented on #131
Thanks a lot @igrr. That solved the problem!

[2020-12-23 10:23] #131 closed

[2020-12-28 07:14] kaibin1111 opened #132 "JTAG Debugging Error (IDFGH-4502)"
C:\Users\make\esp\esp-idf>openocd -f interface/jlink.cfg -f board/esp-wroom-32.cfg
Open On-Chip Debugger  v0.10.0-esp32-20200709 (2020-07-09-08:54)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
adapter speed: 15000 kHz

WARNING: boards/esp-wroom-32.cfg is deprecated, and may be removed in a future release.
Info : Configured 2 cores
Info : Listenin

[2020-12-28 07:48] igrr commented on #132
@kaibin1111 The "IR capture error; saw 0x1f not 0x01" message indicates that the debug probe is not able to communicate with the target. Please check the wiring and ensure that the code running on the target doesn't reconfigure JTAG pins for other purposes (such as SPI).

[2020-12-28 08:14] kaibin1111 commented on #132
The wiring should be all right，Now the output is as follows

C:\Users\make\esp\esp-idf>openocd -f interface/jlink.cfg -f board/esp-wroom-32.cfg
Open On-Chip Debugger  v0.10.0-esp32-20200709 (2020-07-09-08:54)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
adapter speed: 15000 kHz

WARNING: boards/esp-wroom-32.cfg is deprecated, and may be removed i

[2020-12-28 11:30] gerekon commented on #132
@kaibin1111
I recommend to lower the adapter clock to 1000-3000 KHz
[code]

[2020-12-29 00:53] kaibin1111 commented on #132
The board example is bink. Now the output is as follows.

C:\Users\make\esp\esp-idf>openocd -f interface/jlink.cfg -f board/esp-wroom-32.cfg
Open On-Chip Debugger  v0.10.0-esp32-20200709 (2020-07-09-08:54)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
adapter speed: 1000 kHz

WARNING: boards/esp-wroom-32.cfg is deprecated, and may be removed in a

[2020-12-29 11:05] gerekon commented on #132
Is it flashed (already in flash)? Just to be sure that JTAG pins functions are not overriden by app. Or you can put board in to UART download mode by pressing 'Boot' button (or connecting GPIO0 to GND) during reset.

Could you post how you connect JTAG pins to JLINK?

[2020-12-30 02:58] kaibin1111 commented on #132
Board :ESP-WROOM-32.
Leds can flash( LED-GPIO2)

Connect
ESP32     J-LINK
TDO        TDO
TDI          TDI
TCK         TCLK
TMS        TMS
GND        GND

[2020-12-30 04:39] JimGaluska commented on #113
Tying GPIO pin 15 to ground during boot suppresses the boot messages sent out the serial port by the ROM bootloader ([link](https://github.com/espressif/esptool/wiki/ESP32-Boot-Mode-Selection#other-pins)).

It also causes the exact same issue shown above.

The fix is as easy as: Don't do that - Remove the jumper from GPIO 15 to ground and try it again.

[2020-12-30 04:41] JimGaluska commented on #113
Tying GPIO 15 to ground suppresses the messages sent out to the serial port by the ROM bootloader ([link](https://github.com/espressif/esptool/wiki/ESP32-Boot-Mode-Selection#other-pins)).

It also causes the exact same issue shown above.

The fix is as easy as: Don't do that - Remove the jumper from GPIO 15 to ground and try it again.

[2020-12-30 10:18] gerekon commented on #132
ESP32 J-LINK
TDO TDO
TDI TDI
TCK TCLK
TMS TMS
GND GND

Looks correct ;-), but I asked about ESP32 pin numbers you connected to.
BTW, What type of ESP32 board do you use?

[2020-12-30 10:44] kaibin1111 commented on #132
Board ： NodeMCU-32S

[2020-12-30 11:54] gerekon commented on #132
It seems that you should connect JLINK to:
JTAG >  NodeMCU-32S (ESP32)
TDI -> Pin18 (GPIO12)
TCK -> Pin20 (GPIO13)
TMS -> Pin17 (GPIO14)
TDO -> Pin21 (GPIO15)

Could you check this?

[2020-12-31 00:46] kaibin1111 commented on #132
I checked it. There are no mistakes

[2020-12-31 01:30] kaibin1111 commented on #132
Thank you very much for your answer. I've solved it

[2020-12-31 06:20] #132 closed

[2021-01-02 07:11] brainstorm opened #133 "Enable remote_bitbang by default on next release?"
Hello Espressif,

I'm connecting to the ESP32S2 using the newly released "Glasgow" explorer board:

https://www.crowdsupply.com/1bitsquared/glasgow

Which supports that `remote_bitbang` probe interfacing via a [so-called FPGA "applet"](https://github.com/GlasgowEmbedded/glasgow/blob/master/software/glasgow/applet/interface/jtag_openocd/__init__.py):

[code]

Unfortunately, to my surprise, I found

[2021-01-02 10:40] brainstorm commented on #133
OTOH, enabling `BUILD_REMOTE_BITBANG  1` from a `master` clone still fails:

[code]

But there's the last `jtag_esp_remote` which seems to [have been implemented just a few months ago](https://github.com/espressif/openocd-esp32/commit/1b3455a5ed3c79e36806a8fb42be2a22fa111630)... are there any official docs on how to use that new interface? What was the reasoning behind not having the generic `remo

[2021-01-02 10:56] brainstorm commented on #133
Navigating the `jtag_esp_remote` commit referred above and its sample `.cfg` file...

[code]

[2021-01-02 11:06] brainstorm commented on #133
Finally:

[code]

[2021-01-04 02:22] igrr commented on #133
@brainstorm `jtag_esp_remote` is a different protocol from `remote_bitbang`, so as you have probably already realized, it won't work with tools that implement `remote_bitbang`. So far, we don't have devices which natively support `jtag_esp_remote` protocol released publicly, it is added as a provision for future devices.
Can definitely enable `remote_bitbang` protocol in the next release.

[2021-01-04 02:25] brainstorm commented on #133
Yes, figured, thanks Igor, I'll fix up the PR tonight ;)

[2021-01-11 10:25] brainstorm opened #135 "Optimize ESP32S2-Saola-1 remote bitbang w/ Glasgow JTAG (OCD-289)"
As commented in the issue originated in https://github.com/espressif/openocd-esp32/pull/134 and my subsequent attempts under:

https://github.com/espressif/vscode-esp-idf-extension/issues/285#issuecomment-757549031

The first error in the debug logs is:

`Error: 340 5543 target.c:587 target_halt(): Target not examined yet`

I've added the `gdb-attach` behavior since it was missing in the `esp32s2.

[2021-01-11 11:26] brainstorm commented on #135
Breakpointing w/ `lldb` in `target_halt()` and reading some code I'm wondering why `esp32s2_soc_reset()` is never called? Seems to do exactly what's needed for the ESP32S2?

[2021-01-11 17:41] gerekon commented on #70
@jaoh Could you check if problem still exists with the latest OpenOCD release (https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20201202)?

[2021-01-11 17:42] gerekon commented on #69
@VivekRajpara If it is still actual. Could you check if problem still exists with the latest OpenOCD release (https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20201202)?

[2021-01-11 17:46] gerekon commented on #38
Guys, If it is still actual. Could you check if problem still exists with the latest OpenOCD release (https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20201202)? We've made huge refactoring and applied many fixes since that time.

[2021-01-11 18:02] #21 closed

[2021-01-11 18:21] gerekon commented on #54
The code was refactored a lot. Problem can not be reproduced on current master.

[2021-01-11 18:21] #54 closed

[2021-01-11 18:25] gerekon commented on #65
@yaqwsx If it is still actual. Could you check the problem with the latest release (https://github.com/espressif/openocd-esp32/releases/tag/v0.10.0-esp32-20201202)?

[2021-01-11 18:52] gerekon commented on #44
That was fixed in out toolchain using temporary solution.  Full solution will be implemented later. Now to overome this problem you need to run GDB with defined envvar `ESP_XTENSA_GDB_PRIV_REGS_FIX=1`

[2021-01-11 18:52] #44 closed

[2021-01-11 19:09] #32 closed

[2021-01-11 19:13] gerekon commented on #50
It was added in c89fe74cc6bcf43819b69f7429b11f12a47d7411

[2021-01-11 19:13] #50 closed

[2021-01-12 03:08] summer20100514 opened #136 "esp prog (FT2232H) debug using openocd is extremely slow (OCD-288)"
1. JTAG adapter type, and the chip/module being debugged.
**[JTAG]**
it is espressif official esp-prog jtag, which is based on FT2232H.
[ESP-Prog_guide_en](https://github.com/espressif/esp-iot-solution/blob/master/documents/evaluation_boards/ESP-Prog_guide_en.md)
**[CHIP]**
rst:0xc (SW_CPU_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x

[2021-01-12 07:26] yaqwsx commented on #65
@gerekon: I don't have an ESP32 laying around right now, I will try to test it within a week and let you know.

[2021-01-13 09:18] brainstorm commented on #135
Now things might get a bit more interesting with `-c "init; reset; halt"` as @projectgus kindly pointed out:

[code]

Time to connect my oscilloscope to those JTAG lines and step through the Glasgow applet it seems ;)

[2021-01-13 13:01] brainstorm commented on #135
![RigolDS12](https://user-images.githubusercontent.com/175587/104455382-523fd780-55fb-11eb-82db-88af231d05b4.png)
![RigolDS11](https://user-images.githubusercontent.com/175587/104455390-553ac800-55fb-11eb-8b22-61547ae20a78.png)
![RigolDS10](https://user-images.githubusercontent.com/175587/104455395-57048b80-55fb-11eb-871c-82f4f6be2bec.png)
![RigolDS9](https://user-images.githubusercontent.com/1755

[2021-01-13 14:18] brainstorm commented on #135
After flashing the firmware with the following commandline:

[code]

I'm getting this output from OpenOCD right after:

[code]

[2021-01-13 14:43] brainstorm commented on #135
More unexpected messages... the target flashes and seems to run well anyway, so I'm not sure if this is a symptom of a damaged JTAG pins/port?:

[code]

[2021-01-14 08:48] gerekon commented on #136
Hi @summer20100514
There is some optimization work planned for FreeRTOS related code. Currently every time target is stopped it goes through the whole tasks list and read them out.
If you do not need RTOS support you can try to run OpenOCD with the following command line:
`openocd -c 'set ESP_RTOS "none"' -f board/esp32-wrover-kit-3.3v.cfg`
or
`openocd -c 'set ESP_RTOS "hwthread"' -f board/esp32-w

[2021-01-14 08:54] gerekon commented on #136
Also, please disable OpenOCD verbose log out put `-d2` and default adapter clock 20 MHz

[2021-01-15 02:08] summer20100514 commented on #136
@gerekon the debug speed improved a lot after I disabled FreeRTOS support, thank you. but still not as quick as possible with noticeable delay. what should I do next?

[2021-01-15 02:35] summer20100514 commented on #136
@gerekon seems better on win10 instead of virtualbox ubuntu18.04 even if with ESP_RTOS support enabled. so is there any compatibility issue with virtualbox openocd?

[2021-01-15 12:50] brainstorm commented on #135
Hm, setting up the Glasgow at 2.9V instead of 3.3V it **almost** works... OpenOCD struggles a bit though:

[code]

But on the GDB side, things start to finally make sense!:

[code]

[2021-01-15 13:24] gerekon commented on #136
There should be no compatibility issue. But when you run SW in virtual machine it is normal that it works slower. In case of OpenOCD USB data have to go through two USB stacks: Windows + Ubuntu and this introduces additional delays.
To get the higher speed it is recommended to run OpenOCD on host system and connect JTAG adapter directly to host USB port (w/o additional USB-hubs).

[2021-01-15 13:25] gerekon commented on #136
@summer20100514
Can we close this issue?

[2021-01-15 13:35] gerekon commented on #135
It seems that the problems are definitely with JTAG communication.
[code]
We have not tested JTAG debugging with remote bitbang driver. Due to its nature there can be problems with voltage levels, timings and so on. I think this can be solved, but even solved it will work much slower then HW JTAG adapters.
So currently this is not on our short-term task list.

[2021-01-15 13:37] gerekon commented on #135
@brainstorm
Maybe it is worth to try with any other supported HW JTAG adapter?

[2021-01-15 13:42] brainstorm commented on #135
Thanks @gerekon, I understand your concerns, but I'm about to fix this for good, it's just a wiring issue:

![RigolDS20](https://user-images.githubusercontent.com/175587/104733655-2192a600-5793-11eb-95a2-45284982a6c9.png)
![RigolDS19](https://user-images.githubusercontent.com/175587/104733665-25262d00-5793-11eb-878f-1dfd4feeeea5.png)

I think that even if it's slower, it's a very accessible way to

[2021-01-15 13:45] brainstorm commented on #135
Besides, I do not plan to flash via JTAG (I'll do via UART instead), so speed shouldn't really be an issue for backtrace printing and some stepping and variable inspection I reckon? Or is it in your experience?

[2021-01-15 13:59] #73 closed

[2021-01-16 08:06] brainstorm commented on #135
The funky waveform shape on TDO was due to a missing pullup, configurable on Glasgow this way:

[code]

Now it's fixed:

![RigolDS21](https://user-images.githubusercontent.com/175587/104806641-1ee48f00-582d-11eb-93c9-8706eccf3bf4.png)
![RigolDS22](https://user-images.githubusercontent.com/175587/104806643-2310ac80-582d-11eb-8f5c-a24ad006d0f6.png)
![RigolDS23](https://user-images.githubusercontent.

[2021-01-16 08:20] brainstorm commented on #135
Aand bingo! **Going up to 500kHz (instead of the default 100kHz**, I don't get any errors anymore!):

[code]

[2021-01-18 01:11] summer20100514 commented on #136
@gerekon ok, thank you.

[2021-01-18 01:11] #136 closed

[2021-01-19 04:15] brainstorm commented on #135
By the way, now that I got it working (relatively slow, but working), **I can reproduce exactly this seemingly unresolved 2019 OpenOCD issue where @igrr seems to be involved: https://esp32.com/viewtopic.php?t=11181**

After launching OpenOCD I'm now getting the following on GDB on a "fresh" session:

[code]

The thing works "fine" after ignoring those errors though:

[code]

One interesting observ

[2021-01-19 13:56] ChrisIdema opened #137 "debugging with JTAG no longer works"
1. my board: esp32doit-devkit-v1
2. debugger: jtag-lock-pick_tiny_2 (based on FTDI FT232H)
3. OS: Ubuntu 20
4. ide: vscode with platformio
5. Project: https://github.com/ChrisIdema/esp32_debug_test

Debugging with JTAG no longer works. I've tried multiple devkits. Replaced wiring. Tried different versions of openocd-esp32 and of platform espressif32. Erased flash. Reinstalled everything. Added off

[2021-01-19 14:12] gerekon commented on #137
Hi @ChrisIdema
Could you collect verbose logs as described [here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/jtag-debugging/tips-and-quirks.html#reporting-issues-with-openocd-gdb)?

[2021-01-19 14:21] ChrisIdema commented on #137
@gerekon
I've updated my post with the log.

[2021-01-19 17:41] ChrisIdema commented on #137
Switch back to the old wiring and now it works. Must have been a bad contact in combination with incorrect settings. Now everything works.

[2021-01-23 12:12] rokk0 opened #138 "ESP-IDF semihost example doesn't work under Windows. (OCD-292)"
Please help, I'm tying to run ESP-IDF example of REST server with semihost file upload through JTAG, but can't make it work.

https://github.com/espressif/esp-idf/tree/master/examples/protocols/http_server/restful_server

In my project I'm using ESP32-WROOM-32, FT2232HL JTAG, Eclipse IDE running under Windows 10. SD variant of that example works fine, but when I set semihost through menuconfig "C:

[2021-01-23 13:56] rokk0 commented on #138
Also tried running openocd inside eclipse using this guide: [https://medium.com/@kondal.kolipaka/gdb-openocd-debugging-in-eclipse-5a7a6661f32f](https://medium.com/@kondal.kolipaka/gdb-openocd-debugging-in-eclipse-5a7a6661f32f) but with only these config options in Debugger tab, output still same:
[code]

[2021-01-23 15:38] rokk0 commented on #138
Looks like I found the solution of my problem. I was confused by "Host path to mount (e.g. absolute path to web dist directory) " option in project menuconfig, specifically "absolute path to web dist directory". If you run openocd with absolute path in ESP_SEMIHOST_BASEDIR argument, you need to leave "Host path to mount" value empty or just set second argument in esp_vfs_semihost_register function